<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{$basePath}/css/export/style.css">
    </head>

    <body>
        <div class="container-fluid">
            {include #content}
        </div>
    </body>
</html>




