services:
    - App\Model\Program\Repositories\BlockRepository
    - App\Model\Structure\Repositories\SubeventRepository
    - App\Model\User\Repositories\UserRepository
    - App\Model\Program\Repositories\CategoryRepository
    - App\Model\Acl\Repositories\RoleRepository
    - App\Model\Program\Repositories\ProgramRepository
    - App\Model\Program\Repositories\ProgramApplicationRepository
    - App\Model\Application\Repositories\ApplicationRepository
    - App\Model\Settings\Repositories\SettingsRepository

    - class: App\Model\Program\Commands\Handlers\SaveCategoryHandler
      tags:
        messenger.messageHandler:
        bus: commandBus
    - class: App\Model\User\Commands\Handlers\RegisterProgramHandler
      tags:
        messenger.messageHandler:
        bus: commandBus
    - class: App\Model\User\Commands\Handlers\UnregisterProgramHandler
      tags:
        messenger.messageHandler:
        bus: commandBus
    - class: App\Model\Mailing\Commands\Handlers\CreateTemplateMailHandler
      tags:
        messenger.messageHandler:
        bus: commandBus

    - class: App\Model\Program\Queries\Handlers\ProgramAttendeesQueryHandler
      tags:
        messenger.messageHandler:
        bus: queryBus
    - class: App\Model\Program\Queries\Handlers\ProgramAlternatesQueryHandler
      tags:
        messenger.messageHandler:
        bus: queryBus
    - class: App\Model\User\Queries\Handlers\UserAllowedProgramsQueryHandler
      tags:
        messenger.messageHandler:
        bus: queryBus
    - class: App\Model\Settings\Queries\Handlers\SettingStringValueQueryHandler
      tags:
        messenger.messageHandler:
        bus: queryBus
    - class: App\Model\Settings\Queries\Handlers\SettingBoolValueQueryHandler
      tags:
        messenger.messageHandler:
        bus: queryBus

    - class: App\Model\Program\Events\Subscribers\CategoryUpdatedEventListener
      tags:
        messenger.messageHandler:
        bus: eventBus
    - class: App\Model\User\Events\Subscribers\ProgramRegisteredEventListener
      tags:
        messenger.messageHandler:
        bus: eventBus
    - class: App\Model\User\Events\Subscribers\ProgramUnregisteredEventListener
      tags:
        messenger.messageHandler:
        bus: eventBus
    
includes:
- ../../config/common.neon