{block progress}50%{/block}

{block header}{_install.admin.heading}{/block}

{block content}
    <p>{_install.admin.text}</p>
    <a class="btn btn-primary" href="{link createAdmin!}">{_install.admin.create_admin}</a>
{/block}
