{block progress}0%{/block}

{block header}{_install.admin.header}{/block}

{block content}
    <p>{_install.schema.text}</p>
    <a class="btn btn-primary" href="{link importSchema!}">{_install.schema.continue}</a>
{/block}
