{block progress}0%{/block}

{block header}{_install.schema.heading}{/block}

{block content}
    <p>{_install.schema.text}</p>
    <p><a class="btn btn-primary" href="{link importSchema!}">{_install.schema.create_schema}</a></p>
{/block}
