{block progress}0%{/block}

{block header}{_install.error.header}{/block}

{block content}
    <p>{_install.error.text}</p>
    <a class="btn btn-warning" href="{link reinstall!}">{_install.error.reinstall}</a>
{/block}