{block progress}100%{/block}

{block header}{_install.finish.heading}{/block}

{block content}
    <p>{_install.finish.text}</p>
    <p><a class="btn btn-primary" href="{plink :Web:Page:default}">{_install.finish.redirect_home}</a></p>
{/block}