{block progress}100%{/block}

{block header}{_install.installed.heading}{/block}

{block content}
<p>{_install.installed.text}</p>
<a class="btn btn-primary" href="{plink :Web:Page:default}">{_install.installed.redirect_home}</a>
{/block}