{block progress}25%{/block}

{block header}{_install.schema.header}{/block}

{block content}
    <p>Pokračujte vytvořením tabulek. Odstrante data z predchozi instalace!</p> {*TODO*}
    <a class="btn btn-primary" href="{link importSchema!}">{_install.schema.continue}</a>
{/block}
