{block progress}50%{/block}

{block header}{_install.skautis.header}{/block}

{block content}
    <p>
        {_install.skautis.text_begin}<a href="http://is.skaut.cz/napoveda/Technicka-podpora-Junaka.ashx">{_install.skautis.text_link}</a>{_install.skautis.text_end}
    </p>
    {control skautISForm}
{/block}