#container {
    margin-top: 50px;
}

.grid-flash.success span {
    color: green !important;
}

.table-roles {
    margin-top: 20px;
}


.sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; display: block; background-color: #f5f5f5; }
.sortable li span { float: left; }