#container {
    margin-top: 50px;
}

.grid-flash.success span {
    color: green !important;
}

.table-roles {
    margin-top: 20px;
}

.table-roles td {
    padding: 2px 5px 2px 5px
}

.sort-arrow {
    cursor: pointer;
}

.hidden {
    display: none;
}

input.number {
    width: 30px;
}



#pageContents textarea {
    width:  100%;
    height: 200px;

}

#pageContents {
    margin-left: 0;
    margin-bottom: 60px;
}

#frmpageForm-submit_content {
    margin-top: -8px;
}

#pageContents ul, li {
    list-style-type: none;
}

.pageContent {
    position: relative;
}

.button-bar input {
    margin-right: 5px;
}

li.active input {
    border-color: black !important;
}

.faqForm textarea {
    width: 500px;
    height: 100px;
}
.calendar-blocks .blocks-container {

}

.calendar-blocks .block {
    margin: 10px auto;
    padding: 2px;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
    width: 150px;
    border-radius: 2px;
    background-color: #3366CC;
    border-color: #3366CC;
}

ul.block-properties span {
    font-weight: bold;
}

.calendar-blocks .block h6 {
    margin-bottom: 0px;
}
.calendar-blocks .block span {
    color: orange;
}

ul.no-margin li {
    margin-left: 0 !important;
    padding-left: 0 !important;
    line-height: 1em;

}

ul.no-margin {
    margin-left: 0 !important;
    padding-left: 0 !important;
}


