#container {
    /*margin-top: 50px;*/
}


body {
    padding-top: 60px;
    padding-bottom: 40px;
}

@media (max-width: 1200px) {
    body {
        padding-top: 90px;
    }
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .sidebar-nav.affix {
        float: none;
        position: static !important;
    }

    body {
        padding-top: 0;
    }
}

label.required:after, tr.required label:after {
    content: " *";
    color: #ff0000;
    font-weight: bold;
}


.grid-flash.success span {
    color: green !important;
}

.table-roles {
    margin-top: 20px;
}

.table-roles td {
    padding: 2px 5px 2px 5px
}

.sort-arrow {
    cursor: pointer;
}

.hidden {
    display: none;
}

input.number {
    width: 30px;
}



#pageContents textarea {
    width:  100%;
    height: 200px;

}

#pageContents {
    margin-left: 0;
    margin-bottom: 60px;
}

#frmpageForm-submit_content {
    margin-top: -8px;
}

#pageContents ul, li {
    list-style-type: none;
}

.pageContent {
    position: relative;
    overflow: hidden;
}

.button-bar input {
    margin-right: 5px;
}


.faqForm textarea {
    width: 500px;
    height: 100px;
}
.calendar-blocks .blocks-container {
    overflow: scroll;
    height: 400px;
}

.calendar-blocks .block {
    margin: 10px auto;
    padding: 2px;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
    width: 150px;
    border-radius: 2px;
    background-color: #3366CC;
    border-color: #3366CC;
}

ul.block-properties span {
    font-weight: bold;
}

.calendar-blocks .block h6 {
    margin-bottom: 0px;
}
.calendar-blocks .block span {
    color: orange;
}

ul.no-margin li {
    margin-left: 0 !important;
    padding-left: 0 !important;
    line-height: 1em;

}

ul.no-margin {
    margin-left: 0 !important;
    padding-left: 0 !important;
}



.alert a {
    text-decoration: underline;
}

.column-form input {
     margin-right: 5px;
    margin-top: -2px !important;
 }

.multiselect {
    max-width: 600px;
    height: 250px !important;
}

.space {
    margin-right: 5px;
    margin-left: 5px;
}

textarea.wide {
    min-width: 400px;
    height: 80px;
}

.message-box {
    min-height: 80px;
}

.ajax-loader {
    position: fixed;
    top: 60px;
    right: 60px;
    z-index: 999;
}




