#container {
    margin-top: 50px;
}

.grid-flash.success span {
    color: green !important;
}

.table-roles {
    margin-top: 20px;
}

.table-roles td {
    padding: 2px 5px 2px 5px
}

.sort-arrow {
    cursor: pointer;
}

.hidden {
    display: none;
}



#pageContents textarea {
    width:  100%;
    height: 200px;

}

#pageContents {
    margin-left: 0;
    margin-bottom: 60px;
}

#frmpageForm-submit_content {
    margin-top: -8px;
}

#pageContents ul, li {
    list-style-type: none;
}

.pageContent {
    position: relative;
}

.button-bar input {
    margin-right: 5px;
}

li.active input {
    border-color: black !important;
}


