#container {
    margin-top: 50px;
}

.grid-flash.success span {
    color: green !important;
}

.table-roles {
    margin-top: 20px;
}

.sort-arrow {
    cursor: pointer;
}

.hidden {
    display: none;
}



#pageContents textarea {
    width:  100%;
    height: 200px;

}

#pageContents ul, li {
    list-style-type: none;
}

.pageContent {
    position: relative;
}

.button-bar input {
    margin-right: 5px;
}


