{block main}
    <h2>{_admin.configuration.system_heading}</h2>
    <div class="well">
        <a href="{link clearcache!}" class="btn btn-danger">{_admin.configuration.system_clear_cache}</a>
    </div>
{/block}