
{extends '../CMSlayout.latte'}

{block head}
{widget jsLoader 'angular.min.js'}
{/block}

{block title}
Program » Harmonogram
{/block}

{block content}

<div class="row-fluid">
    <div class="span9">

</div>

{/block}
