body {
    min-width: 950px;
}

/* popisky ve formularich vlevo */
.control-label {
    text-align: left !important;
}

/* oprava multiselect v inline editaci */
.datagrid-multiselect {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.datagrid-multiselect .btn {
    font-size: 12px !important;
    padding: 4px 12px 5px 12px !important;
}

.datagrid-multiselect li {
    font-size: 12px !important;
}

/* oprava file input v inline editaci */
.datagrid-inline-edit .kv-fileinput-caption {
    font-size: 12px !important;
    padding: 4px 12px 5px 12px !important;
    margin-top: 0px !important;
}

.datagrid-inline-edit .btn-file {
    font-size: 12px !important;
    padding: 4px 12px 4px 12px !important;
    margin-left: -4px !important;
}

.datagrid-row-inline-add .btn-file {
    padding: 4px 12px 5px 12px !important;
}

/* vypnuti responzivity */
.navbar-header {
    float: left;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding: 15px;
}

.navbar-right {
    float: right;
}

.navbar .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #262626 !important;
}

.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
     color: #262626 !important;
     background-color: #F5F5F5 !important;
}
