body {
    min-width: 950px;
}

#flashes {
    position: fixed;
    top: 65px;
    right: 15px;
    z-index: 1000;
}

.notifications {
    position: fixed;
    top: 65px;
    right: 15px;
    z-index: 1000;
}

/* popisky ve formularich vlevo */
.control-label {
    text-align: left !important;
}

/* tabs s tlacitky */
.well-tabs .nav-tabs {
    text-align: center;
}

.well-tabs .nav-tabs button {
    width: 100%;
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    text-decoration: none;
    padding: 10px 15px;
}

.well-tabs .nav-tabs:hover button {
    background-color: #F5F5F5;
}

.well-tabs .nav-tabs .active button {
    background-color: #F5F5F5;
    border: 1px solid #ddd;
    border-bottom: 1px solid #F5F5F5;
    font-weight: bold;
    color: #333;
}

.well-tabs .well {
    border-top-width: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    box-shadow: inset 0 0 0 rgba(0,0,0,.05);
}

/* odebrani ramecku kolem datagridu */
.datagrid {
    padding: 0 !important;
}

/* oprava select a multiselect v inline editaci */
.datagrid-inline-edit .bootstrap-select {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.datagrid-inline-edit .bootstrap-select .btn {
    font-size: 12px !important;
    padding: 4px 12px 4px 12px !important;
}

.datagrid-inline-edit .bootstrap-select li {
    font-size: 12px !important;
}

.datagrid-multiselect .btn {
    font-size: 12px !important;
    padding: 4px 12px 5px 12px !important;
}

.datagrid-multiselect li {
    font-size: 12px !important;
}

/* oprava barvy chybove hlasky u poli v datagridu */
.datagrid .text-danger {
    color: #a94442 !important;
}

/* oprava file input v inline editaci */
.datagrid-inline-edit .kv-fileinput-caption {
    font-size: 12px !important;
    padding: 4px 12px 5px 12px !important;
    margin-top: 0 !important;
    height: 28px !important;
}

.datagrid-inline-edit .btn-file {
    font-size: 12px !important;
    padding: 4px 12px 5px 12px !important;
    margin-left: -4px !important;
    height: 28px !important;
}

/* tabulka bez ramecku */
.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}

/* tabulka bez ramecku a okraju, pro kombinaci s formulari */
.table-form {
    margin-bottom: 0;
}

.table-form tbody tr td,
.table-form tbody tr th,
.table-form thead tr th,
.table-form thead tr td,
.table-form tfoot tr th,
.table-form tfoot tr td {
    border: none;
}

.table-form tbody tr th,
.table-form thead tr th,
.table-form tfoot tr th {
    padding-left: 0;
}

/* prekryti hlavicky ve fullscreen modu TinyMCE */
div.mce-fullscreen {
    z-index: 1050;
}

/* zarovnani fullscreen tlacitka TinyMCE doprava */
.mce-btn-group:last-child {
    float:right;
    border-left: none !important;
}

/* vypnuti responzivity */
.navbar-header {
    float: left;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding: 15px;
}

.navbar-right {
    float: right;
}

.navbar .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #262626 !important;
}

.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
     color: #262626 !important;
     background-color: #F5F5F5 !important;
}

/* oprava skupiny tlacitek ve form-horizontal */
.form-horizontal .input-group-btn .btn {
     border-radius: 0;
     margin-left: -1px;
 }

.form-horizontal .input-group-btn .btn-last{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* zarovnani dlazdic */
.dashboard .panel-body {
    margin-bottom: -10px;
}

.dashboard .panel-body .row {
    margin: -15px -10px 0px -15px;
}

.dashboard .panel-body .row div {
    padding: 5px 0 0 5px;
}