{block head}
    <script>
        $(function () {
            $('form#frm-applicationContent-applicationForm').submit(function () {
                if(!LiveForm.forms[this.id].hasError)
                    $(this).find(':input[type=submit]').prop('disabled', true);
            });
        });
    </script>
{/block}

<div class="clearfix"></div>

<div class="application-content">
    <div class="row">
        <div class="col">
            <h3 n:ifcontent>{$heading}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {if $guestRole}
                <div class="alert alert-warning alert-forever">
                    {_web.application_content.login_required_begin}
                    <a href="{plink :Auth:login, 'backlink' => $backlink}">{_web.application_content.login_required_link}</a>{_web.application_content.login_required_end}
                </div>
            {elseif $nonregisteredRole}
                {if $noRegisterableRole}
                    <div class="alert alert-info alert-forever">
                        {if $registrationStart && $registrationEnd}
                            {_web.application_content.no_registerable_role_start_end, ['start' => $registrationStart->format('j. n. Y H:i'), 'end' => $registrationEnd->format('j. n. Y H:i')]}
                        {elseif $registrationStart}
                            {_web.application_content.no_registerable_role_start, ['start' => $registrationStart->format('j. n. Y H:i')]}
                        {elseif $registrationEnd}
                            {_web.application_content.no_registerable_role_end, ['end' => $registrationEnd->format('j. n. Y H:i')]}
                        {else}
                            {_web.application_content.no_registerable_role}
                        {/if}
                    </div>
                {else}
                    <script>
                        Nette.validators.AppWebModuleFormsApplicationForm_toggleArrivalDeparture = function (elem, arg, value) {
                            var i;
                            for (i = 0; i < value.length; i++) {
                                if (jQuery.inArray(value[i], arg) != -1)
                                    return true;
                            }
                            return false;
                        };
                    </script>

                    {if $explicitSubeventsExists}
                        <script>
                            $(function () {
                                $("select[name='roles[]']").on("change", function () {
                                    changeSubeventsRequired();
                                });
                                changeSubeventsRequired();
                            });

                            function changeSubeventsRequired() {
                                var value = $("select[name='roles[]']").val();
                                var label = $("label[for='frm-applicationContent-applicationForm-subevents']");
                                var rolesWithSubevents = JSON.parse({$rolesWithSubevents});
                                var i;
                                for (i = 0; i < value.length; i++) {
                                    if (jQuery.inArray(parseInt(value[i]), rolesWithSubevents) != -1) {
                                        label.addClass('required');
                                        return;
                                    }
                                }
                                label.removeClass('required');
                            }
                        </script>
                    {/if}

                    <div class="card card-body bg-light pb-1">
                        {control applicationForm}
                    </div>
                {/if}
            {else}
                {if $unapprovedRole}
                    <div class="alert alert-warning alert-forever">
                        {_web.application_content.unapproved_registration, ['roles' => $dbuser->getRolesText()]}
                    </div>
                {elseif !$dbuser->isPaying()}
                    <div class="alert alert-info alert-forever">
                        {_web.application_content.approved_registration_not_paying, ['roles' => $dbuser->getRolesText()]}
                    </div>
                {elseif $dbuser->hasPaidEveryApplication()}
                    <div class="alert alert-info alert-forever">
                        {_web.application_content.approved_registration_paid, ['roles' => $dbuser->getRolesText()]}
                    </div>
                {else}
                    <div class="alert alert-info alert-forever pb-1">
                        <div class="row mb-3">
                            <div class="col">
                                {_web.application_content.approved_registration_not_paid, ['account' => $bankAccount]}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-striped" style="background-color: #ffffff">
                                        <thead>
                                            <tr>
                                                <th>{_web.application_content.application_date}</th>
                                                <th n:if="$userHasFixedFeeRole">{_web.application_content.application_roles}</th>
                                                <th n:if="$explicitSubeventsExists">{_web.application_content.application_subevents}</th>
                                                <th>{_web.application_content.application_fee}</th>
                                                <th>{_web.application_content.application_variable_symbol}</th>
                                                <th>{_web.application_content.application_maturity_date}</th>
                                                <th>{_web.application_content.application_state}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr n:foreach="$usersApplications as $application">
                                                <td>{$application->getApplicationDate()->format('j. n. Y')}</td>
                                                <td n:if="$userHasFixedFeeRole">{$application->getRolesText()}</td>
                                                <td n:if="$explicitSubeventsExists">{$application->getSubeventsText()}</td>
                                                <td>{$application->getFee()}</td>
                                                <td>{$application->getVariableSymbolText()}</td>
                                                <td>{$application->getMaturityDate() ? $application->getMaturityDate()->format('j. n. Y') : ""}</td>
                                                <td>{_'common.application_state.'.$application->getState()}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {/if}
            {/if}
        </div>
    </div>
</div>