{block head}
    <script>
        $(function () {
            $('form#frm-applicationContent-applicationForm').submit(function () {
                if(!LiveForm.forms[this.id].hasError)
                    $(this).find(':input[type=submit]').prop('disabled', true);
            });
        });
    </script>
{/block}

<div class="clearfix"></div>

<div class="application-content">
    <div class="row">
        <div class="col">
            <h3 n:ifcontent>{$heading}</h3>
        </div>
    </div>

    {if $guestRole}
        <div class="row">
            <div class="col">
                <div class="alert alert-warning alert-forever">
                    {_web.application_content.login_required_begin}
                    <a href="{plink :Auth:login, 'backlink' => $backlink}">{_web.application_content.login_required_link}</a>{_web.application_content.login_required_end}
                </div>
            </div>
        </div>
    {elseif $nonregisteredRole}
        {if $noRegisterableRole}
            <div class="row">
                <div class="col">
                    <div class="alert alert-info alert-forever">
                        {if $registrationStart && $registrationEnd}
                            {_web.application_content.no_registerable_role_start_end, ['start' => $registrationStart->format('j. n. Y H:i'), 'end' => $registrationEnd->format('j. n. Y H:i')]}
                        {elseif $registrationStart}
                            {_web.application_content.no_registerable_role_start, ['start' => $registrationStart->format('j. n. Y H:i')]}
                        {elseif $registrationEnd}
                            {_web.application_content.no_registerable_role_end, ['end' => $registrationEnd->format('j. n. Y H:i')]}
                        {else}
                            {_web.application_content.no_registerable_role}
                        {/if}
                    </div>
                </div>
            </div>
        {else}
            <script>
                Nette.validators.AppWebModuleFormsApplicationForm_toggleArrivalDeparture = function (elem, arg, value) {
                    var i;
                    for (i = 0; i < value.length; i++) {
                        if (jQuery.inArray(value[i], arg) != -1)
                            return true;
                    }
                    return false;
                };
            </script>

            <script n:if="$explicitSubeventsExists">
                $(function () {
                    $("select[name='roles[]']").on("change", function () {
                        changeSubeventsRequired();
                    });
                    changeSubeventsRequired();
                });

                function changeSubeventsRequired() {
                    var value = $("select[name='roles[]']").val();
                    var label = $("label[for='frm-applicationContent-applicationForm-subevents']");
                    var rolesWithSubevents = JSON.parse({$rolesWithSubevents});
                    var i;
                    for (i = 0; i < value.length; i++) {
                        if (jQuery.inArray(parseInt(value[i]), rolesWithSubevents) != -1) {
                            label.addClass('required');
                            return;
                        }
                    }
                    label.removeClass('required');
                }
            </script>

            <div class="row mb-3">
                <div class="col">
                    <div class="card card-body bg-light pb-1">
                        {control applicationForm}
                    </div>
                </div>
            </div>
        {/if}
    {else}
        {if $unapprovedRole}
            <div class="row">
                <div class="col">
                    <div class="alert alert-warning alert-forever">
                        {_web.application_content.unapproved_registration, ['roles' => $dbuser->getRolesText()]}
                    </div>
                </div>
            </div>
        {else}
            <div class="row">
                <div class="col">
                    <div class="alert alert-info alert-forever">
                        {_web.application_content.approved_registration, ['roles' => $dbuser->getRolesText()]}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    {control applicationsGrid}
                </div>
            </div>
        {/if}
    {/if}
</div>