<div class="application-content">
    <div class="row">
        <div class="col-sm-12">
            <h3 n:ifcontent>{$heading}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {if $guestRole}
                <div class="alert alert-warning alert-forever">
                    {_web.application_content.login_required_begin}
                    <a href="{plink :Auth:login, 'backlink' => $backlink}">{_web.application_content.login_required_link}</a>{_web.application_content.login_required_end}
                </div>
            {elseif $nonregisteredRole}
                <script>
                    Nette.validators.AppWebModuleFormsApplicationForm_toggleArrivalDeparture = function (elem, arg, value) {
                        var i;
                        for (i = 0; i < value.length; i++) {
                            if (jQuery.inArray(value[i], arg) != -1)
                                return true;
                        }
                        return false;
                    };
                </script>

                {if $explicitSubeventsExists}
                    <script>
                        $(function () {
                            $("select[name='roles[]']").on("change", function () {
                                changeSubeventsRequired();
                            });
                            changeSubeventsRequired();
                        });

                        function changeSubeventsRequired() {
                            var value = $("select[name='roles[]']").val();
                            var label = $("label[for='frm-applicationContent-applicationForm-subevents']");
                            var rolesWithSubevents = JSON.parse({$rolesWithSubevents});
                            var i;
                            for (i = 0; i < value.length; i++) {
                                if (jQuery.inArray(parseInt(value[i]), rolesWithSubevents) != -1) {
                                    label.addClass('required');
                                    return;
                                }
                            }
                            label.removeClass('required');
                        }
                    </script>
                {/if}

                <div class="well">
                    {control applicationForm}
                </div>
            {else}
                {if $unapprovedRole}
                    <div class="alert alert-warning alert-forever">
                        {_web.application_content.unapproved_registration, ['roles' => $dbuser->getRolesText()]}
                    </div>
                {elseif !$dbuser->isPaying()}
                    <div class="alert alert-info alert-forever">
                        {_web.application_content.approved_registration_not_paying, ['roles' => $dbuser->getRolesText()]}
                    </div>
                {elseif $dbuser->hasPaidEveryApplication()}
                    <div class="alert alert-info alert-forever">
                        {_web.application_content.approved_registration_paid, ['roles' => $dbuser->getRolesText()]}
                    </div>
                {else}
                    <div class="alert alert-info alert-forever">
                        {_web.application_content.approved_registration_not_paid, ['account' => $bankAccount]}

                        <br><br>

                        {*TODO tabulka s přehledem cen*}
                        <table class="table table-bordered table-striped" style="background-color: #ffffff">
                            <thead>
                                <tr>
                                    <th>{_web.application_content.application_date}</th>
                                    <th>{_web.application_content.application_roles}</th>
                                    {if $subeventsExists}
                                        <th>{_web.application_content.application_subevents}</th>
                                    {/if}
                                    <th>{_web.application_content.application_fee}</th>
                                    <th>{_web.application_content.application_variable_symbol}</th>
                                    <th>{_web.application_content.application_maturity_date}</th>
                                    <th>{_web.application_content.application_state}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $dbuser->getNotCanceledApplications() as $application}
                                    <tr>
                                        <td>{$application->getApplicationDate()->format('j. n. Y')}</td>
                                        <td>

                                        </td>
                                        {if $subeventsExists}
                                            <td>{$application->getSubeventsText()}</td>
                                        {/if}
                                        <td>{$application->getFee()}</td>
                                        <td>{$application->getVariableSymbolText()}</td>
                                        {*<td>{$application->getMaturityDate()->format('j. n. Y')}</td>*}
                                        <td>{_'common.application_state.'.$application->getState()}</td>
                                    </tr>
                                {/foreach}
                            </tbody>
                        </table>
                    </div>
                {/if}
            {/if}
        </div>
    </div>
</div>