<div class="faq-content">
    <div class="row">
        <div class="col-sm-12">
            <h3 n:ifcontent>{$heading}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {foreach $questions as $question}
                <div class="panel panel-default">
                    <div class="panel-heading">{$question->getQuestion()}</div>
                    <div class="panel-body">{$question->getAnswer()|noescape}</div>
                </div>
            {/foreach}

            <h4>{_web.faq_content.add_question_heading}</h4>
            {if $guestRole}
                <div class="alert alert-warning alert-forever">
                    {_web.faq_content.login_required_begin}
                    <a href="{plink :Auth:login, 'backlink' => $backlink}">{_web.faq_content.login_required_link}</a>{_web.faq_content.login_required_end}
                </div>
            {else}
                <div class="well">
                    {control faqForm}
                </div>
            {/if}
        </div>
    </div>
</div>