{if $image}
    <div class="row clearfix" n:ifcontent>
        <div class="col" n:ifcontent>
            <h3 n:ifcontent>{$heading}</h3>
        </div>
    </div>

    <div class="image-wrapper {$align}" style="width: {$width}px; height: {$height}px">
        <img src="{$basePath}/files{$image}" style="max-width: {$width}px; max-height: {$height}px"/>
    </div>
{/if}