<div class="news-content">
    <div class="row">
        <div class="col-sm-12">
            <h3 n:ifcontent>{$heading}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
</div>