<div class="clearfix"></div>

<div class="place-content">
    <div class="row">
        <div class="col">
            <h3 n:ifcontent>{$heading}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col" n:ifcontent>
            {$description|noescape}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div id="map"></div>
        </div>
    </div>
</div>
