{block head}
    <script>
        var basePath = {$basePath};
    </script>

    <link rel="stylesheet" type="text/css" href="{$basePath}/css/libs/fullcalendar/fullcalendar.min.css">
    <script src="{$basePath}/js/libs/angular/angular.min.js"></script>
    <script src="{$basePath}/js/libs/angular/angular-sanitize.min.js"></script>
    <script src="{$basePath}/js/libs/angular-ui-calendar/calendar.js"></script>
    <script src="{$basePath}/js/libs/angular-ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="{$basePath}/js/libs/fullcalendar/fullcalendar.min.js"></script>
    <script src="{$basePath}/js/libs/fullcalendar/lang-all.js"></script>
    <script src="{$basePath}/js/web/schedule/app.js"></script>
{/block}

<div class="programs-content">
    <div class="row">
        <div class="col-sm-12">
            <h3 n:ifcontent>{$heading}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {if $guestRole}
                <div class="alert alert-warning alert-forever">
                    {_web.programs_content.login_required_begin}
                    <a href="{plink :Auth:login, 'backlink' => $backlink}">{_web.programs_content.login_required_link}</a>{_web.programs_content.login_required_end}
                </div>
            {else}
            {if !$userHasPermission}
                <div class="alert alert-warning alert-forever">
                    {_web.programs_content.unapproved_register_programs}
                </div>
            {elseif !$registerProgramsAllowed}
                <div class="alert alert-warning alert-forever">
                    {if $registerProgramsNotAllowed}
                        {_web.programs_content.register_programs_not_allowed}
                    {else}
                        {if $registerProgramsFrom !== null && $registerProgramsTo !== null}
                            {_web.programs_content.register_programs_allowed_from_to, ['from' => $registerProgramsFrom->format('j. n. Y G:i'), 'to' => $registerProgramsTo->format('j. n. Y G:i')]}
                        {elseif $registerProgramsFrom === null && $registerProgramsTo !== null}
                            {_web.programs_content.register_programs_was_allowed_to, ['to' => $registerProgramsTo->format('j. n. Y G:i')]}
                        {elseif $registerProgramsFrom !== null && $registerProgramsTo === null}
                            {_web.programs_content.register_programs_is_allowed_from, ['from' => $registerProgramsFrom->format('j. n. Y G:i')]}
                        {/if}
                    {/if}
                </div>
            {elseif $userWaitingForPayment}
                <div class="alert alert-warning alert-forever">
                    {_web.programs_content.register_programs_allowed_after_payment}
                </div>
            {/if}

            {var $userAllowedRegisterPrograms = $registerProgramsAllowed && $userHasPermission}

                <script>
                    var userAllowedRegisterPrograms = {$userAllowedRegisterPrograms};
                </script>

                <div id="app" ng-app="scheduleApp" ng-controller="WebScheduleCtrl">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            <button data-toggle="modal" data-target="#help-modal" class="btn btn-default"
                                    style="margin-bottom: 20px">
                                <i class="fa fa-info"></i> {_web.programs_content.help}
                            </button>
                        </div>

                        <div class="col-sm-8 col-xs-8">
                            <div class="notifications pull-right">
                                <div class="spinner pull-left" ng-show="loading" style="float: left">
                                    <img src="{$basePath}/img/spin.gif" height="34"/>
                                </div>

                                <div ng-model="message" ng-show="message.text"
                                     class="alert alert-{{ message.type }} pull-left" style="margin-left: 15px">
                                    {{ message.text }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-warning alert-forever" ng-show="mandatory_nonregistered_programs_count">
                        {_web.programs_content.mandatory_programs_not_registered}
                    </div>

                    <div ui-calendar="uiConfig.calendar" id="calendar" ng-model="eventSources"
                         style="visibility: hidden"></div>

                    <div id="program-modal" class="modal fade" ng-model="event">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{{ event.block.name }}</h4>
                                </div>
                                <div class="modal-body">
                                    <ul class="no-bullets no-margin">
                                        <li ng-if="event.block.category">
                                            <strong>{_web.programs_content.category}</strong>
                                            {{ event.block.category }}
                                        </li>

                                        <li ng-if="event.room">
                                            <strong>{_web.programs_content.room}</strong>
                                            {{ event.room ? event.room.name : '' }}
                                        </li>

                                        <li>
                                            <strong>{_web.programs_content.occupancy}</strong>
                                            {{ event.block.capacity !== undefined
                                                ? event.attendees_count + '/' + event.block.capacity
                                                : event.attendees_count
                                            }}
                                        </li>
                                    </ul>

                                    <div ng-if="event.block.lectors">
                                        <h5><strong>{_web.programs_content.lectors}</strong></h5>
                                        <div ng-repeat="lector in event.block.lectors">
                                            <h5>{{ lector.name }}</h5>
                                            <p>
                                                <img ng-src="{$basePath}/files/user_photos/{{ lector.photo }}"
                                                     ng-if="lector.photo" style="float: left; margin: 0 10px 10px 0;"/>
                                                {{ lector.about }}
                                            </p>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <h5><strong>{_web.programs_content.about_program}</strong></h5>
                                    <p>{{ event.block.perex }}</p>
                                    <p ng-bind-html="event.block.description"></p>
                                </div>

                                <div class="modal-footer">
                                    {if $userAllowedRegisterPrograms}
                                        <button ng-hide="event.user_attends || event.blocked || event.occupied || !event.paid"
                                                ng-click="attend(event)"
                                                class="btn btn-success pull-left">
                                            {_web.programs_content.register}
                                        </button>
                                        <button ng-show="event.user_attends && !event.block.auto_register"
                                                ng-click="unattend(event)" style="margin-left: 0"
                                                class="btn btn-danger pull-left">
                                            {_web.programs_content.unregister}
                                        </button>
                                    {/if}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="help-modal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{_web.programs_content.help}</h4>
                                </div>
                                <div class="modal-body">
                                    {_web.programs_content.help_text}

                                    <h5><strong>{_web.programs_content.help_legend}</strong></h5>
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-success">{_web.programs_content.help_legend_attends}</li>
                                        <li class="list-group-item list-group-item-info">{_web.programs_content.help_legend_optional}</li>
                                        <li class="list-group-item list-group-item-danger">{_web.programs_content.help_legend_mandatory}</li>
                                        <li class="list-group-item disabled">{_web.programs_content.help_legend_blocked}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {/if}
        </div>
    </div>
</div>
