<div class="row mb-3">
    <div class="col">
        <img src="{$qr|dataStream}">
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <a n:href="downloadTicket" class="btn btn-secondary mr-2">Stáhnout vstupenku (PDF)</a>
    </div>
</div>