<div class="clearfix"></div>

<div class="application-content">
    <div class="row">
        <div class="col">
            <h3 n:ifcontent>{$heading}</h3>
        </div>
    </div>

    {if $guestRole}
        <div class="row">
            <div class="col">
                <div class="alert alert-warning alert-forever">
                    {_web.application_content.login_required_begin}
                    <a href="{plink :Auth:login, 'backlink' => $backlink}">{_web.application_content.login_required_link}</a>{_web.application_content.login_required_end}
                </div>
            </div>
        </div>
    {else}
        <div class="form-group row">
            <div class="col-3 col-form-label">
                Pracuješ v roli
            </div>
            <div class="col-9">
                <div class="btn-group">
                    <button class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                        {if $skautIsRoleSelected}
                            {$skautIsRoleSelected->DisplayName}
                        {/if}
                    </button>
                    <div class="dropdown-menu">
                        <a href="{link changeRole!, $r->ID}" n:foreach="$skautIsRoles as $r" n:class="dropdown-item, $r->ID === $skautIsRoleSelected->ID ? active">
                            {$r->DisplayName}
                        </a>
                    </div>
                </div>
                <br>
                <span class="help-block text-info">
                    <i class="fa fa-circle-info" aria-hidden="true"></i>
                    Účastníci do registrace se ti načítají z členů tvé jednotky.
                </span>
            </div>
        </div>
    {/if}
</div>
