<div class="usersContent">
    <h3 n:ifcontent>{$heading}</h3>
    {if empty($users)}
        Žádný uživatel k zobrazení.
    {else}
        <ul class="no-bullets no-margin">
            {foreach $users as $u}
                <li>{$u->getDisplayName()}</li>
            {/foreach}
        </ul>
    {/if}
</div>