{extends '../Programlayout.latte'}

{block head}
    {widget jsLoader 'tiny_mce/jquery.tinymce.js'}
    {include 'includes/tinymce_init.latte'}
{/block}

{block title}
    Program » {ifset $block}{$block->name}{else}Nový programový blok{/ifset}
{/block}

{block content}
    <ul class="breadcrumb">
        <li><a href="{plink list}">Přehled programových bloků</a> <span class="divider">/</span></li>
        <li class="active">{ifset $block}Upravit: {$block->name}{else}Nový programový blok{/ifset}</li>
    </ul>
    <div class="well">
        <h1>{ifset $block}Úprava bloku: {$block->name}{else}Nový programový blok{/ifset}</h1>
        <table class="table">
            {form blockForm}
                <tr>
                    <td>{label name /}</td>
                    <td>{input name}</td>
                </tr>

                <tr>
                    <td>{label category /}</td>
                    <td>{input category}</td>
                </tr>

                <tr>
                    <td>{label capacity /}</td>
                    <td>{input capacity}</td>
                </tr>

                <tr>
                    <td>{label tools /}</td>
                    <td>{input tools}</td>
                </tr>

                <tr>
                    <td>{label room /}</td>
                    <td>{input room}</td>
                </tr>

                <tr>
                    <td>{label duration /}</td>
                    <td>{input duration}</td>
                </tr>

                <tr>
                    <td>{label perex /}</td>
                    <td>{input perex}</td>
                </tr>

                <tr>
                    <td>{label description /}</td>
                    <td>{input description}</td>
                </tr>

                <tr>
                    <td>{label lector /}</td>
                    <td>{input lector}</td>
                </tr>


                <tr class="warning">
                    <td colspan="2">{input submit_continue}{input submit}</td>
                </tr>
            {/form}
        </table>
    </div>
    {include '../../../templates/includes/confirm_dialog.latte'}
{/block}
