{extends '../Programlayout.latte'}

{block head}
    {widget jsLoader 'tiny_mce/jquery.tinymce.js'}
{include 'includes/tinymce_init.latte'}
{/block}

{block title}
Program » {ifset $block}{$block->name}{else}Nový programový blok{/ifset}
{/block}

{block content}
<ul class="breadcrumb">
    <li><a href="{plink list}">Přehled programových bloků</a> <span class="divider">/</span></li>
    <li class="active">{ifset $block}Úprava bloku:{$block->name}{else}Nový programový blok{/ifset}</li>
</ul>
<div class="well">
<h1>{ifset $block}Úprava bloku:{$block->name}{else}Nový programový blok{/ifset}</h1>
    {widget blockForm}
</div>
{include '../../../templates/includes/confirm_dialog.latte'}
{/block}
