; remote FTP server
remote = ftp://srs:secretpassword@srs.skauting.cz/

; local path (optional)
local = .

; run in test-mode? (can be enabled by option -t or --test too)
test = no

; files and directories to ignore
ignore = "
    .git*
    /.idea
    /App/config/ci.local.neon
    /App/config/local.neon
    /App/config/sample.local.neon
    /App/config/production.local.neon
    /backup
    /docker
    /log
    !/log/.*
    /temp/*
    !/temp/.*
    /tests
    /www/css/web/style.css
    /www/webtemp/
    !/www/webtemp/.*
    /www/files/
    !/www/files/.*
    .travis.yml
    /build.xml
    /codeception.xml
    /deploy.*
    /deployment.*
    /docker-compose.yml
    /phing.phar
    /phpcs.xml
    /wercker.yml
"

; is allowed to delete remote files? (defaults to yes)
allowdelete = yes

; jobs to run before file upload
;before[] = http://example.com/deployment.php?before

; jobs to run after file upload
;after[] = http://example.com/deployment.php?after

; directories to purge after file upload
purge[] = "temp/cache"
purge[] = "temp/proxies"
purge[] = "www/webtemp"

; files to preprocess (defaults to *.js *.css)
preprocess = no

; file which contains hashes of all uploaded files (defaults to .htdeployment)
deploymentfile = .deployment
