version: "3.4"

services:
  app:
    ports:
      - 80:80

  mysql:
    ports:
      - 3306:3306
    volumes:
      - .docker/database/data:/var/lib/mysql

  adminer:
    container_name: srs.adminer
    image: adminer
    ports:
      - 8080:8080
    networks:
      main:
        aliases:
          - mysql
