parameters:
    scanDirectories:
        - %rootDir%/../../../app
        - %rootDir%/../../../code-quality

    ignoreErrors: # todo: odstranit
        -
            message: '#Method [a-zA-Z0-9\\_:()]+ should return [a-zA-Z0-9\\_:,<>& ]+ but returns [a-zA-Z0-9\\_:,]+<(int|\(int\|string\)), object>\.#'
            path: app/Model/*/Repositories/*Repository.php
        -
            message: '#Parameter [a-zA-Z0-9\\_:() \$\#]+ expects [a-zA-Z0-9\\_:,]+<int, object>, [a-zA-Z0-9\\_:,<> ]+ given\.#'
            path: app/*
        -
            message: '#Method App\\Model\\Infrastructure\\Repositories\\AbstractRepository::getRepository\(\) return type with generic class Doctrine\\ORM\\EntityRepository does not specify its types: TEntityClass#'
            path: app/Model/Infrastructure/Repositories/AbstractRepository.php
        -
            message: '#Method App\\Model\\User\\User::[a-zA-Z]+\(\) should return Doctrine\\Common\\Collections\\Collection<int, App\\Model\\Application\\[a-zA-Z]+Application> but returns Doctrine\\Common\\Collections\\Collection<int, App\\Model\\Application\\Application>\.#'
            path: app/Model/User/User.php

        -
            message: "#^Property App\\\\ApiModule\\\\Dto\\\\Tickets\\\\SeminarInfo\\:\\:\\$name is never read, only written\\.$#"
            count: 1
            path: app/ApiModule/Dto/Tickets/SeminarInfo.php

        -
            message: "#^Property App\\\\ApiModule\\\\Dto\\\\Tickets\\\\SeminarInfo\\:\\:\\$subevents is never read, only written\\.$#"
            count: 1
            path: app/ApiModule/Dto/Tickets/SeminarInfo.php

        -
            message: "#^Property App\\\\ApiModule\\\\Dto\\\\Tickets\\\\SubeventInfo\\:\\:\\$id is never read, only written\\.$#"
            count: 1
            path: app/ApiModule/Dto/Tickets/SubeventInfo.php

        -
            message: "#^Property App\\\\ApiModule\\\\Dto\\\\Tickets\\\\SubeventInfo\\:\\:\\$name is never read, only written\\.$#"
            count: 1
            path: app/ApiModule/Dto/Tickets/SubeventInfo.php

        -
            message: "#^Property App\\\\ApiModule\\\\Dto\\\\Tickets\\\\TicketCheckInfo\\:\\:\\$attendeeName is never read, only written\\.$#"
            count: 1
            path: app/ApiModule/Dto/Tickets/TicketCheckInfo.php

        -
            message: "#^Property App\\\\ApiModule\\\\Dto\\\\Tickets\\\\TicketCheckInfo\\:\\:\\$hasSubevent is never read, only written\\.$#"
            count: 1
            path: app/ApiModule/Dto/Tickets/TicketCheckInfo.php

        -
            message: "#^Property App\\\\ApiModule\\\\Dto\\\\Tickets\\\\TicketCheckInfo\\:\\:\\$roles is never read, only written\\.$#"
            count: 1
            path: app/ApiModule/Dto/Tickets/TicketCheckInfo.php

        -
            message: "#^Property App\\\\ApiModule\\\\Dto\\\\Tickets\\\\TicketCheckInfo\\:\\:\\$subeventChecks is never read, only written\\.$#"
            count: 1
            path: app/ApiModule/Dto/Tickets/TicketCheckInfo.php

        -
            message: "#^Property App\\\\ApiModule\\\\Dto\\\\Tickets\\\\TicketCheckInfo\\:\\:\\$subevents is never read, only written\\.$#"
            count: 1
            path: app/ApiModule/Dto/Tickets/TicketCheckInfo.php

        -
            message: "#^Variable \\$programs in empty\\(\\) always exists and is not falsy\\.$#"
            count: 1
            path: app/ApiModule/Services/ScheduleService.php

        -
            message: "#^Property App\\\\Model\\\\Settings\\\\PlacePoint\\:\\:\\$id is never read, only written\\.$#"
            count: 1
            path: app/Model/Settings/PlacePoint.php

services:
	- class: CodeQuality\ObjectIdentityComparisonRule
	  tags: [ phpstan.rules.rule ]

	- class: SkautisAliasesExtension
	  tags: [ phpstan.broker.propertiesClassReflectionExtension ]

	- class: CodeQuality\SkautisWebserviceMagicMethodsExtension
	  tags: [ phpstan.broker.methodsClassReflectionExtension ]

	- class: CodeQuality\PresenterDynamicReturnTypeExtension
	  tags: [ phpstan.broker.dynamicMethodReturnTypeExtension ]
