includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon

parameters:
    autoload_directories:
        - %rootDir%/../../../app

    ignoreErrors:
        - '#Parameter (.*) of method (.*) has invalid typehint type Nette\\SmartObject#i'

    doctrine:
        repositoryClass: App\Model\EntityRepository
        objectManagerLoader: tests/PHPStan/helpers/object-manager.php
