parameters:
    scanDirectories:
        - %rootDir%/../../../app
        - %rootDir%/../../../code-quality

    ignoreErrors: # todo: odstranit
        -
            message: '#Method [a-zA-Z0-9\\_:()]+ should return [a-zA-Z0-9\\_:,<>& ]+ but returns [a-zA-Z0-9\\_:,]+<(int|\(int\|string\)), object>\.#'
            path: app/Model/*/Repositories/*Repository.php
        -
            message: '#Parameter [a-zA-Z0-9\\_:() \$\#]+ expects [a-zA-Z0-9\\_:,]+<int, object>, [a-zA-Z0-9\\_:,<> ]+ given\.#'
            path: app/*
        -
            message: '#Method App\\Model\\Infrastructure\\Repositories\\AbstractRepository::getRepository\(\) return type with generic class Doctrine\\ORM\\EntityRepository does not specify its types: TEntityClass#'
            path: app/Model/Infrastructure/Repositories/AbstractRepository.php
        -
            message: '#Method App\\Model\\User\\User::[a-zA-Z]+\(\) should return Doctrine\\Common\\Collections\\Collection<int, App\\Model\\Application\\[a-zA-Z]+Application> but returns Doctrine\\Common\\Collections\\Collection<int, App\\Model\\Application\\Application>\.#'
            path: app/Model/User/User.php
        -
            message: "#^Property App\\\\ApiModule\\\\Dto\\\\[a-zA-Z]+\\\\[a-zA-Z]+\\:\\:\\$[a-zA-Z]+ is never read, only written\\.$#"
            path: app/ApiModule/Dto/*/*.php

services:
	- class: CodeQuality\ObjectIdentityComparisonRule
	  tags: [ phpstan.rules.rule ]

	- class: SkautisAliasesExtension
	  tags: [ phpstan.broker.propertiesClassReflectionExtension ]

	- class: CodeQuality\SkautisWebserviceMagicMethodsExtension
	  tags: [ phpstan.broker.methodsClassReflectionExtension ]

	- class: CodeQuality\PresenterDynamicReturnTypeExtension
	  tags: [ phpstan.broker.dynamicMethodReturnTypeExtension ]
