
{if !$user->isLoggedIn()}
 <p>Pro přihlášení na seminář se musíte neprve <a href="{plink :Auth:login}">přihlásit přes skautIS</a></p>

{elseif $user->isInRole('Registrovaný')}
{widget attendeeForm}
{else}
<p>Na seminář jste se již přihlásili jako {$user->roles[0]}</p>
<p>
{if $user->identity->object->approved == true}
 Vaše přihláška byla již potvrzena
 {else}
 Vaše přihláška zatím nebyla potvrzena.
{/if}
</p>

{/if}
<script>
    $(function() {
        $.datepicker.regional['cs'] = {
            renderer: $.ui.datepicker.defaultRenderer,
            monthNames: ['leden','únor','březen','duben','květen','červen',
                'červenec','srpen','září','říjen','listopad','prosinec'],
            monthNamesShort: ['led','úno','bře','dub','kvě','čer',
                'čvc','srp','zář','říj','lis','pro'],
            dayNames: ['neděle', 'pondělí', 'úterý', 'středa', 'čtvrtek', 'pátek', 'sobota'],
            dayNamesShort: ['ne', 'po', 'út', 'st', 'čt', 'pá', 'so'],
            dayNamesMin: ['ne','po','út','st','čt','pá','so'],
            dateFormat: 'dd.mm.yyyy',
            firstDay: 1,
            prevText: '&#x3c;Dříve', prevStatus: '',
            prevJumpText: '&#x3c;&#x3c;', prevJumpStatus: '',
            nextText: 'Později&#x3e;', nextStatus: '',
            nextJumpText: '&#x3e;&#x3e;', nextJumpStatus: '',
            currentText: 'Nyní', currentStatus: '',
            todayText: 'Nyní', todayStatus: '',
            clearText: '-', clearStatus: '',
            closeText: 'Zavřít', closeStatus: '',
            yearStatus: '', monthStatus: '',
            weekText: 'Týd', weekStatus: '',
            dayStatus: 'DD d MM',
            defaultStatus: '',
            isRTL: false
        };
        //$.extend($.datepicker.defaults, $.datepicker.regional['cs']);
        $.datepicker.setDefaults( $.datepicker.regional[ "cs" ] )
        $(".datepicker").datepicker({
            yearRange: '-100y:c+nn',
            maxDate: '-1d',
            changeMonth: true,
            changeYear: true

        });

    });
</script>
