{block sidebar}
    <div class="well">
        <ul class="nav nav-pills nav-stacked">
            <li {ifCurrent Auto:*}class="active"{/ifCurrent}>
                <a href="{plink Auto:default}">{_admin.mailing.menu_auto}</a>
            </li>

            <li {ifCurrent Send:*}class="active"{/ifCurrent}>
                <a href="{plink Send:default}">{_admin.mailing.menu_send}</a>
            </li>

            <li {ifCurrent History:*}class="active"{/ifCurrent}>
                <a href="{plink History:default}">{_admin.mailing.menu_history}</a>
            </li>
        </ul>
    </div>
{/block}