{block sidebar} {*TODO překlad*}
    <div class="well">
        <ul class="nav nav-pills nav-stacked">
            <li {ifCurrent Auto:*}class="active"{/ifCurrent}>
                <a href="{plink Auto:default}">Automatické maily</a>
            </li>

            <li {ifCurrent Send:*}class="active"{/ifCurrent}>
                <a href="{plink Send:default}">Rozeslat e-mail</a>
            </li>

            <li {ifCurrent History:*}class="active"{/ifCurrent}>
                <a href="{plink History:default}">Historie e-mailů</a>
            </li>
        </ul>
    </div>
{/block}