{define role-test}
    {if $user->isInRole($testRole)}
        <div class="alert alert-warning alert-forever">
            <i class="fa fa-exclamation-circle"></i>
            {_web.common.role_test_warning_begin}
            <a n:href="exitroletest"
                    class="alert-link">{_web.common.role_test_warning_link}</a>{_web.common.role_test_warning_end}
        </div>
    {/if}
{/define}