{**
 *
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<title>{block title|striptags}{/block} | SRS</title>


    {*{widget cssLoader 'front/reset.css', 'nette.css', 'front/layout.css', 'front/design.css'}*}
    {*{widget jsLoader 'jquery-1.8.2.min.js', 'netteForms.js'}*}
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
	<script> document.body.className+=' js' </script>
    <div n:foreach="$flashes as $flash" class="sent {$flash->type}">
        <div class="flash">{$flash->message}</div>
    </div>

       {block #content}

</body>
</html>
