{block main}
    <h2>{_admin.configuration.web_heading}</h2>
    <div class="card card-body bg-light pb-1">
        <table class="table table-form">
            <col class="col-5">
            <col class="col-7">

            <tr>
                <th>{_admin.configuration.web_current_logo}</th>
                <td>
                    <img src="{$basePath}/files/logo/{$logo}"/>
                </td>
            </tr>
        </table>
        {control settingsForm}
    </div>
{/block}