{block main}
    <h2>{_admin.configuration.web_heading}</h2>
    <div class="card card-body bg-light pb-1">
        <div class="form-group row">
            <div class="col-5">
                {_admin.configuration.web_current_logo}
            </div>
            <div class="col-7">
                <img src="{$basePath}/files/logo/{$logo}"/>
            </div>
        </div>

        {control settingsForm}
    </div>
{/block}