{block main}
    <h2>{_admin.configuration.discounts_add_heading}</h2>
    <div class="card card-body bg-light pb-1 mb-3">
        {control discountForm}
    </div>
{/block}

{block scripts}
    {include #parent}
    {control discountForm:scripts}
{/block}
