<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">

    <title>{_web.common.title, [page => $pageName, seminar_name => $seminarName]}</title>

    <link rel="shortcut icon" href="{$basePath}/favicon.ico">

    {control css}
    {control js}

    {block head}{/block}
</head>

<body class="{block body-class}{/block}">

<div class="container">
    {snippet flashes}
        <div id="flashes" class="row">
            <div class="col-sm-12">
                <div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">
                    {$flash->message|noescape}
                </div>
            </div>
        </div>
    {/snippet}

    <div id="header" class="row">
        <div class="col-sm-12">
            {import 'components/user_menu.latte'}
            {include user-menu}

            <div id="logo">
                <a href="{plink :Web:Page:default}"><img src="{$basePath}/files/logo/{$logo}" alt="logo"></a>
            </div>
        </div>
    </div>

    <div id="main-menu" class="row">
        <div class="col-sm-12">
            {import 'components/main_menu.latte'}
            {include main-menu}
        </div>
    </div>

    <div id="content" class="row">
        <div id="main" class="{if $sidebarVisible}col-sm-9 col-xs-9{else}col-sm-12{/if}">
            {include #main}
        </div>

        {if $sidebarVisible}
            <div id="sidebar" class="col-sm-3 col-xs-3">
                {include #sidebar}
            </div>
        {/if}
    </div>

    <hr>

    <footer>
        <p>{$footer|noescape}</p>
    </footer>
</div>

</body>
</html>
















