<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">

    <title>{_web.common.title, [page => $pageName, seminar_name => $seminarName]}</title>

    <link rel="shortcut icon" href="{$basePath}/favicon.ico">

    {control css}
    {control js}

    {block head}{/block}
</head>

<body class="{block body-class}{/block}">

<div class="container" id="wrapper">
    <div id="messages" class="row" n:if="$flashes">
        <div class="col-sm-12">
            <div n:foreach="$flashes as $flash" n:class="alert, $flash->type"
                    role="alert">{$flash->message|noescape}</div>
        </div>
    </div>

    <div id="header" class="row">
        <div class="col-sm-12">
            {import 'components/user-menu.latte'}
            {include user-menu $user, $adminAccess, $displayUsersRoles, $backlink}

            <div id="logo">
                <a href="{plink :Web:Page:default}"><img src="{$basePath}{$logo}" alt="logo"></a>
            </div>
        </div>
    </div>

    <div id="main-menu" class="row">
        <div class="col-sm-12">
            {import 'components/main-menu.latte'}
            {include main-menu $pages}
        </div>
    </div>

    <div id="content" class="row">
        <div id="main" class="{if $sidebarVisibility}col-sm-9{else}col-sm-12{/if}">
            {include #main}
        </div>
        {if $sidebarVisibility}
            <div id="sidebar" class="col-sm-3">
                {include #sidebar}
            </div>
        {/if}
    </div>

    <hr>

    <footer class="footer">
        <p>{$footer|noescape}</p>
    </footer>
</div>

</body>
</html>
















