
.link{
    background: url('images/link.png') no-repeat 4px #FFF;
}

.edit{
    background: url('images/edit.png') no-repeat 4px;
}

.fast-edit{
    background: url('images/fast_edit.png') no-repeat 4px;
}

.delete{
    background: url('images/delete.png') no-repeat 4px;
}

.trash{
    background: url('images/trash.png') no-repeat 4px;
}

.publish{
    background: url('images/publish.png') no-repeat 4px;
}

.unpublish{
    background: url('images/unpublish.png') no-repeat 4px;
}

.restore{
    background: url('images/restore.png') no-repeat 4px;
}

.grid input[type=text], select {
    width: 80%;
}

.grid .grid-button {
    min-width: 24px;
    min-height: 22px;
    display: block;
    float: left;
}

.grid-changeperpage {
    width: 80px;
    float: right;

}

.grid-perPage {
    float: right;
}

.grid-perPage label {
    float: left;
    margin-right: 5px;
    margin-top: 4px;
}

.grid-paginator {
    text-align: center;
    font-weight: bold;

}

.grid-action-box label {
    float: left;
    margin-right: 5px;
    margin-top: 4px;
}

.grid-bottom {
    padding-top: 10px;
}

.grid-filter-reset {
    width: 15px;
    height: 15px;
    position: relative;
    left: 10px;
    top: -10px;
    z-index: 999;
}

th.grid-filter-form {
    position: relative;
}
.grid-filter-form input[type=submit] {
/*#frmgridForm-userGrid-filter-send {*/
  margin-top: -25px;


}
.grid-action-box input[type=submit] {
/*#frmgridForm-userGrid-action-send {*/
    margin-top: -10px;
}

#frm-userGrid-action-action_name {
    width: 150px;
}

.grid-row-cell .btn {
    margin-right: 5px;
}