{block head}
    {include '../../../../Presenters/templates/includes/tinymce_init.latte'}
{/block}

{block main}
    <h2>{_admin.program.blocks_edit_heading, ['name' => $block->getName()]}</h2>
    <div class="well">
        {control blockForm}
    </div>
{/block}