{extends '../Programlayout.latte'}

{block title}
Program » Místnosti
{/block}

{block sidebar_attributes}
data-spy="affix" data-offset-top="0"
{/block}

{block content}
<h1>Přehled místností</h1>
<div class="navbar">
   {if $user->isAllowed(\SRS\Model\Acl\Resource::PROGRAM, \SRS\Model\Acl\Permission::MANAGE_OWN_PROGRAMS)
    || $user->isAllowed(\SRS\Model\Acl\Resource::PROGRAM, \SRS\Model\Acl\Permission::MANAGE_ALL_PROGRAMS)}
        <a class="btn btn-success" href="{plink add}"><i class="icon-plus-sign"></i>Vytvořit místnost</a>
    {/if}
</div>
    {widget roomGrid}
{include '../../../templates/includes/confirm_dialog.latte'}
{/block}
