{extends '../Programlayout.latte'}

{block title}
Program » Místnosti
{/block}

{block sidebar_attributes}
data-offset-top="0"
{/block}

{block content}
<h1>Přehled místností</h1>
<div class="navbar">
   <a class="btn btn-success" href="{plink add}"><i class="icon-plus-sign"></i>Vytvořit místnost</a>
</div>
    {widget roomGrid}
{include '../../../templates/includes/confirm_dialog.latte'}
{/block}
