

<ul>
{ifset $content->tag->documents}
{foreach $content->tag->documents as $document}
<li>
    <a href="{$basePath}{$document->file}">{$document->name}</a>
</li>
{/foreach}
{else}
{foreach $documents as $document}
    <li><a href="{$basePath}{$document->file}">{$document->name}</a></li>
{/foreach}
{/ifset}
</ul>



