{* bootstrap pro fungujici popovery *}
{widget jsLoader 'bootstrap.min.js', 'lib/angular.min.js', 'lib/fullcalendar.min.js', 'calendar/app.js', 'calendar/directives.js', 'calendar/frontControllers.js', 'calendar/helpers.js'}
{widget cssLoader 'front/lib/tooltips.css', 'fullcalendar.css'}
<link rel='stylesheet' type='text/css' href='{$basePath}/css/fullcalendar.print.css' media='print' />
{widget programBox}
