{* This is the welcome page, you can delete it *}
{extends '../CMSlayout.latte'}

{block title}
Otázka
{/block}

{block head}
    {widget jsLoader 'tiny_mce/jquery.tinymce.js'}
{include 'includes/tinymce_init.latte'}
{/block}

{block content}
<h1> {ifset $item}Úprava otázky{else}Nová otázka{/ifset}</h1>

<div class="well faqForm">
    {widget faqForm}
</div>



{/block}
