{form form class => form-horizontal}
    {input id}
    {input condition}

    <div class="form-group row">
        {var $input = $form->getComponent('conditionText')}

        <div class="col-3 col-form-label">
            <label for="{$input->htmlId}">
                {_$input->caption}
            </label>
        </div>

        <div class="col-9">
            {input $input}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-9 offset-3">
            <div class="btn-group">
                <div class="btn-group">
                    <a href="#" id="button-subevent" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                        Podakce <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item button-subevents" data-id="{$subevent->getId()}"
                           data-name="{$subevent->getName()}" n:foreach="$subevents as $subevent">
                            {$subevent->getName()}
                        </a>
                    </div>
                </div>

                <a href="#" id="button-and" class="btn btn-secondary">{_common.condition_operator.and}</a>
                <a href="#" id="button-or" class="btn btn-secondary">{_common.condition_operator.or}</a>

                <a href="#" id="button-left-parenthesis" class="btn btn-secondary">(</a>
                <a href="#" id="button-right-parenthesis" class="btn btn-secondary">)</a>
            </div>

            <div class="btn-group">
                <a href="#" id="button-clear" class="btn btn-danger btn-last"><span class="fa fa-xmark"></span></a>
            </div>
        </div>
    </div>

    <div class="form-group row">
        {var $input = $form->getComponent('discount')}

        <div class="col-3 col-form-label">
            <label for="{$input->htmlId}" class="{$input->required ? required}">
                {_$input->caption}
            </label>
        </div>

        <div class="col-9">
            {input $input}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-9 offset-3">
            {input submit class => 'btn btn-primary button'}
            <a href="{plink Discounts:default}" class="btn btn-warning">{_admin.common.cancel}</a>
        </div>
    </div>
{/form}
