<script>
    $(function () {
        var condition = $('input[name=condition]');
        var conditionText = $('input[name=conditionText]');

        var buttonSubevent = $('#button-subevent');
        var buttonSubevents = $('.button-subevents');
        var buttonAnd = $('#button-and');
        var buttonOr = $('#button-or');
        var buttonLeftParenthesis = $('#button-left-parenthesis');
        var buttonRightParenthesis = $('#button-right-parenthesis');
        var buttonClear = $('#button-clear');

        var openedParenthesisCount = 0;

        if (condition.val()) {
            buttonSubevent.addClass('disabled');
            buttonLeftParenthesis.addClass('disabled');
            buttonRightParenthesis.addClass('disabled');
        }
        else {
            buttonAnd.addClass('disabled');
            buttonOr.addClass('disabled');
            buttonRightParenthesis.addClass('disabled');
        }

        buttonSubevents.on('click', function () {
            condition.val(condition.val() + this.dataset.id + '|');
            conditionText.val(conditionText.val() + '"' + this.dataset.name + '"');

            buttonSubevent.addClass('disabled');
            buttonAnd.removeClass('disabled');
            buttonOr.removeClass('disabled');
            buttonLeftParenthesis.addClass('disabled');
            if (openedParenthesisCount > 0)
                buttonRightParenthesis.removeClass('disabled');
            else
                buttonRightParenthesis.addClass('disabled');
        });

        buttonAnd.on('click', function () {
            condition.val(condition.val() + 'and|');
            conditionText.val(conditionText.val() + ' ' + {_common.condition_operator.and} + ' ');

            buttonSubevent.removeClass('disabled');
            buttonAnd.addClass('disabled');
            buttonOr.addClass('disabled');
            buttonLeftParenthesis.removeClass('disabled');
            buttonRightParenthesis.addClass('disabled');
        });

        buttonOr.on('click', function () {
            condition.val(condition.val() + 'or|');
            conditionText.val(conditionText.val() + ' ' + {_common.condition_operator.or} + ' ');

            buttonSubevent.removeClass('disabled');
            buttonAnd.addClass('disabled');
            buttonOr.addClass('disabled');
            buttonLeftParenthesis.removeClass('disabled');
            buttonRightParenthesis.addClass('disabled');
        });

        buttonLeftParenthesis.on('click', function () {
            condition.val(condition.val() + '(|');
            conditionText.val(conditionText.val() + '(');

            openedParenthesisCount++;

            buttonSubevent.removeClass('disabled');
            buttonAnd.addClass('disabled');
            buttonOr.addClass('disabled');
            buttonLeftParenthesis.removeClass('disabled');
            buttonRightParenthesis.addClass('disabled');
        });

        buttonRightParenthesis.on('click', function () {
            condition.val(condition.val() + ')|');
            conditionText.val(conditionText.val() + ')');

            openedParenthesisCount--;

            buttonSubevent.addClass('disabled');
            buttonAnd.removeClass('disabled');
            buttonOr.removeClass('disabled');
            buttonLeftParenthesis.addClass('disabled');
            if (openedParenthesisCount > 0)
                buttonRightParenthesis.removeClass('disabled');
            else
                buttonRightParenthesis.addClass('disabled');
        });

        buttonClear.on('click', function () {
            condition.val('');
            conditionText.val('');

            buttonSubevent.removeClass('disabled');
            buttonAnd.addClass('disabled');
            buttonOr.addClass('disabled');
            buttonLeftParenthesis.removeClass('disabled');
            buttonRightParenthesis.addClass('disabled');
        });
    });
</script>

{form form class => form-horizontal}
    {input id}
    {input condition}

    <div class="form-group">
        {var $input = $form->getComponent('conditionText')}

        <div class="col-sm-3 col-xs-3 control-label">
            <label for="{$input->htmlId}">
                {_$input->caption}
            </label>
        </div>

        <div class="col-sm-9 col-xs-9">
            <div class="input-group">
                {input $input}

                <span class="input-group-btn">
                    <a href="#" id="button-subevent" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Podakce <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {foreach $subevents as $subevent}
                            <li>
                                <a href="#" class="button-subevents" data-id="{$subevent->getId()}" data-name="{$subevent->getName()}">
                                    {$subevent->getName()}
                                </a>
                            </li>
                        {/foreach}
                    </ul>

                    <a href="#" id="button-and" class="btn btn-default">{_common.condition_operator.and}</a>
                    <a href="#" id="button-or" class="btn btn-default">{_common.condition_operator.or}</a>

                    <a href="#" id="button-left-parenthesis"  class="btn btn-default">(</a>
                    <a href="#" id="button-right-parenthesis" class="btn btn-default">)</a>

                    <a href="#" id="button-clear" class="btn btn-danger btn-last">
                        <span class="fa fa-remove"></span>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group required">
        {var $input = $form->getComponent('discount')}

        <div class="col-sm-3 col-xs-3 control-label">
            <label for="{$input->htmlId}">
                {_$input->caption}
            </label>
        </div>

        <div class="col-sm-9 col-xs-9">
            {input $input}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3 col-xs-3"></div>
        <div class="col-sm-9 col-xs-9">
            {input submit class => 'btn btn-primary button'}
            <a href="{plink Discounts:default}" class="btn btn-warning">{_admin.common.cancel}</a>
        </div>
    </div>
{/form}