parameters:

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days

search:
    forms:
        in: %appDir%
        classes: App\**\Forms\*FormFactory

    components:
        in: %appDir%
        classes: App\**\Components\*ControlFactory

    services:
        in: %appDir%/Services
        classes:
            - *Service

    repositories:
        in: %appDir%/Model
        extends: App\Model\Infrastructure\Repositories\AbstractRepository

    commands:
        in: %appDir%/Model
        classes: App\Model\*\Commands\Handlers\*Handler
        tags:
            messenger.messageHandler:
                bus: commandBus

    queries:
        in: %appDir%/Model
        classes: App\Model\*\Queries\Handlers\*Handler
        tags:
            messenger.messageHandler:
                bus: queryBus

    events:
        in: %appDir%/Model
        classes: App\Model\*\Events\Subscribers\*Listener
        tags:
            messenger.messageHandler:
                bus: eventBus

services:
    - App\Router\RouterFactory
    router: @App\Router\RouterFactory::createRouter
    authenticator: App\Services\Authenticator
    console.application: Contributte\Console\Application
    -
        factory: Contributte\PdfResponse\PdfResponse
        setup:
            - $mpdfConfig([tempDir: %tempDir%/mpdf])

    - App\Services\Authorizator
    - App\Services\FilesService(%wwwDir%)

    - App\Services\CommandBus(@messenger.commandBus.bus)
    - App\Services\QueryBus(@messenger.queryBus.bus)
    - App\Services\EventBus(@messenger.eventBus.bus)

    - App\ApiModule\Services\ScheduleService

    - App\Commands\ClearCacheCommand(%appDir%/..)
    - App\Commands\BackupDatabaseCommand(%appDir%/../backup)

    - App\Utils\Validators

    pageFormFactory:
        factory: App\AdminModule\CmsModule\Forms\PageForm(%id%, %area%, ...)
        implement: App\AdminModule\CmsModule\Forms\IPageFormFactory
        parameters: [id, area]
    discountFormFactory:
        factory: App\AdminModule\ConfigurationModule\Forms\DiscountForm(%id%, ...)
        implement: App\AdminModule\ConfigurationModule\Forms\IDiscountFormFactory
        parameters: [id]

extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    skautis: Skautis\Nette\SkautisExtension
    translation: Contributte\Translation\DI\TranslationExtension
    mailing: Ublaboo\Mailing\DI\MailingExtension
    recaptcha: Contributte\ReCaptcha\DI\ReCaptchaExtension
    messenger: Fmasa\Messenger\DI\MessengerExtension

console:
    name: SRS
    catchExceptions: true
    autoExit: true
    lazy: false

mailing:
    do: both
    logDirectory: '%appDir%/../log/mails'

translation:
    locales:
        whitelist: [cs]
        default: cs
        fallback: [cs]
    dirs:
        - %appDir%/lang

messenger:
    buses:
        commandBus:
            panel: %debugMode%
        eventBus:
            panel: %debugMode%
        queryBus:
            panel: %debugMode%

latte:
    macros:
        - Nextras\FormsRendering\LatteMacros\Bs3InputMacros::install

forms:
    messages:
        MAX_FILE_SIZE: 'Velikost nahraného souboru může být nejvýše %d bytů.'

tracy:
    maxDepth: 7

includes:
    - doctrine.neon
