parameters:

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days

search:
    forms:
        in: %appDir%
        classes: App\**\Forms\*FormFactory

    components:
        in: %appDir%
        classes: App\**\Components\*ControlFactory

    services:
        in: %appDir%/Services
        classes:
            - *Service

    repositories:
        in: %appDir%/Model
        extends: App\Model\Infrastructure\Repositories\AbstractRepository

    commands:
        in: %appDir%/Model
        classes: App\Model\*\Commands\Handlers\*Handler
        tags:
            messenger.messageHandler:
                bus: commandBus

    queries:
        in: %appDir%/Model
        classes: App\Model\*\Queries\Handlers\*Handler
        tags:
            messenger.messageHandler:
                bus: queryBus

    events:
        in: %appDir%/Model
        classes: App\Model\*\Events\Subscribers\*Listener
        tags:
            messenger.messageHandler:
                bus: eventBus

services:
    - App\Router\RouterFactory
    router: @App\Router\RouterFactory::createRouter
    authenticator: App\Services\Authenticator
    console.application: Contributte\Console\Application
    -
        factory: Joseki\Application\Responses\PdfResponse
        setup:
            - $mpdfConfig([tempDir: %tempDir%/mpdf])

    - App\Services\Authorizator
    - App\Services\DatabaseService(%appDir%/..)
    - App\Services\FilesService(%wwwDir%/files)
    - App\Services\CommandBus(@messenger.commandBus.bus)
    - App\Services\QueryBus(@messenger.queryBus.bus)
    - App\Services\EventBus(@messenger.eventBus.bus)

    - App\ApiModule\Services\ScheduleService
    - App\Commands\ClearCacheCommand(%appDir%/..)
    - App\Utils\Validators

    pageFormFactory:
        factory: App\AdminModule\CmsModule\Forms\PageForm(%id%, %area%, ...)
        implement: App\AdminModule\CmsModule\Forms\IPageFormFactory
        parameters: [id, area]
    discountFormFactory:
        factory: App\AdminModule\ConfigurationModule\Forms\DiscountForm(%id%, ...)
        implement: App\AdminModule\ConfigurationModule\Forms\IDiscountFormFactory
        parameters: [id]

extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    webloader: WebLoader\Nette\Extension
    skautis: Skautis\Nette\SkautisExtension
    translation: Contributte\Translation\DI\TranslationExtension
    mailing: Ublaboo\Mailing\DI\MailingExtension
    recaptcha: Contributte\ReCaptcha\DI\ReCaptchaExtension
    messenger: Fmasa\Messenger\DI\MessengerExtension

console:
    name: SRS
    catchExceptions: true
    autoExit: true
    lazy: false

mailing:
    do: both
    logDirectory: '%appDir%/../log/mails'

translation:
    locales:
        whitelist: [cs]
        default: cs
        fallback: [cs]
    dirs:
        - %appDir%/lang

messenger:
    buses:
        commandBus:
        eventBus:
        queryBus:

latte:
    macros:
        - Nextras\FormsRendering\LatteMacros\Bs3InputMacros::install

webloader:
    css:
        web:
            files:
                - css/libs/jquery/jquery-ui.min.css
                - %appDir%/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css
                - css/libs/font-awesome.min.css
                - css/libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css
                - %appDir%/../vendor/snapappointments/bootstrap-select/dist/css/bootstrap-select.css
                - %appDir%/../vendor/kartik-v/bootstrap-fileinput/css/fileinput.min.css
                - css/libs/ublaboo-datagrid/happy.min.css
                - %appDir%/../vendor/ublaboo/datagrid/assets/datagrid.css
                - %appDir%/../vendor/ublaboo/datagrid/assets/datagrid-spinners.css
                - css/web/layout.css
                - css/web/style.css

        admin:
            files:
                - css/libs/jquery/jquery-ui.min.css
#                - libs/jquery/jquery.floatingscroll.css
                - %appDir%/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css
                - css/libs/font-awesome.min.css
                - css/libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css
                - %appDir%/../vendor/snapappointments/bootstrap-select/dist/css/bootstrap-select.css
                - %appDir%/../vendor/kartik-v/bootstrap-fileinput/css/fileinput.min.css
                - css/libs/ublaboo-datagrid/happy.min.css
                - %appDir%/../vendor/ublaboo/datagrid/assets/datagrid.css
                - %appDir%/../vendor/ublaboo/datagrid/assets/datagrid-spinners.css
                - css/admin/style.css

        install:
            files:
                - %appDir%/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css
                - css/install/style.css

        export:
            files:
                - css/export/style.css

    js:
        web:
            files:
                - js/libs/jquery/jquery-3.4.1.min.js
                - js/libs/live-form-validation.js
                - js/libs/nette.ajax.js
                - js/libs/jquery/jquery-ui.min.js
                - js/libs/jquery/jquery.mousewheel.min.js
                - %appDir%/../vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js
                - js/libs/moment/moment.js
                - js/libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js
                - js/libs/bootstrap-datetimepicker/bootstrap-datetimepicker.cs.js
                - %appDir%/../vendor/snapappointments/bootstrap-select/dist/js/bootstrap-select.js
                - %appDir%/../vendor/snapappointments/bootstrap-select/dist/js/i18n/defaults-cs_CZ.js
                - js/libs/bootstrap-confirmation/bootstrap-confirmation.min.js
                - %appDir%/../vendor/kartik-v/bootstrap-fileinput/js/fileinput.min.js
                - %appDir%/../vendor/kartik-v/bootstrap-fileinput/themes/fa/theme.js
                - %appDir%/../vendor/kartik-v/bootstrap-fileinput/js/locales/cs.js
                - js/libs/ublaboo-datagrid/happy.min.js
#                - libs/ublaboo-datagrid/datagrid.js
                - %appDir%/../vendor/ublaboo/datagrid/assets/datagrid.js
                - %appDir%/../vendor/ublaboo/datagrid/assets/datagrid-instant-url-refresh.js
                - %appDir%/../vendor/ublaboo/datagrid/assets/datagrid-spinners.js
                - js/main.js

        admin:
            files:
                - js/libs/jquery/jquery-3.4.1.min.js
                - js/libs/live-form-validation.js
                - js/libs/nette.ajax.js
                - js/libs/jquery/jquery-ui.min.js
                - js/libs/jquery/jquery.mousewheel.min.js
#                - libs/jquery/jquery.floatingscroll.min.js
                - %appDir%/../vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js
                - js/libs/moment/moment.js
                - js/libs/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js
                - js/libs/bootstrap-datetimepicker/bootstrap-datetimepicker.cs.js
                - %appDir%/../vendor/snapappointments/bootstrap-select/dist/js/bootstrap-select.js
                - %appDir%/../vendor/snapappointments/bootstrap-select/dist/js/i18n/defaults-cs_CZ.js
                - js/libs/bootstrap-confirmation/bootstrap-confirmation.min.js
                - %appDir%/../vendor/kartik-v/bootstrap-fileinput/js/fileinput.min.js
                - %appDir%/../vendor/kartik-v/bootstrap-fileinput/themes/fa/theme.js
                - %appDir%/../vendor/kartik-v/bootstrap-fileinput/js/locales/cs.js
                - js/libs/ublaboo-datagrid/happy.min.js
#                - libs/ublaboo-datagrid/datagrid.js
                - %appDir%/../vendor/ublaboo/datagrid/assets/datagrid.js
                - %appDir%/../vendor/ublaboo/datagrid/assets/datagrid-instant-url-refresh.js
                - %appDir%/../vendor/ublaboo/datagrid/assets/datagrid-spinners.js
                - js/main.js

        install:
            files:
                - js/libs/jquery/jquery-3.4.1.min.js
                - %appDir%/../vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js

includes:
    - doctrine.neon
