application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    - Arachne\ContainerAdapter\DI\ContainerAdapterExtension
    - Arachne\EventDispatcher\DI\EventDispatcherExtension
    migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    webloader: WebLoader\Nette\Extension
    skautis: Skautis\Nette\SkautisExtension
    translation: Kdyby\Translation\DI\TranslationExtension
    nextras.form: Nextras\Forms\Bridges\NetteDI\FormsExtension

latte:
    macros:
        - Nextras\Forms\Bridges\Latte\Macros\BS3InputMacros

doctrine:
    host: %database.host%
    dbname: %database.dbname%
    user: %database.user%
    password: %database.password%
    metadata:
        App: %appDir%

migrations:
    table: doctrine_migrations # database table for applied migrations
    column: version # database column for applied migrations
    directory: %appDir%/../migrations # directory, where all migrations are stored
    namespace: Migrations # namespace of migration classes
    codingStandard: tabs # or "spaces", coding style for generated classes
    versionsOrganization: null # null, "year" or "year_and_month", organizes migrations to subdirectories

skautis:
    applicationId: %skautIS.appId%
    testMode: $skautIS.test%

services:
    - App\RouterFactory
    router: @App\RouterFactory::createRouter
    authenticator: App\Services\Authenticator
    - App\Services\ConfigFacade
    - App\Model\User\UserRepository
    - App\Model\ACL\RoleRepository
    - App\Model\ACL\ResourceRepository
    - App\Model\Settings\SettingsRepository
    - App\Model\CMS\PageRepository
    - App\Model\Program\ProgramRepository
    - App\InstallModule\Forms\BaseFormFactory
    - App\InstallModule\Forms\DatabaseFormFactory
    - App\InstallModule\Forms\SkautISFormFactory

webloader:
    css:
        web:
            files:
                - %appDir%/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css
                - multi-select.css

        admin:
            files:
                - %appDir%/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css
                - multi-select.css

        install:
            files:
                - %appDir%/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css

    js:
        web:
            remoteFiles:
                - https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js
                - https://oss.maxcdn.com/respond/1.4.2/respond.min.js
                - https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js
            files:
                - netteForms.js
                - main.js
                - %appDir%/../vendor/twbs/bootstrap/dist/js/bootstrap.min.js
                - jquery.multi-select.js

        admin:
            remoteFiles:
                - https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js
                - https://oss.maxcdn.com/respond/1.4.2/respond.min.js
                - https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js
            files:
                - netteForms.js
                - main.js
                - %appDir%/../vendor/twbs/bootstrap/dist/js/bootstrap.min.js
                - jquery.multi-select.js

        install:
            remoteFiles:
                - https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js
                - https://oss.maxcdn.com/respond/1.4.2/respond.min.js
                - https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js
            files:
                - netteForms.js
                - main.js
                - %appDir%/../vendor/twbs/bootstrap/dist/js/bootstrap.min.js
