parameters:
    consoleUrl: https://srs-test.local
    database:
        host: mysql-test
        dbname: srs
        user: root
        password: root

    skautIS:
        appId: 31153c75-6c74-49ab-8660-123786a11a3b
        test: true

mail:
    smtp: true
    host: smtp-srs.loc
    port:
    username: test@srs.loc
    password:
    secure:

