application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    - Arachne\ContainerAdapter\DI\ContainerAdapterExtension
    - Arachne\EventDispatcher\DI\EventDispatcherExtension
    migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    webloader: WebLoader\Nette\Extension
    skautis: Skautis\Nette\SkautisExtension
    translation: Kdyby\Translation\DI\TranslationExtension
    nextras.form: Nextras\Forms\Bridges\NetteDI\FormsExtension
    mailing: Ublaboo\Mailing\DI\MailingExtension

latte:
    macros:
        - Nextras\Forms\Bridges\Latte\Macros\BS3InputMacros

doctrine:
    host: %database.host%
    dbname: %database.dbname%
    user: %database.user%
    password: %database.password%
    metadata:
        App: %appDir%

migrations:
    table: doctrine_migrations # database table for applied migrations
    column: version # database column for applied migrations
    directory: %appDir%/../migrations # directory, where all migrations are stored
    namespace: Migrations # namespace of migration classes
    codingStandard: tabs # or "spaces", coding style for generated classes
    versionsOrganization: null # null, "year" or "year_and_month", organizes migrations to subdirectories

skautis:
    applicationId: %skautIS.appId%
    testMode: $skautIS.test%

mailing:
    do: both
    log_directory: '%appDir%/../log/mails'

services:
    - App\RouterFactory
    router: @App\RouterFactory::createRouter
    authenticator: App\Services\Authenticator
    - App\Services\Authorizator
    - App\Services\SkautIsService
    - App\Services\FilesService(%wwwDir%/files)
    - App\Services\MailService
    - App\Services\PrintService
    - App\Services\ExportService
    - App\ApiModule\Services\ScheduleService
    - App\Model\ACL\PermissionRepository
    - App\Model\ACL\ResourceRepository
    - App\Model\ACL\RoleRepository
    - App\Model\CMS\Content\ContentRepository
    - App\Model\CMS\Document\DocumentRepository
    - App\Model\CMS\Document\TagRepository
    - App\Model\CMS\FaqRepository
    - App\Model\CMS\NewsRepository
    - App\Model\CMS\PageRepository
    - App\Model\Mailing\MailRepository
    - App\Model\Program\BlockRepository
    - App\Model\Program\CategoryRepository
    - App\Model\Program\ProgramRepository
    - App\Model\Program\RoomRepository
    - App\Model\Settings\CustomInput\CustomInputRepository
    - App\Model\Settings\SettingsRepository
    - App\Model\User\UserRepository
    - App\Model\User\CustomInputValue\CustomInputValueRepository
    - App\WebModule\Components\IApplicationContentControlFactory
    - App\WebModule\Components\IBlocksContentControlFactory
    - App\WebModule\Components\ICapacitiesContentControlFactory
    - App\WebModule\Components\IDocumentContentControlFactory
    - App\WebModule\Components\IFaqContentControlFactory
    - App\WebModule\Components\IHtmlContentControlFactory
    - App\WebModule\Components\IImageContentControlFactory
    - App\WebModule\Components\INewsContentControlFactory
    - App\WebModule\Components\IProgramsContentControlFactory
    - App\WebModule\Components\ITextContentControlFactory
    - App\WebModule\Components\IUsersContentControlFactory
    - App\WebModule\Forms\BaseForm
    - App\WebModule\Forms\AdditionalInformationForm
    - App\WebModule\Forms\ApplicationForm
    - App\WebModule\Forms\FaqForm
    - App\WebModule\Forms\PersonalDetailsForm
    - App\WebModule\Forms\RolesForm
    - App\AdminModule\Forms\BaseForm
    - App\AdminModule\ProgramModule\Forms\AddRoleForm
    - App\AdminModule\ProgramModule\Forms\EditRoleForm
    - App\AdminModule\CMSModule\Forms\FaqForm
    pageFormFactory:
        class: App\AdminModule\CMSModule\Forms\PageForm(%id%, %area%, ...)
        implement: App\AdminModule\CMSModule\Forms\IPageFormFactory
        parameters: [id, area]
    - App\AdminModule\CMSModule\Forms\NewsForm
    - App\AdminModule\CMSModule\Forms\SettingsForm
    - App\AdminModule\ConfigurationModule\Forms\PaymentForm
    - App\AdminModule\ConfigurationModule\Forms\PaymentProofForm
    - App\AdminModule\ConfigurationModule\Forms\ProgramForm
    - App\AdminModule\ConfigurationModule\Forms\SeminarForm
    - App\AdminModule\ConfigurationModule\Forms\SkautIsEventForm
    - App\AdminModule\ProgramModule\Forms\BlockForm
    - App\AdminModule\Components\IRolesGridControlFactory
    - App\AdminModule\Components\IUsersGridControlFactory
    - App\AdminModule\CMSModule\Components\IDocumentsGridControlFactory
    - App\AdminModule\CMSModule\Components\IDocumentTagsGridControlFactory
    - App\AdminModule\CMSModule\Components\IFaqGridControlFactory
    - App\AdminModule\CMSModule\Components\INewsGridControlFactory
    - App\AdminModule\CMSModule\Components\IPagesGridControlFactory
    - App\AdminModule\ConfigurationModule\Components\ICustomInputsGridControlFactory
    - App\AdminModule\MailingModule\Forms\SendForm
    - App\AdminModule\MailingModule\Components\IMailHistoryGridControlFactory
    - App\AdminModule\ProgramModule\Components\IProgramBlockScheduleGridControlFactory
    - App\AdminModule\ProgramModule\Components\IProgramBlocksGridControlFactory
    - App\AdminModule\ProgramModule\Components\IProgramCategoriesGridControlFactory
    - App\AdminModule\ProgramModule\Components\IProgramAttendeesGridControlFactory
    - App\AdminModule\ProgramModule\Components\IRoomsGridControlFactory

webloader:
    css:
        web:
            files:
                - libs/jquery/jquery-ui.min.css
                - %appDir%/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css
                - libs/font-awesome.min.css
                - libs/bootstrap-datetimepicker/bootstrap-datetimepicker.css
                - libs/bootstrap-select/bootstrap-select.min.css
                - %appDir%/../vendor/kartik-v/bootstrap-fileinput/css/fileinput.min.css
                - web/layout.css
                - web/style.css

        admin:
            files:
                - libs/jquery/jquery-ui.min.css
                - %appDir%/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css
                - libs/font-awesome.min.css
                - libs/bootstrap-datetimepicker/bootstrap-datetimepicker.css
                - libs/bootstrap-select/bootstrap-select.min.css
                - %appDir%/../vendor/kartik-v/bootstrap-fileinput/css/fileinput.min.css
                - libs/ublaboo-datagrid/happy.min.css
                - %appDir%/../vendor/ublaboo/datagrid/assets/dist/datagrid.min.css
                - %appDir%/../vendor/ublaboo/datagrid/assets/dist/datagrid-spinners.min.css
                - admin/style.css

        install:
            files:
                - %appDir%/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css
                - install/style.css

    js:
        web:
            files:
                - libs/jquery/jquery-3.1.1.min.js
                - libs/live-form-validation.js
                - libs/nette.ajax.js
                - libs/jquery/jquery-ui.min.js
                - libs/jquery/jquery.mousewheel.min.js
                - %appDir%/../vendor/twbs/bootstrap/dist/js/bootstrap.min.js
                - libs/bootstrap-datetimepicker/moment-with-locales.js
                - libs/bootstrap-datetimepicker/bootstrap-datetimepicker.js
                - libs/bootstrap-datetimepicker/bootstrap-datetimepicker.cs.js
                - libs/bootstrap-select/bootstrap-select.min.js
                - libs/bootstrap-select/defaults-cs_CZ.js
                - libs/bootstrap-confirmation/bootstrap-confirmation.min.js
                - %appDir%/../vendor/kartik-v/bootstrap-fileinput/js/fileinput.min.js
                - %appDir%/../vendor/kartik-v/bootstrap-fileinput/themes/fa/theme.js
                - %appDir%/../vendor/kartik-v/bootstrap-fileinput/js/locales/cz.js
                - main.js

        admin:
            files:
                - libs/jquery/jquery-3.1.1.min.js
                - libs/live-form-validation.js
                - libs/nette.ajax.js
                - libs/jquery/jquery-ui.min.js
                - libs/jquery/jquery.mousewheel.min.js
                - libs/jquery/jquery-ui-sortable.min.js
                - %appDir%/../vendor/twbs/bootstrap/dist/js/bootstrap.min.js
                - libs/bootstrap-datetimepicker/moment-with-locales.js
                - libs/bootstrap-datetimepicker/bootstrap-datetimepicker.js
                - libs/bootstrap-datetimepicker/bootstrap-datetimepicker.cs.js
                - libs/bootstrap-select/bootstrap-select.min.js
                - libs/bootstrap-select/defaults-cs_CZ.js
                - libs/bootstrap-confirmation/bootstrap-confirmation.min.js
                - %appDir%/../vendor/kartik-v/bootstrap-fileinput/js/fileinput.min.js
                - %appDir%/../vendor/kartik-v/bootstrap-fileinput/themes/fa/theme.js
                - %appDir%/../vendor/kartik-v/bootstrap-fileinput/js/locales/cz.js
                - libs/ublaboo-datagrid/happy.min.js
                - %appDir%/../vendor/ublaboo/datagrid/assets/dist/datagrid.min.js
                - %appDir%/../vendor/ublaboo/datagrid/assets/dist/datagrid-instant-url-refresh.min.js
                - %appDir%/../vendor/ublaboo/datagrid/assets/dist/datagrid-spinners.min.js
                - main.js

        install:
            files:
                - libs/jquery/jquery-3.1.1.min.js
                - %appDir%/../vendor/twbs/bootstrap/dist/js/bootstrap.min.js
