parameters:
    database:
        host: ${config.database.host}
        dbname: ${config.database.name}
        user: ${config.database.user}
        password: ${config.database.password}

    skautIS:
        appId: ${config.skautis.applicationId}
        test: ${config.skautis.testMode}

mail:
    smtp: false
    host:
    port:
    username:
    password:
    secure:
