parameters:
    database:
        host: localhost
        dbname: dbname
        user: user
        password: password

    installed:
        connection: false
        schema: false
        skautIS: false
        admin: false

    skautIS:
        appId: skaut_is_app_id
        test: true

    customInputs:
        booleanCount: 5
        textCount: 2

