parameters:
    database:
        host: localhost
        dbname: srs
        user: srs
        password: srs

    installed:
        connection: false
        schema: false
        skautIS: false

    skautIS:
        appId:
        test: true


