parameters:
    database:
        host: mysql-test
        dbname: srs
        user: root
        password: root

    skautIS:
        appId: 31153c75-6c74-49ab-8660-123786a11a3b
        test: true


