extensions:
    # Common
    nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
    nettrine.cache: Nettrine\Cache\DI\CacheExtension
    nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

    # DBAL
    nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
    nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension

    # ORM
    nettrine.orm: Nettrine\ORM\DI\OrmExtension
    nettrine.orm.cache: Nettrine\ORM\DI\OrmCacheExtension
    nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)
    nettrine.orm.attributes: Nettrine\ORM\DI\OrmAttributesExtension

nettrine.dbal:
    debug:
        panel: %debugMode%
    connection:
        charset: utf8mb4
        default_table_options:
            charset: utf8mb4
            collate: utf8mb4_unicode_ci

nettrine.orm:
    configuration:
        proxyDir: %tempDir%/proxies
        autoGenerateProxyClasses: %debugMode%
        customStringFunctions:
            regexp: DoctrineExtensions\Query\Mysql\Regexp

nettrine.orm.attributes:
    mapping:
        App\Model: %appDir%/Model

nettrine.migrations:
    directory: %appDir%/../migrations
