parameters:

dbal:
    connection:
        host: "__CONFIG_DATABASE_HOST__"
        driver: mysqli
        dbname: "__CONFIG_DATABASE_NAME__"
        user: "__CONFIG_DATABASE_USER__"
        password: "__CONFIG_DATABASE_PASSWORD__"

skautis:
    applicationId: "__CONFIG_SKAUTIS_APPLICATION_ID__"
    testMode: __CONFIG_SKAUTIS_TEST_MODE__

mail:
    smtp: false
