parameters:

nettrine.dbal:
    connection:
        host: "__CONFIG_DATABASE_HOST__"
        driver: mysqli
        dbname: "__CONFIG_DATABASE_NAME__"
        user: "__CONFIG_DATABASE_USER__"
        password: "__CONFIG_DATABASE_PASSWORD__"

skautis:
    applicationId: "__CONFIG_SKAUTIS_APPLICATION_ID__"
    testMode: __CONFIG_SKAUTIS_TEST_MODE__

mail:
    smtp: __CONFIG_MAIL_SMTP__
    host: "__CONFIG_MAIL_HOST__"
    port: __CONFIG_MAIL_PORT__
    username: "__CONFIG_MAIL_USERNAME__"
    password: "__CONFIG_MAIL_PASSWORD__"
    secure: __CONFIG_MAIL_SECURE__

recaptcha:
    siteKey: __CONFIG_RECAPTCHA_SITE_KEY__
    secretKey: __CONFIG_RECAPTCHA_SECRET_KEY__
