parameters:

nettrine.dbal:
    connection:
        host: localhost
        driver: mysqli
        dbname: dbname
        user: user
        password: password

nettrine.orm:
    configuration:
        autoGenerateProxyClasses: true

skautis:
    applicationId: skaut_is_app_id
    testMode: false

mail:
    smtp: false
    host: ""
    port: 0
    username: ""
    password: ""
    secure:

mailing:
    mails: [
    	senderEmail: srs@skaut.cz
    ]

recaptcha:
    siteKey: ""
    secretKey: ""
