<div class="userBox">
    {if empty($users)}
        Žádný uživatel k zobrazení.
    {else}
        <ul class="no-bullets no-margin">
            {foreach $users as $user}
                <li>{$user->displayName}</li>
            {/foreach}
        </ul>
    {/if}
</div>

