<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags}{/block} | SRS</title>
    {widget cssLoader 'nette.css', 'bootstrap.css', 'bootstrap-responsive.css', 'niftygrid/grid.css', 'niftygrid/example.css', 'jquery-ui/jquery-ui.css', 'back/screen.css'}
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
    {*<script src="http://code.jquery.com/jquery-latest.js"></script>*}
    {widget jsLoader 'jquery-1.8.2.min.js', 'netteForms.js', 'bootstrap.min.js', 'jquery-ui.js', 'niftygrid/grid.js'}

    {*'jquery-1.8.2.min.js'*}

	{block head}{/block}
</head>

<body>
	<script> document.body.className+=' js' </script>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/admin">SRS</a>
                <div class="nav-collapse collapse">
                    <p class="navbar-text pull-right">
                        Přihlášen jako <a href="#" class="navbar-link">{$user->getIdentity()->data['object']->username}</a> <a href="{plink :Auth:logout}"><i class="icon-remove"></i></a>
                    </p>
                    <ul class="nav">
                        <li {ifCurrent :Back:dashboard:default}class="active"{/ifCurrent}><a href="{plink :Back:dashboard:default}">Home</a></li>
                       {if $user->isAllowed('ACL', 'Spravovat')} <li {ifCurrent :Back:acl:list}class="active"{/ifCurrent}><a href="{plink :Back:acl:users}">Práva a Role</a></li>{/if}
                       {if $user->isAllowed('CMS', 'Spravovat')} <li {ifCurrent :Back:Page:pages}class="active"{/ifCurrent}><a href="{plink :Back:Page:Pages}">CMS</a></li>{/if}
                       {if $user->isAllowed('Program', 'Přístup')} <li {ifCurrent :Back:Block}class="active"{/ifCurrent}><a href="{plink :Back:Block:list}">Program semináře</a></li>{/if}
                       {if $user->isAllowed('Konfigurace', 'Spravovat')} <li {ifCurrent :Back:Configration}class="active"{/ifCurrent}><a href="{plink :Back:Configuration:default}">Konfigurace</a></li>{/if}

                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>


    <div class="container-fluid" id="container" {block container_attributes}{/block}>
        <div class="row-fluid">
            <div class="span3">
                {block sidebar}
                <div class="well sidebar-nav ">
                    <ul class="nav nav-list">
                        {block #sidebar_menu}

                        {/block}
                    </ul>
                </div><!--/.well -->
                {/block}
            </div><!--/span-->
            <div class="span9">
                {snippet flashMessages}
                <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {$flash->message}
                </div>
                <script>
                  $(document).ready(function() {
                    $('.alert').delay(4000).fadeOut();
                  });
                </script>
                {/snippet}
                {block #content} {/block}
            </div><!--/span-->
        </div><!--/row-->

        <div class="row-fluid">
            <div class="span12">
            <hr>

            <footer>
                <p>&copy; SRS</p>
            </footer>
            </div>
        </div>

    </div><!--/.fluid-container-->

</body>
</html>
