{block head}
    {include '../../../../Presenters/templates/includes/tinymce_init.latte'}
{/block}

{block main}
    <h2>{_admin.configuration.place_heading}</h2>
    <div class="card card-body bg-light pb-1">
        {control placeDescriptionForm}
    </div>

    <h2>{_admin.configuration.place_points}</h2>
    {control placePointsGrid}
{/block}