{block head}
    <script src="https://api.mapy.cz/loader.js"></script>
    <script>Loader.load()</script>
    <script src="{$basePath}/js/libs/nette-forms-gpspicker/nette.gpsPicker.js"></script>
{/block}

{block main}
    <h2>{_admin.configuration.place_points_edit_heading, ['name' => $placePoint->getName()]}</h2>
    <div class="card card-body bg-light">
        {control placePointForm}
    </div>
{/block}