{block sidebar}
    <div class="well">
        <ul class="nav nav-pills nav-stacked">
            <li {ifCurrent Subevents:*}class="active"{/ifCurrent}>
                <a href="{plink Subevents:default}">{_admin.structure.menu_subevents}</a>
            </li>

            <li {ifCurrent Discounts:*}class="active"{/ifCurrent}>
                <a href="{plink Discounts:default}">{_admin.structure.menu_discounts}</a>
            </li>
        </ul>
    </div>
{/block}