{block sidebar}
    <div class="well">
        <ul class="nav nav-pills nav-stacked">
            <li {ifCurrent Pages:*}class="active"{/ifCurrent}>
                <a href="{plink Pages:default}">{_admin.cms.menu_pages}</a>
            </li>

            <li {ifCurrent News:*}class="active"{/ifCurrent}>
                <a href="{plink News:default}">{_admin.cms.menu_news}</a>
            </li>

            <li {ifCurrent Documents:*}class="active"{/ifCurrent}>
                <a href="{plink Documents:default}">{_admin.cms.menu_documents}</a>
            </li>

            <li {ifCurrent Faq:*}class="active"{/ifCurrent}>
                <a href="{plink Faq:default}">{_admin.cms.menu_faq}</a>
            </li>
        </ul>
    </div>
{/block}