<link rel="stylesheet" href="{$basePath|noescape}/js/libs/fullcalendar/fullcalendar.min.css"></link>
<script type="text/javascript" src="{$basePath|noescape}/js/libs/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="{$basePath|noescape}/js/admin/fullcalendar.js"></script>
