{define main-menu}
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"
                   href="{plink :Web:Page:default}">{_admin.common.heading, [seminar_name => $seminarName]}</a>
            </div>

            <div id="navbar">
                <ul class="nav navbar-nav">
                    <li n:class="$presenter->isLinkCurrent(':Admin:Dashboard:*') ? active">
                        <a href="{plink :Admin:Dashboard:default}">{_admin.menu.dashboard}</a>
                    </li>
                    {if $user->isAllowed($resourceCMS, $permissionManage)}
                        <li n:class="
                                $presenter->isLinkCurrent(':Admin:CMS:Pages:*') ||
                                $presenter->isLinkCurrent(':Admin:CMS:News:*') ||
                                $presenter->isLinkCurrent(':Admin:CMS:Documents:*') ||
                                $presenter->isLinkCurrent(':Admin:CMS:Faq:*') ? active">
                            <a href="{plink :Admin:CMS:Pages:default}">{_admin.menu.cms}</a>
                        </li>
                    {/if}
                    {if $user->isAllowed($resourceProgram, $permissionAccess)}
                        <li n:class="
                                $presenter->isLinkCurrent(':Admin:Program:Blocks:*') ||
                                $presenter->isLinkCurrent(':Admin:Program:Schedule:*') ||
                                $presenter->isLinkCurrent(':Admin:Program:Categories:*') ||
                                $presenter->isLinkCurrent(':Admin:Program:Rooms:*') ? active">
                            <a href="{plink :Admin:Program:Blocks:default}">{_admin.menu.program}</a>
                        </li>
                    {/if}
                    {if $user->isAllowed($resourceUsers, $permissionManage)}
                        <li n:class="$presenter->isLinkCurrent(':Admin:Users:*') ? active">
                            <a href="{plink :Admin:Users:default}">{_admin.menu.users}</a>
                        </li>
                    {/if}
                    {if $user->isAllowed($resourceACL, $permissionManage)}
                        <li n:class="$presenter->isLinkCurrent(':Admin:Acl:*') ? active">
                            <a href="{plink :Admin:Acl:default}">{_admin.menu.acl}</a>
                        </li>
                    {/if}
                    {if $user->isAllowed($resourceMailing, $permissionManage)}
                        <li n:class="
                                $presenter->isLinkCurrent(':Admin:Mailing:Auto:*') ||
                                $presenter->isLinkCurrent(':Admin:Mailing:Send:*') ||
                                $presenter->isLinkCurrent(':Admin:Mailing:History:*') ? active">
                            <a href="{plink :Admin:Mailing:Send:default}">{_admin.menu.mailing}</a>
                            {*<a href="{plink :Admin:Mailing:Auto:default}">{_admin.menu.mailing}</a>*}  {*TODO mailing*}
                        </li>
                    {/if}
                    {if $user->isAllowed($resourceConfiguration, $permissionManage)}
                        <li n:class="
                                $presenter->isLinkCurrent(':Admin:Configuration:Application:*') ||
                                $presenter->isLinkCurrent(':Admin:Configuration:Payment:*') ||
                                $presenter->isLinkCurrent(':Admin:Configuration:Place:*') ||
                                $presenter->isLinkCurrent(':Admin:Configuration:Program:*') ||
                                $presenter->isLinkCurrent(':Admin:Configuration:Seminar:*') ||
                                $presenter->isLinkCurrent(':Admin:Configuration:SkautIs:*') ||
                                $presenter->isLinkCurrent(':Admin:Configuration:Web:*') ||
                                $presenter->isLinkCurrent(':Admin:Configuration:System:*') ? active">
                            <a href="{plink :Admin:Configuration:Seminar:default}">{_admin.menu.configuration}</a>
                        </li>
                    {/if}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <div class="navbar-btn">
                            <a id="user-button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="fa fa-user"></span>
                                {$dbuser->getUsername()}
                                <span class="caret"></span>
                            </a>

                            <ul id="user-menu" class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{plink :Web:Profile:default}">
                                        <span class="fa fa-fw fa-user-circle-o"></span>
                                        {foreach $user->roles as $role}{$role}{sep}, {/sep}{/foreach}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{plink :Web:Profile:default}#collapsePersonalDetails">
                                        <span class="fa fa-fw fa-user"></span>
                                        {_admin.common.profile}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{plink :Auth:logout}">
                                        <span class="fa fa-fw fa-sign-out"></span>
                                        {_admin.common.logout}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{/define}