<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">

		<title>{_install.common.title}</title>

		<link rel="shortcut icon" href="{$basePath}/favicon.ico">

		{control css}
		{control js}

		{block head}{/block}
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<span class="navbar-brand">{_install.common.heading}</span>
				</div>
			</div>
		</nav>

		<div class="container" id="wrapper">
			<div class="row">
				<div class="col-sm-12">
					<h2>{include #header}</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="progress">
						<div class="progress-bar" style="width: {include #progress}"></div>
					</div>
				</div>
			</div>

			<div class="row" n:if="$flashes">
				<div class="col-sm-12">
					<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="well">
						{include #content}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>




