{block content}
<h1>{$page->name}</h1>
<div class="box shadow">
{foreach $page->contents as $content}
    {include 'contents/'.$content->contentType.'.latte' 'content' => $content}
{/foreach}
</div>
{/block}