{block content}

<div class="pageContents">
<h1>{$page->name}</h1>
{foreach $page->contents as $content}
    {include 'contents/'.$content->contentType.'.latte' 'content' => $content}
{/foreach}
</div>
{/block}