{block sidebar} {*TODO překlad*}
    <div class="well">
        <ul class="nav nav-pills nav-stacked">
            <li {ifCurrent Blocks:*}class="active"{/ifCurrent}>
                <a href="{plink Blocks:default}">Programové bloky</a>
            </li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li {ifCurrent Schedule:*}class="active"{/ifCurrent}>
                <a href="{plink Schedule:default}">Harmonogram</a>
            </li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li {ifCurrent Categories:*}class="active"{/ifCurrent}> {*TODO opravneni*}
                <a href="{plink Categories:default}">Kategorie</a>
            </li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li {ifCurrent Rooms:*}class="active"{/ifCurrent}> {*TODO opravneni*}
                <a href="{plink Rooms:default}">Místnosti</a>
            </li>
        </ul>
    </div>
{/block}