{block sidebar} {*TODO překlad*}
    <div class="well">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" {ifCurrent Blocks:default}class="active"{/ifCurrent}>
                <a href="{plink Blocks:default}">Programové bloky</a>
            </li>
        </ul>
    </div>
{/block}