<div>
    {if !$user->isLoggedIn()}
        <div class="notice">
            Pro výběr programů se musíte nejprve <a href="{plink :Auth:login, 'backlink' => $backlink}">přihlásit přes skautIS</a>
        </div>
    {else}

    {if !$isAllowedLogInPrograms}
        <div class="notice">
            Zapisování programů není v tuto chvíli povoleno.
        </div>
    {/if}

    {if !$userHasPermission}
        <div class="notice">
            Vaše role nemá právo zapisovat si programy
        </div>
    {/if}

    <div id="app" ng-app="calendar" ng-controller="FrontCalendarCtrl">
        <div class="span2">
            <div id="jsMessages">
                <div class="ajax-loader">
                    <img src="{$basePath}/img/ajax-loader.gif">
                </div>
            </div>
        </div>

        <div class="span10">
            <div class="alert instructions">
                <a style="float:right;" href="#" class="close" data-dismiss="alert">&times;</a>

                <h3>Instrukce:</h3>
                <ul>
                    <li>Kliknutím na program zobrazíte více informací o něm a zobrazíte možnost pro přihlášení /
                        odhlášení
                    </li>
                    <li><span style="background-color:#40A040; color: white;">Zelené jsou programy, které máte přihlášené</span>
                    </li>
                    <li><span style="background-color:#A0A0A0; color: white;">Programy, na které nelze přihlásit (např. jsou již plné)</span>
                    </li>
                    <li><span style="background-color:#6BA5C2; color: white;">Programy, na které se lze přihlásit</span>
                    </li>
                    <li><span style="background-color:#FF4040;  color: white;">Povinné programy vyžadující přihlášení</span>
                    </li>
                </ul>
            </div>
            <div class="alert alert-error" ng-show="mandatory_unsigned_programs_count">
                Máte nepřihlášené povinné programy (v kalendáři červeně). Prosíme, zapište si je.
            </div>
            <div id="calendar"></div>
        </div>

        <div id="blockModal" ng-model="event" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{ event.title }}</h3>
            </div>

            <div class="modal-body">
                <ul class="no-margin no-bullets" ng-show="event.block">
                    <li><strong>Lektor: </strong>{{ event.block.lector }}</li>
                    <li><strong>Místnost: </strong>{{ event.block.room }}</li>
                    <li><strong>Obsazenost: </strong>{{ event.attendees_count }}/{{ event.block.capacity }}</li>
                    <li><strong>Kategorie: </strong>{{ event.block.category }}</li>
                </ul>
                <h3>O programu:</h3>

                <p>{{ event.block.perex }}</p>

                <div ng-bind-html-unsafe="event.block.description"></div>

                <h3>O lektorovi:</h3>

                <p>{{ event.block.lector_about }}</p>
            </div>

            <div class="modal-footer" ng-model="config">
                {if $isAllowedLogInPrograms && $userHasPermission}
                    <button ng-hide="event.attends" ng-click="attend(event)" class="btn btn-success pull-left">Přihlásit se na program</button>
                    <button ng-show="event.attends" ng-click="unattend(event)" class="btn btn-danger pull-left">Odhlásit se z programu</button>
                {/if}
                <button class="btn pull-right" style="float:right;" data-dismiss="modal">Zavřít dialog</button>
            </div>
        </div>
    </div>
{/if}
</div>