{block main}
    <h2>{_admin.configuration.mailing_heading}</h2>
    <div class="card card-body bg-light pb-1">
        {if $waiting}
            <div class="alert alert-warning alert-forever">{_admin.configuration.mailing_email_verification_needed}</div>
        {/if}
        {control mailingForm}
    </div>
{/block}