
{extends '../Programlayout.latte'}

{block title}
Program » Blok {$block->name}
{/block}

{block content}

<div class="row-fluid">
    <div class="span9">


       <h2>Detail bloku: {$block->name}</h2>
        <div class="navbar">
            <a class="btn btn-warning" href="{plink edit $block->id}">Upravit Blok</a>
            <a class="btn btn-danger confirm" href="{link delete! $block->id}">Smazat Blok</a>
        </div>
       <ul class="block-properties no-margin">
           {ifset $block->lector->username}
           <li><span>Lektor:</span> {$block->lector->username}</li>
           {/ifset}
           <li><span>Lokalita:</span> {$block->location}</li>
           <li><span>Délka:</span> {$block->duration}</li>
           <li><span>Pomůcky:</span> {$block->tools}</li>
           <li><span>Kapacita:</span> {$block->capacity}</li>
       </ul>

        <h3>Zařazení v harmonogramu:</h3>
            <table class="table table-stripped">
                <thead>
                <tr><th>Od</th><th>Do</th><th>Obsazenost</th></tr>
                </thead>
                <tbody>
                {foreach $block->programs as $program}
                <tr><td>{$program->start|date:"d.m. H:i:s"}</td><td>{$program->countEnd($basicBlockDuration)|date:"d.m. H:i:s"}</td><td>{$program->attendees->count()}/{$block->capacity}</td></tr>
                {/foreach}
                </tbody>

            </table>

    </div>
</div>
{include '../includes/confirm_dialog.latte'}
{/block}
