
{extends '../Programlayout.latte'}

{block title}
Program » {ifset $block}{$block->name}{else}Nový blok{/ifset}
{/block}

{block content}
        <h1>{ifset $block}{$block->name}{else}Nový blok{/ifset}</h1>
       {widget blockForm}

{include '../includes/confirm_dialog.latte'}
{/block}
