
{extends '../Programlayout.latte'}

{block title}
Program » Bloky
{/block}

{block content}

<div class="row-fluid">
    <div class="span9">
        <div class="navbar">
            <a class="btn btn-success" href="{plink detail}" data-toggle="modal"><i class="icon-plus-sign"></i>Přidat Blok</a>
        </div>
            <table class="table-bordered table-striped">
                <thead>
                <th>Název</th>
                <th>Lektor</th>
                <th>Délka</th>
                <th>Operace</th>
                </thead>
                <tbody>
                <tr n:foreach="$blocks as $block" id="item-{$item->id}">
                    <td class="sort-arrow"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
                    <td>{$block->name|truncate:60, '...'}</td>
                    <td>
                     {$block->lector->userName}
                    </td>
                    <td>
                        {$block->duration}
                    </td>
                    <td>
                        <a class="btn" href="{plink detail $block->id}">
                            Zobrazit detail
                        </a>

                        <a class="btn btn-danger confirm" href="{link delete! $block->id}">
                            Smazat
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
</div>
{include '../includes/confirm_dialog.latte'}
{/block}
