
{extends '../Programlayout.latte'}

{block title}
Program » Bloky
{/block}

{block content}
<div class="navbar">
    <a class="btn btn-success" href="{plink edit}"><i class="icon-plus-sign"></i>Přidat Blok</a>
</div>
    {widget blockGrid}
{include '../includes/confirm_dialog.latte'}
{/block}
