{block head}
{include '../../../../presenters/templates/includes/tinymce_init.latte'}
{/block}

{block main}
<h2>{_admin.program.blocks_add_heading}</h2>
<div class="well">
	{control blockForm}
</div>
{/block}