{block main}
    <h2>{_admin.program.blocks_heading}</h2>
    {if $emptyUserInfo}
        <div class="alert alert-warning alert-forever">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {_admin.program.empty_user_info_begin}<a href="{plink :Web:Profile:default}#additional-information"
                                                     class="alert-link">{_admin.program.empty_user_info_link}</a>{_admin.program.empty_user_info_end}
        </div>
    {/if}
    {control programBlocksGrid}
{/block}