<script src="{$basePath}/js/multiselect/init.js"></script>

<script>
    Nette.validators.SRSFormAttendeeForm_toggleArrivalDeparture = function (elem, arg, value) {
        var i;
        for (i = 0; i < value.length; i++) {
            if (jQuery.inArray(value[i], arg) != -1)
                return true;
        }
        return false;
    };
</script>

{if !$user->isLoggedIn()}
    <div class="notice">
        {$translator->translate('front.attendeeBox.loginRequest')}
        <a href="{plink :Auth:login, 'backlink' => $backlink}">
            {$translator->translate('front.attendeeBox.loginRequestLink')}
        </a>
    </div>
{elseif $user->isInRole(\SRS\model\Acl\Role::REGISTERED)}
    <div class="info">
        {widget attendeeForm}
    </div>
{else}
    <div class="notice">
        {$translator->translate('front.attendeeBox.registeredRoles')}
        {foreach $dbuser->roles as $userRole}{$userRole->name}{sep}, {/sep}{/foreach}
    </div>
    <div class="notice">
        {if $dbuser->approved == true}
            {$translator->translate('front.attendeeBox.approvedRegistration')}
        {else}
            {$translator->translate('front.attendeeBox.unapprovedRegistration')}
        {/if}
    </div>
{/if}







