<script src="{$basePath}/js/multiselect/init.js"></script>

<script>
    Nette.validators.SRSFormAttendeeForm_toggleArrivalDeparture = function (elem, arg, value) {
        var i;
        for (i = 0; i < value.length; i++) {
            if (jQuery.inArray(value[i], arg) != -1)
                return true;
        }
        return false;
    };
</script>

{if !$user->isLoggedIn()}
    <div class="notice">
        Pro přihlášení na seminář se musíte nejprve <a href="{plink :Auth:login, 'backlink' => $backlink}">přihlásit přes
        skautIS</a>
    </div>
{elseif $user->isInRole(\SRS\model\Acl\Role::REGISTERED)}
    <div class="info">
        {widget attendeeForm}
    </div>
{else}
    <div class="notice">
        Na seminář jste se již přihlásili jako {foreach $dbuser->roles as $userRole}{$userRole->name}{sep}, {/sep}{/foreach}
    </div>
    <div class="notice">
        {if $dbuser->approved == true}
            Vaše přihláška byla již potvrzena
            {else}
            Vaše přihláška zatím nebyla potvrzena.
        {/if}
    </div>
{/if}







