{if !$user->isLoggedIn()}
    <div class="notice">
        Pro přihlášení na seminář se musíte neprve <a href="{plink :Auth:login, 'backlink' => $backlink}">přihlásit přes
        skautIS</a>
    </div>
{elseif $dbuser->isInRole('Nepřihlášený')}
    <div class="info">
        {widget attendeeForm}
    </div>
{else}
    <div class="notice">
        Na seminář jste se již přihlásili jako {foreach $dbuser->roles as $userRole}{$userRole->name}{sep}, {/sep}{/foreach}
    </div>
    <div class="notice">
        {if $dbuser->approved == true}
            Vaše přihláška byla již potvrzena
            {else}
            Vaše přihláška zatím nebyla potvrzena.
        {/if}
    </div>
{/if}
<script src="{$basePath}/js/front/birthdate_picker_cs.js"></script>


