<div class="capacityBox">
    {if empty($roles)}
        Žádné role nemají veřejné kapacity.
    {else}
        {foreach $roles as $role}
            <strong>{$role->name}</strong><br>
            Obsazeno {$role->countApprovedUsersInRole()}{if $role->usersLimit !== null}/{$role->usersLimit}{/if}
            {sep}<br><br>{/sep}
        {/foreach}
    {/if}
</div>

