common:
    title: "Administrace | %seminar_name%"
    heading: "SRS: %seminar_name%"
    logged_in_roles: "Role:"
    logout: "Odhlásit"

    add: "Přidat"
    edit: "Upravit"
    delete: "Odstranit"
    detail: "Detail"
    all: "Vše"
    save: "Uložit"
    save_and_continue: "Uložit a pokračovat v úpravách"

    yes: "Ano"
    no: "Ne"

    minutes: "%count% minut"
    custom_text: "Textové pole"
    custom_checkbox: "Zaškrtávací pole"

    login_required: "Pro přístup do administrace musíte být přihlášeni."
    access_denied: "Pro přístup k této stránce nemáte oprávnění."

menu:
    dashboard: "Úvod"
    cms: "Web"
    program: "Program"
    users: "Uživatelé"
    acl: "Role"
    mailing: "Mailing"
    configuration: "Konfigurace"

dashboard:
    heading: "Vítejte v systému SRS!"
    text: "<p>Pokud jste v systému poprvé nebo s ním nejste zcela srozuměni, přečtěte si <a href=\"https://github.com/skaut/SRS/wiki/U%C5%BEivatelsk%C3%A1-p%C5%99%C3%ADru%C4%8Dka\" target=\"_blank\">uživatelskou příručku</a>.</p>"

cms:
    menu_pages: "Stránky"
    menu_news: "Aktuality"
    menu_documents: "Dokumenty"
    menu_faq: "FAQ"
    menu_settings: "Nastavení"

    pages_heading: "Stránky"
    pages_name: "Název"
    pages_name_empty: "Zadejte název."
    pages_slug: "Cesta"
    pages_slug_empty: "Zadejte cestu."
    pages_slug_format: "Cesta může obsahovat pouze malá písmena, číslice a \"-\"."
    pages_slug_exists: "Stránka s touto cestou již existuje."
    pages_public: "Viditelnost"
    pages_public_public: "Viditelná"
    pages_public_private: "Skrytá"
    pages_public_form: "viditelná"
    pages_roles: "Viditelná pro role"
    pages_roles_empty: "Vyberte alespoň jednu roli."
    pages_roles_all: "Všechny role"
    pages_edit_content: "Upravit obsah"
    pages_added: "Stránka byla úspěšně přidána."
    pages_edited: "Stránka byla úspěšně upravena."
    pages_delete_confirm: "Opravdu chcete stránku odstranit?"
    pages_deleted: "Stránka byla úspěšně odstraněna."
    pages_order_saved: "Pořadí stránek bylo úspěšně upraveno."
    pages_changed_public: "Viditelnost stránky byla úspěšně změněna."
    pages_change_public_denied: "Úvodní stránka nemůže být skryta."
    pages_edit_heading: "Úprava obsahu stránky: %name%"

    news_heading: "Aktuality"
    news_published: "Zveřejnit"
    news_published_empty: "Zadejte čas zveřejnění."
    news_text: "Text"
    news_text_empty: "Zadejte text aktuality."
    news_added: "Aktualita byla úspěšně přidána."
    news_edited: "Aktualita byla úspěšně upravena."
    news_delete_confirm: "Opravdu chcete aktualitu odstranit?"
    news_deleted: "Aktualita byla úspěšně odstraněna."
    news_add_heading: "Nová aktualita"
    news_edit_heading: "Úprava aktuality"

    documents_heading: "Dokumenty"
    documents_name: "Název"
    documents_name_empty: "Zadejte název dokumentu."
    documents_name_exists: "Dokument s tímto názvem již existuje."
    documents_tags: "Štítky"
    documents_tags_empty: "Dokument musí mít alespoň jeden štítek."
    documents_file: "Soubor"
    documents_download: "Stáhnout"
    documents_file_empty: "Vyberte soubor."
    documents_description: "Popis"
    documents_timestamp: "Upraven"
    documents_added: "Dokument byl úspěšně přidán."
    documents_edited: "Dokument byl úspěšně upraven."
    documents_delete_confirm: "Opravdu chcete dokument odstranit?"
    documents_deleted: "Dokument byl úspěšně odstraněn."

    tags_heading: "Štítky dokumentů"
    tags_name: "Název"
    tags_name_empty: "Zadejte název štítku."
    tags_name_exists: "Štítek s tímto názvem již existuje."
    tags_added: "Štítek byl úspěšně přidán."
    tags_edited: "Štítek byl úspěšně upraven."
    tags_delete_confirm: "Odstraněním štítku odeberete štítek všem dokumentům. Opravdu chcete štítek odstranit?"
    tags_deleted: "Štítek byl úspěšně odstraněn."

    faq_heading: "FAQ"
    faq_question: "Otázka"
    faq_question_empty: "Zadejte otázku."
    faq_author: "Autor"
    faq_public: "Viditelnost"
    faq_public_public: "Viditelná"
    faq_public_private: "Skrytá"
    faq_public_form: "viditelná"
    faq_answer: "Odpověď"
    faq_answered: "Zodpovězena"
    faq_added: "Otázka byla úspěšně přidána."
    faq_edited: "Otázka byla úspěšně upravena."
    faq_delete_confirm: "Opravdu chcete otázku odstranit?"
    faq_deleted: "Otázka byla úspěšně odstraněna."
    faq_order_saved: "Pořadí otázek bylo úspěšně upraveno."
    faq_changed_public: "Viditelnost otázky byla úspěšně změněna."
    faq_add_heading: "Nová otázka"
    faq_edit_heading: "Úprava otázky"

    settings_heading: "Nastavení"
    settings_current_logo: "Stávající logo"
    settings_new_logo: "Nové logo"
    settings_new_logo_format: "Logo musí být ve formátu JPG, PNG nebo GIF."
    settings_footer: "Text v patičce"
    settings_redirect_after_login: "Po přihlášení přesměrovat na"
    settings_redirect_after_login_empty: "Vyberte stránku, na kterou budou uživatelé přesměrováni po přihlášení."
    settings_display_users_roles: "zobrazovat uživatelské role"
    settings_saved: "Nastavení úspěšně uloženo."

program:
    menu_blocks: "Programové bloky"
    menu_schedule: "Harmonogram"
    menu_categories: "Kategorie"
    menu_rooms: "Místnosti"

    empty_user_info_begin: "Nemáte vyplňené informace o sobě, "
    empty_user_info_link: "vyplňte je"
    empty_user_info_end: ", aby se zobrazovaly u Vašich programů."

    blocks_heading: "Programové bloky"
    blocks_name: "Název"
    blocks_name_empty: "Zadejte název."
    blocks_name_exists: "Programový blok s tímto názvem již existuje."
    blocks_category: "Kategorie"
    blocks_lector: "Lektor"
    blocks_duration: "Délka"
    blocks_duration_empty: "Vyberte délku."
    blocks_capacity: "Kapacita"
    blocks_capacity_format: "Zadejte číslo nebo nechte pole prázdné."
    blocks_capacity_unlimited: "Neomezená"
    blocks_mandatory: "Povinnost"
    blocks_mandatory_mandatory: "Povinný"
    blocks_mandatory_voluntary: "Nepovinný"
    blocks_mandatory_form: "povinný"
    blocks_programs_count: "Počet zařazení"
    blocks_perex: "Stručný popis"
    blocks_perex_form: "Stručný popis (160 znaků)"
    blocks_perex_length: "Překročena maximální délka."
    blocks_description: "Detailní popis"
    blocks_tools: "Pomůcky"
    blocks_added: "Programový blok byl úspěšně přidán."
    blocks_edited: "Programový blok byl úspěšně upraven."
    blocks_changed_mandatory: "Povinnost programového bloku byla úspěšně upravena."
    blocks_change_mandatory_denied: "Nemáte oprávnění k úpravě tohoto programového bloku."
    blocks_delete_confirm: "Opravdu chcete programový blok odstranit?"
    blocks_deleted: "Programový blok byl úspěšně odstraněn."
    blocks_add_heading: "Nový programový blok"
    blocks_edit_heading: "Úprava bloku: %name%"
    blocks_detail_heading: "Detail bloku: %name%"
    blocks_schedule: "Zařazení v harmonogramu"
    blocks_program_start: "Od"
    blocks_program_end: "Do"
    blocks_program_room: "Místnost"
    blocks_program_occupancy: "Obsazenost"
    blocks_registered_attendees: "Přihlášení účastníci"
    blocks_non_registered_attendees: "Nepřihlášení účastníci"

    schedule_heading: "Harmonogram"

    categories_heading: "Kategorie"
    categories_name: "Název"
    categories_name_empty: "Zadejte název kategorie."
    categories_name_exists: "Kategorie s tímto názvem již existuje."
    categories_registerable_roles: "Oprávněné role"
    categories_registerable_roles_empty: "Vyberte alespoň jednu roli."
    categories_added: "Kategorie byla úspěšně přidána."
    categories_edited: "Kategorie byla úspěšně upravena."
    categories_delete_confirm: "Odstraněním kategorie odeberete kategorii všem programovým blokům. Opravdu chcete kategorii odstranit?"
    categories_deleted: "Kategorie byla úspěšně odstraněna."

    rooms_heading: "Místnosti"
    rooms_name: "Název"
    rooms_name_empty: "Zadejte název místnosti."
    rooms_name_exists: "Místnost s tímo názvem již existuje."
    rooms_added: "Místnost byla úspěšně přidána."
    rooms_edited: "Místnost byla úspěšně upravena."
    rooms_delete_confirm: "Odstraněním místnosti odeberete místnost všem programům. Opravdu chcete místnost odstranit?"
    rooms_deleted: "Místnost byla úspěšně odstraněna."

users:

acl:

mailing:
    menu_auto: "Automatické e-maily"
    menu_send: "Rozeslat e-mail"
    menu_history: "Historie"

configuration:
    menu_seminar: "Seminář"
    menu_program: "Program"
    menu_payment: "Platba a doklady"
    menu_application: "Přihláška"
    menu_skautis: "SkautIS"
    menu_system: "Systém"

    seminar_heading: "Seminář"
    seminar_name: "Název semináře"
    seminar_name_empty: "Zadejte název semináře."
    seminar_from_date: "Začátek semináře"
    seminar_from_date_empty: "Zadejte začátek semináře."
    seminar_from_date_after_to: "Začátek semináře nesmí být později než konec semináře."
    seminar_to_date: "Konec semináře"
    seminar_to_date_empty: "Zadejte konec semináře."
    seminar_to_date_before_from: "Konec semináře nesmí být později než začátek semináře."
    edit_registration_to: "Odhlášení a změna role povolena do"
    edit_registration_to_empty: "Zadejte datum, do kdy je povoleno odhlášení a změna role."
    edit_registration_to_after_from: "Datum, do kdy je povoleno odhlášení a změna role, musí být před začátkem semináře."
    seminar_email: "E-mail pro mailing"
    seminar_email_empty: "Zadejte e-mail."
    seminar_email_format: "Zadejte e-mail ve správném formátu."
    place_description: "Popis cesty" #todo

    program_heading: "Program"
    basic_block_duration: "Základní délka programového bloku"
    basic_block_duration_empty: "Vyberte základní délku programového bloku."
    is_allowed_add_block: "povolit vytváření programových bloků"
    is_allowed_modify_schedule: "povolit úpravu harmonogramu semináře"
    is_allowed_log_in_programs: "povolit přihlašování na programy"
    is_allowed_log_in_programs_before_payment: "povolit přihlašování na programy před uhrazením poplatku"
    log_in_programs_from: "Přihlašování programů otevřeno od"
    log_in_programs_from_empty: "Zadejte datum a čas otevření přihlašování na programy."
    log_in_programs_from_after_to: "Otevření přihlašování na programy musí být dříve než uzavření přihlašování."
    log_in_programs_to: "Přihlašování programů otevřeno do"
    log_in_programs_to_empty: "Zadejte datum a čas uzavření přihlašování na programy."
    log_in_programs_to_before_from: "Uzavření přihlašování na programy musí být později než otevření přihlašování."

    payment_heading: "Platba"
    account_number: "Číslo účtu"
    account_number_empty: "Zadejte číslo účtu."
    account_number_format: "Zadejte číslo účtu ve správném formátu."
    variable_symbol_code: "Předvolba variabilního symbolu"
    variable_symbol_code_empty: "Zadejte předvolbu variabilního symbolu."
    variable_symbol_code_format: "Zadejte 2 číslice."

    payment_proof_heading: "Doklady"
    company: "Firma"
    company_empty: "Zadejte identifikaci firmy."
    ico: "IČ"
    ico_empty: "Zadejte IČ."
    ico_format: "Zadejte IČ ve správném formátu."
    accountant: "Pokladník"
    accountant_empty: "Zadejte jméno pokladníka."
    print_location: "Místo"
    print_location_empty: "Zadejte místo."

    custom_inputs_heading: "Vlastní pole"
    custom_inputs_name: "Název"
    custom_inputs_type: "Typ"
    application_input_name_empty: "Zadejte název pole."
    application_input_added: "Pole bylo úspěšně přidáno."
    application_input_edited: "Pole bylo úspěšně upraveno."
    application_input_delete_confirm: "Odstraněním pole odeberete odpovědi uživatelů na tuto otázku. Opravdu chcete pole odstranit?"
    application_input_deleted: "Pole bylo úspěšně odstraněno."
    application_inputs_order_saved: "Pořadí polí bylo úspěšně upraveno."

    skautis_event_heading: "Propojení s akcí ve skautIS"
    skautis_event: "Akce ve skautIS"
    skautis_event_empty: "Vyberte akci ze seznamu."
    skautis_event_name: "Systém je propojen s akcí: %name%."
    skautis_event_note: "V sezmanu akcí jsou neuzavřené akce, na které máte ve SkautIS oprávnění, pokud se Vám akce v seznamu nezobrazuje, nechte synchronizaci nastavit někoho s patřičnými právy."
    skautis_event_disconnect: "Odpojit od akce"
    skautis_event_disconnect_confirm: "Opravdu se chcete odpojit od akce?"
    skautis_event_disconnect_successful: "Odpojení od akce proběhlo úspěšně."

    skautis_event_sync_heading: "Synchronizace účastníků"
    skautis_event_sync: "Nahrát účastníky do skautIS"
    skautis_event_sync_successful: "Nahrání účastníků proběhlo úspěšně."
    skautis_event_sync_unsuccessful: "Nahrání účastníků selhalo."
    skautis_event_not_connected: "V tuto chvíli není systém propojen s žádnou akcí ve skautIS."
    skautis_event_access_denied: "Nemáte oprávnění k synchronizaci účastníků s propojenou akcí."
    skautis_event_closed: "Akce již byla ve skautIS uzavřena."

    system_heading: "Systém"
    system_clear_cache: "Vymazat cache"

    configuration_saved: "Konfigurace úspěšně uložena."

