common:
    title: "Administrace | %seminar_name%"
    heading: "SRS: %seminar_name%"
    logged_in_user: "Uživatel:"
    logged_in_roles: "v roli:|v rolích:"

menu:
    dashboard: "Úvod"
    cms: "Webová prezentace"
    program: "Program semináře"
    users: "Uživatelé"
    acl: "Role"
    mailing: "Mailing"
    configuration: "Konfigurace"

dashboard:
    heading: "Vítejte v systému SRS!"
    text: "<p>Pokud jste v systému poprvé nebo s ním nejste zcela srozuměni, přečtěte si <a href=\"https://github.com/skaut/SRS/wiki/U%C5%BEivatelsk%C3%A1-p%C5%99%C3%ADru%C4%8Dka\" target=\"_blank\">uživatelskou příručku</a>.</p>"







settings:
    name:
        seminar_name: "Název semináře"
        seminar_from_date: "Začátek semináře"
        seminar_to_date: "Konec semináře"
        cancel_registration_to: "Odhlašování povoleno do"
        seminar_email: "Email pro rozesílání emailů"

        basic_block_duration: "Základní délka programového bloku"
        is_allowed_add_block: "Je povoleno vytvářet programové bloky?"
        is_allowed_modify_schedule: "Je povoleno upravovat harmonogram semináře?"
        is_allowed_log_in_programs: "Je povoleno přihlašovat se na programové bloky?"
        is_allowed_log_in_programs_before_payment: "Je povoleno přihlašovat se na programové bloky před uhrazením poplatku?"

        skautis_action_name: "Akce ze skautIS"

        footer: "Text v patičce"

        company: "Firma"
        ico: "IČO"
        accountant: "Pokladník"
        print_location: "Místo"
        account_number: "Číslo účtu"
        variable_symbol_code: "Předvolba variabilního symbolu"

        log_in_programs_from: "Přihlašování programů otevřeno od"
        log_in_programs_to: "Přihlašování programů otevřeno do"

        display_users_roles: "Zobrazovat uživatelské role?"
        redirect_after_login: "Po přihlášení přesměrovat na"

        custom_boolean: "Vlastní checkbox pro přihlášku č. %i%"
        custom_text: "Vlastní textové pole pro přihlášku č. %i%"
