name: "SRS"

role:
    guest: "guest"
    nonregistered: "Nepřihlášený"
    unapproved: "Neschválený"
    attendee: "Účastník"
    service_team: "Servis tým"
    lector: "Lektor"
    organizer: "Organizátor"
    admin: "Administrátor"

resource:
    admin: "Administrace"
    cms: "CMS"
    acl: "Práva a role"
    program: "Program"
    room: "Místnosti"
    category: "Kategorie"
    configuration: "Konfigurace"
    users: "Uživatelé"
    mailing: "Mailing"

permission:
    manage: "Spravovat"
    access: "Přístup"
    manage_own_programs: "Spravovat vlastní programy"
    manage_all_programs: "Spravovat všechny programy"
    manage_rooms: "Spravovat místnosti"
    manage_categories: "Spravovat kategorie"
    manage_schedule: "Upravovat harmonogram"
    choose_programs: "Vybírat si programy"

permission_group:
    web: "Web"
    admin: "Administrace"

permission_name:
    access:
        admin: "Přístup do administrace"
        program: "Přístup do správy programů"

    manage:
        cms: "Spravovat web"
        users: "Spravovat uživatele"
        acl: "Spravovat role"
        mailing: "Spravovat mailing"
        configuration: "Spravovat konfiguraci"

    choose_programs:
        program: "Přihlašovat se na programy"

    manage_own_programs:
        program: "Spravovat vlastní programy"

    manage_all_programs:
        program: "Spravovat všechny programy"

    manage_schedule:
        program: "Spravovat harmonogram"

    manage_categories:
        program: "Spravovat kategorie"

    manage_rooms:
        program: "Spravovat místnosti"

settings:
    default_value:
        seminar_name: "Název semináře"
        seminar_email: "srs@skauting.cz"
        footer: "© %year% SRS"
        company: "Konfigurace -> Platba a doklady -> Firma"
        ico: "Konfigurace -> Platba a doklady -> IČ"
        accountant: "Konfigurace -> Platba a doklady -> Pokladník"
        print_location: "Konfigurace -> Platba a doklady -> Místo"
        account_number: "Konfigurace -> Platba a doklady -> Číslo účtu"

cms:
    default:
        homepage_name: "Homepage"
        homepage_heading: "Úspěšně jste nainstalovali SRS. Gratulujeme!"
        homepage_text: "<p>Obsah této stránky můžete změnit v administraci v sekci Web.</p>"

content:
    name:
        text: "Text"
        image: "Obrázek"
        document: "Dokumenty"
        application: "Přihlašovací formulář"
        html: "HTML box"
        faq: "FAQ"
        news: "Aktuality"
        programs: "Výběr programů"
        users: "Přehled uživatelů"
        blocks: "Program semináře"
        capacities: "Kapacita semináře"

    default_heading:
        text: ""
        image: ""
        document: "Dokumenty"
        application: "Přihlašovací formulář"
        html: ""
        faq: "FAQ"
        news: "Aktuality"
        programs: "Výběr programů"
        users: "Přehled uživatelů"
        blocks: "Program semináře"
        capacities: "Kapacita semináře"

area:
    main: "Hlavní oblast"
    sidebar: "Postranní lišta"

align:
    left: "Vlevo"
    right: "Vpravo"
    center: "Střed (bez obtékání)"

payment:
    cash: "Hotovost"
    bank: "Na účet"

sex:
    male: "Muž"
    female: "Žena"

day:
    1: "Po"
    2: "Út"
    3: "St"
    4: "Čt"
    5: "Pá"
    6: "So"
    7: "Ne"

api:
    authentification_error: "Uživatel musí být přihlášen."
    schedule_saved: "Program byl úspěšně uložen."
    schedule_deleted: "Program byl úspěšně odstraněn."
    schedule_program_not_found: "Program nebyl nalezen."
    schedule_user_not_allowed_manage: "Nemáte právo upravovat harmonogram."
    schedule_not_allowed_modfify: "Úprava harmonogramu není povolena."
    schedule_user_not_allowed_register_programs: "Nemáte právo přihlašovat se na programy."
    schedule_register_programs_not_allowed: "Přihlašování na programy není v tuto chvíli povoleno."
    schedule_register_programs_before_payment_not_allowed: "Přihlašování na programy povoleno až po zaplacení poplatku."
    schedule_program_already_registered: "Program už máte přihlášený."
    schedule_program_no_vacancies: "Kapacita programu je již obsazena."
    schedule_program_category_not_allowed: "Nemáte právo přihlašovat se na programy z této kategorie."
    schedule_program_blocked: "Tento programový blok už máte zapsaný, nebo máte jiný program ve stejnou dobu."
    program_registered: "Program byl úspěšně přihlášen."
    schedule_program_not_registered: "Na tento program jste nebyli přihlášeni."
    program_unregistered: "Program byl úspěšně odhlášen."

export:
    schedule:
        from: "Od"
        to: "Do"
        program_name: "Název programu"
        room: "Místnost"
        lector: "Lektor"
