name: "SRS"

enum:
    role:
        guest: "guest"
        unregistered: "Nepřihlášený"
        unapproved: "Neschválený"
        attendee: "Účastník"
        service_team: "Servis tým"
        lector: "Lektor"
        organizer: "Organizátor"
        admin: "Administrátor"

    resource:
        admin: "Administrace"
        cms: "CMS"
        acl: "Práva a role"
        program: "Program"
        room: "Místnosti"
        category: "Kategorie"
        configuration: "Konfigurace"
        evidence: "Uživatelé"
        mailing: "Mailing"

    permission:
        manage: "Spravovat"
        access: "Přístup"
        manage_own_programs: "Spravovat vlastní programy"
        manage_all_programs: "Spravovat všechny programy"
        manage_harmonogram: "Upravovat harmonogram"
        choose_programs: "Vybírat si programy"


