no_item_found_reset: 'Žádné položky nenalezeny. Filtr můžete vynulovat'
no_item_found: 'Žádné položky nenalezeny.'
here: 'zde'
items: 'Položky'
all: 'všechny'
from: 'z'
reset_filter: 'Resetovat filtr'
group_actions: 'Hromadné akce'
show_all_columns: 'Zobrazit všechny sloupce'
hide_column: 'Skrýt sloupec'
action: 'Akce'
previous: 'Předchozí'
next: 'Další'
choose: 'Vyberte'
execute: 'Provést'
per_page_submit: 'Počet položek na stránku'
add: 'Přidat'
cancel: 'Zrušit'
save: 'Uložit'


