common:
    title: "%page% | %seminar_name%"
    logged_in_user: "Uživatel:"
    logged_in_roles: "v roli:|v rolích:"
    login: "Přihlásit"
    logout: "Odhlásit"
    admin: "Administrace"

    homepage_not_found: "Stránka s cestou \"/\" neexistuje nebo není zveřejněná. Nastavte ji v administriaci."
    page_not_found: "Stránka neexistuje nebo není zveřejněna."
    page_access_denied: "Na zobrazení této stránky nemáte práva."
    login_required: "Pro přístup musíte být přihlášeni."

    minutes: "%count% minut"

    role_option: "%role% (obsazeno %occupied% z %total%)"
    subevent_option: "%subevent% (obsazeno %occupied% z %total%)"

    role_test_warning_begin: "Máte zapnutý náhled na web pod jinou rolí, nevyplňujte žádné formuláře!"
    role_test_warning_link: "Ukončit náhled"
    role_test_warning_end: "."

profile:
    name: "Profil"
    title: "Můj profil"
    heading: "Můj profil"

    seminar_group: "Seminář"
    attendance: "Účast na semináři"
    nonregistered: "Neúčastníte se"
    unapproved: "Vaše registrace zatím nebyla potvrzena"
    account_number: "Poplatek uhraďte na účet"

    roles: "Role"
    required_roles_not_selected: "K roli %role% musíte mít vybrané role: %requiredRoles%."
    incompatible_roles_selected: "Není možné kombinovat roli %role% s rolemi: %incompatibleRoles%."
    roles_empty: "Musí být vybrána alespoň jedna role."
    role_is_not_registerable: "Registrace do některé z rolí již není možná."
    roles_capacity_occupied: "Všechna místa v některé roli jsou obsazena."
    change_roles: "Změnit role"
    change_roles_confirm: "Pokud nová role vyžaduje schválení organizátora, budete Vám nastavena role \"Neschválený\". Opravdu chcete pokračovat?"
    change_roles_disabled: "Změna rolí již není možná nebo nejste na seminář registrováni."
    roles_changed: "Role byly úspěšně změněny."
    cancel_registration: "Odhlásit se ze semináře"
    cancel_registration_confirm: "Opravdu se chcete odhlásit z celého semináře?"
    cancel_registration_disabled: "Odhlášení již není možné nebo nejste na seminář registrováni."
    registration_canceled: "Odhlášení ze semináře proběhlo úspěšně."

    applications_application_date: "Datum přihlášky"
    applications_roles: "Role"
    applications_subevents: "Podakce"
    applications_required_subevents_not_selected: "K podakci %subevent% musíte mít vybrané podakce: %requiredSubevents%."
    applications_incompatible_subevents_selected: "Není možné kombinovat podakci %subevent% s podakcemi: %incompatibleSubevents%."
    applications_subevents_empty: "Musí být vybrána alespoň jedna podakce."
    applications_subevents_capacity_occupied: "Všechna místa na některé podakci jsou obsazena."
    applications_fee: "Poplatek"
    applications_variable_symbol: "Variabilní symbol"
    applications_maturity_date: "Splatnost"
    applications_state: "Stav"
    applications_add_subevents: "Přidat podakce"
    applications_add_subevents_successful: "Podakce byly úspěšně přidány."
    applications_edit: "Upravit přihlášku"
    applications_edit_successful: "Přihláška byla úspěšně upravena."
    applications_cancel_application: "Zrušit přihlášku"
    applications_cancel_application_confirm: "Opravdu chcete zrušit dodatečnou přihlášku?"
    applications_application_canceled: "Dodatečná přihláška byla úspěšně zrušena."
    applications_download_payment_proof: "Stáhnout potvrzení"

    personal_details_group: "Osobní údaje"
    photo: "Fotka"
    sex: "Pohlaví"
    firstname: "Jméno"
    firstname_empty: "Zadejte jméno."
    lastname: "Příjmení"
    lastname_empty: "Zadejte příjmení."
    nickname: "Přezdívka"
    email: "E-mail"
    birthdate: "Datum narození"
    birthdate_empty: "Zadejte datum narození."
    street: "Ulice"
    street_empty: "Zadejte ulici."
    street_format: "Zadejte ulici ve správném formátu."
    city: "Město"
    city_empty: "Zadejte město."
    postcode: "PSČ"
    postcode_empty: "Zadejte PSČ."
    postcode_format: "Zadejte PSČ ve správném formátu."
    state: "Stát"
    state_empty: "Zadejte stát."
    update_personal_details: "Aktualizovat údaje a uložit do skautISu"
    personal_details_synchronization_failed: "Synchronizace se skautIS se nepodařila. Zkuste se znovu přihlásit."
    personal_details_update_successful: "Osobní údaje úspěšně aktualizovány."

    additional_information_group: "Doplňující informace"
    custom_input_empty: "Pole je povinné."
    about_me: "O mně"
    arrival: "Příjezd"
    departure: "Odjezd"
    update_additional_information: "Upravit doplňující informace"
    additional_information_update_successfull: "Doplňující informace úspěšně upraveny."

    my_schedule_group: "Můj harmonogram semináře"
    from: "Od"
    to: "Do"
    program_name: "Program"
    room: "Místnost"
    lectors: "Lektoři"
    no_programs: "Nemáte zvolené žádné programy."
    download_schedule: "Stáhnout harmonogram"

member:
    name: "Nepropojený účet člena"
    title: "Nepropojený účet"
    heading: "Nemáte propojený účet"
    text_info: "Byli jste úspěšně přihlášeni na webu, ale pravděpodobně nejste členem Junáka."
    text_instructions: "Pokud členy jste, pak nemáte pravděpodobně propojený svůj uživatelský účet se skutečnými údaji v registraci. Kontaktuje svého vedoucího oddílu (nebo osobu, která zpracovává registraci) a požádejte ho o propojení vašeho účtu ve skautISu s reálnými údaji."
    text_details: "Pro propojení účtu potřebujete tyto údaje:<br>uživatelské jméno: %username%<br>bezpečnostní kód: %securityCode%"
    text_note: "Poznámka: V žádném případě nikdy nikomu nedávejte své heslo."

application_content:
    login_required_begin: "Pro registraci na seminář se musíte nejprve"
    login_required_link: "přihlásit přes skautIS"
    login_required_end: "."
    no_registerable_role: "Aktuálně není možné se na seminář přihlásit."
    no_registerable_role_start: "Na seminář je možné se přihlásit od %start%."
    no_registerable_role_end: "Na seminář bylo možné se přihlásit do %end%."
    no_registerable_role_start_end: "Na seminář je možné se přihlásit od %start% do %end%."
    unapproved_registration: "Na seminář jste se registrovali jako: %roles%. Vaše registrace zatím nebyla potvrzena."
    approved_registration_not_paying: "Na seminář jste se registrovali jako: %roles%. Vaše registrace již byla potvrzena."
    approved_registration_paid: "Na seminář jste se registrovali jako: %roles%. Poplatek byl úspěšně uhrazen."
    approved_registration_not_paid: "Na seminář jste si již registrovali. Prosíme o úhradu poplatku na účet: %account%."

    sex: "Pohlaví"
    firstname: "Jméno"
    firstname_empty: "Zadejte jméno."
    lastname: "Příjmení"
    lastname_empty: "Zadejte příjmení."
    nickname: "Přezdívka"
    email: "E-mail"
    birthdate: "Datum narození"
    birthdate_empty: "Zadejte datum narození."
    street: "Ulice"
    street_empty: "Zadejte ulici."
    street_format: "Zadejte ulici ve správném formátu."
    city: "Město"
    city_empty: "Zadejte město."
    postcode: "PSČ"
    postcode_empty: "Zadejte PSČ."
    postcode_format: "Zadejte PSČ ve správném formátu."
    state: "Stát"
    state_empty: "Zadejte stát."
    custom_input_empty: "Pole je povinné."
    subevents: "Podakce"
    required_subevents_not_selected: "K podakci %subevent% musíte mít vybrané podakce: %requiredSubevents%."
    incompatible_subevents_selected: "Není možné kombinovat podakci %subevent% s podakcemi: %incompatibleSubevents%."
    subevents_empty: "Ke zvoleným rolím musí být vybrána alespoň jedna podakce."
    subevents_capacity_occupied: "Všechna místa v některé podakci jsou obsazena."
    roles: "Role"
    required_roles_not_selected: "K roli %role% musíte mít vybrané role: %requiredRoles%."
    incompatible_roles_selected: "Není možné kombinovat roli %role% s rolemi: %incompatibleRoles%."
    roles_empty: "Musí být vybrána alespoň jedna role."
    role_is_not_registerable: "Registrace do některé z rolí již není možná."
    roles_capacity_occupied: "Všechna místa v některé roli jsou obsazena."
    arrival: "Příjezd"
    departure: "Odjezd"
    agreement_empty: "Musíte souhlasit s poskytnutím údajů."
    register: "Registrovat"
    register_synchronization_failed: "Synchronizace se skautIS se nepodařila. Zkuste se znovu přihlásit a upravit údaje v profilu."
    register_successful: "Registrace byla úspěšně odeslána."

    application_date: "Datum přihlášky"
    application_roles: "Role"
    application_subevents: "Podakce"
    application_fee: "Poplatek"
    application_variable_symbol: "Variabilní symbol"
    application_maturity_date: "Splatnost"
    application_state: "Stav"

blocks_content:
    uncategorized: "Nezařazené"
    categories: "Kategorie"
    category: "Kategorie:"
    lectors: "Lektoři"
    duration: "Délka:"
    capacity: "Kapacita:"
    capacity_unlimited: "Neomezená"
    about_block: "Popis"
    all_blocks: "Všechny programové bloky"

capacities_content:
    list_empty: "Žádné role nemají veřejnou obsazenost."
    occupied_limited: "Obsazeno %occupied% z %total%"
    occupied_unlimited: "Obsazeno %occupied%"

document_content:
    list_empty: "Pro vaši roli nejsou k dispozici žádné dokumenty."

faq_content:
    login_required_begin: "Pro položení otázky se musíte"
    login_required_link: "přihlásit přes skautIS"
    login_required_end: "."
    add_question_heading: "Nenašli jste odpověď na svoji otázku? Zeptejte se."

    question: "Otázka"
    question_empty: "Zadejte otázku."
    add_question: "Položit dotaz."
    add_question_successful: "Otázka byla úspěšně přidána. Dle uvážení organizátorů bude odpověď zveřejněna."

programs_content:
    login_required_begin: "Pro výběr programů se musíte nejprve"
    login_required_link: "přihlásit přes skautIS"
    login_required_end: "."
    register_programs_not_allowed: "Zapisování programů není v tuto chvíli povoleno."
    register_programs_allowed_from_to: "Zapisování programů je povoleno od %from% do %to%."
    register_programs_is_allowed_from: "Zapisování programů bude povoleno od %from%."
    register_programs_was_allowed_to: "Zapisování programů bylo povoleno do %to%."
    unapproved_register_programs: "Vaše role nemá právo zapisovat si programy."
    register_programs_allowed_after_payment: "Zápis programů je možný až po zaplacení."
    mandatory_programs_not_registered: "Máte nepřihlášené povinné programy (v kalendáři červeně). Prosíme, zapište si je."
    category: "Kategorie: "
    lectors: "Lektoři"
    room: "Místnost: "
    occupancy: "Obsazenost: "
    about_program: "Popis"
    register: "Přihlásit se na program"
    unregister: "Odhlásit se z programu"
    help: "Nápověda"
    help_text: "Kliknutím na program se zobrazí možnost přihlášení/odhlášení a další informace o programu."
    help_legend: "Typy programů"
    help_legend_attends: "Programy, které máte přihlášené."
    help_legend_blocked: "Programy, na které se nelze přihlásit (máte přihlášený stejný program, je obsazený nebo jej nemáte zaplacený)."
    help_legend_optional: "Programy, na které se lze přihlásit."
    help_legend_mandatory: "Programy, které jsou povinné."

users_content:
    list_empty: "Žádný uživatel k zobrazení."

lectors_content:
    about_me: "O mně"
    blocks: "Programové bloky"
