common:
    title: "%page% | %seminar_name%"
    logged_in_user: "Uživatel:"
    logged_in_roles: "v roli:|v rolích:"
    login: "Přihlásit"
    logout: "Odhlásit"
    admin: "Administrace"

    homepage_not_exists: "Stránka s cestou \"/\" neexistuje nebo není zveřejněná. Nastavte ji v administriaci."
    page_access_denied: "Na zobrazení této stránky nemáte práva."
    login_required: "Pro přístup musíte být přihlášeni."

    minutes: "%count% minut"

    role_option: "%role% (obsazeno %occupied% z %total%)"

    role_test_warning_begin: "Máte zapnutý náhled na web pod jinou rolí, nevyplňujte žádné formuláře!"
    role_test_warning_link: "Ukončit náhled"
    role_test_warning_end: "."

profile:
    name: "Profil"
    title: "Můj profil"
    heading: "Můj profil"

    seminar_group: "Seminář"
    attendance: "Účast na semináři"
    nonregistered: "Neúčastníte se"
    unapproved: "Vaše registrace zatím nebyla potvrzena"
    cancel_registration: "Odhlásit se ze semináře"
    cancel_registration_confirm: "Opravdu se chcete odhlásit ze semináře?"
    cancel_registration_disabled: "Odhlášení ze semináře již není možné nebo nejste na seminář přihlášeni."
    change_roles_confirm: "Pokud nová role vyžaduje schválení organizátora, budete Vám nastavena role \"Neschválený\". Opravdu chcete pokračovat?"
    change_roles_disabled: "Změna rolí již není možná nebo nejste na seminář přihlášeni."
    variable_symbol: "Variabilní symbol"
    account_number: "Uhraďte na účet"
    fee: "Cena semináře"
    fee_paid_date: "Poplatek uhrazen dne"
    fee_not_paid: "poplatek neuhrazen"
    total: "Celkem:"
    print_proof: "vytisknout potvrzení"
    roles: "Role"
    required_roles_not_selected: "K roli %role% musíte mít vybrané role: %requiredRoles%."
    incompatible_roles_selected: "Není možné kombinovat roli %role% s rolemi: %incompatibleRoles%."
    roles_empty: "Musí být vybrána alespoň jedna role."
    role_is_not_registerable: "Registrace do některé z rolí již není možná."
    capacity_occupied: "Všechna místa v některé roli jsou obsazena."
    update_roles: "Upravit role"
    roles_update_successful: "Role byly úspěšně upraveny."

    personal_details_group: "Osobní údaje"
    sex: "Pohlaví"
    firstname: "Jméno"
    firstname_empty: "Zadejte jméno."
    lastname: "Příjmení"
    lastname_empty: "Zadejte příjmení."
    nickname: "Přezdívka"
    birthdate: "Datum narození"
    birthdate_empty: "Zadejte datum narození."
    street: "Ulice"
    street_empty: "Zadejte ulici."
    street_format: "Zadejte ulici ve správném formátu."
    city: "Město"
    city_empty: "Zadejte město."
    postcode: "PSČ"
    postcode_empty: "Zadejte PSČ."
    postcode_format: "Zadejte PSČ ve správném formátu."
    state: "Stát"
    state_empty: "Zadejte stát."
    update_personal_details: "Aktualizovat údaje a uložit do skautISu"
    personal_details_synchronization_failed: "Synchronizace se skautIS se nepodařila. Zkuste se znovu přihlásit."
    personal_details_update_successful: "Osobní údaje úspěšně aktualizovány."

    additional_information_group: "Doplňující informace"
    about_me: "O mně"
    arrival: "Příjezd"
    departure: "Odjezd"
    update_additional_information: "Upravit doplňující informace"
    additional_information_update_successfull: "Doplňující informace úspěšně upraveny."

    my_schedule_group: "Můj harmonogram semináře"
    from: "Od"
    to: "Do"
    program_name: "Název programu"
    room: "Místnost"
    lector: "Lektor"
    no_programs: "Nemáte zvolené žádné programy."
    download_schedule: "Stáhnout harmonogram"

member:
    name: "Nepropojený účet člena"
    title: "Nepropojený účet"
    heading: "Nemáte propojený účet"
    text_info: "Byli jste úspěšně přihlášeni na webu, ale pravděpodobně nejste členem Junáka."
    text_instructions: "Pokud členy jste, pak nemáte pravděpodobně propojený svůj uživatelský účet se skutečnými údaji v registraci. Kontaktuje svého vedoucího oddílu (nebo osobu, která zpracovává registraci) a požádejte ho o propojení vašeho účtu ve skautISu s reálnými údaji."
    text_details: "Pro propojení účtu potřebujete tyto údaje:<br>uživatelské jméno: %username%<br>bezpečnostní kód: %securityCode%"
    text_note: "Poznámka: V žádném případě nikdy nikomu nedávejte své heslo."

application_content:
    login_required_begin: "Pro přihlášení na seminář se musíte nejprve"
    login_required_link: "přihlásit přes skautIS"
    login_required_end: "."
    registered_roles_begin: "Na seminář jste se již přihlásili jako"
    registered_roles_end: "."
    unapproved_registration: "Vaše přihláška zatím nebyla potvrzena."
    approved_registration: "Vaše přihláška již byla potvrzena."

    sex: "Pohlaví"
    firstname: "Jméno"
    firstname_empty: "Zadejte jméno."
    lastname: "Příjmení"
    lastname_empty: "Zadejte příjmení."
    nickname: "Přezdívka"
    birthdate: "Datum narození"
    birthdate_empty: "Zadejte datum narození."
    street: "Ulice"
    street_empty: "Zadejte ulici."
    street_format: "Zadejte ulici ve správném formátu."
    city: "Město"
    city_empty: "Zadejte město."
    postcode: "PSČ"
    postcode_empty: "Zadejte PSČ."
    postcode_format: "Zadejte PSČ ve správném formátu."
    state: "Stát"
    state_empty: "Zadejte stát."
    roles: "Role"
    required_roles_not_selected: "K roli %role% musíte mít vybrané role: %requiredRoles%."
    incompatible_roles_selected: "Není možné kombinovat roli %role% s rolemi: %incompatibleRoles%."
    roles_empty: "Musí být vybrána alespoň jedna role."
    role_is_not_registerable: "Registrace do některé z rolí již není možná."
    capacity_occupied: "Všechna místa v některé roli jsou obsazena."
    arrival: "Příjezd"
    departure: "Odjezd"
    agreement: "Souhlasím, že uvedené údaje budou poskytnuty lektorům pro účely semináře."
    agreement_empty: "Musíte souhlasit s poskytnutím údajů."
    register: "Přihlásit se"
    register_synchronization_failed: "Synchronizace se skautIS se nepodařila. Zkuste se znovu přihlásit a upravit údaje v profilu."
    register_successful: "Přihláška byla úspěšně odeslána."

blocks_content:
    uncategorized: "Nezařazené"
    categories: "Kategorie"
    category: "Kategorie:"
    lector: "Lektor:"
    duration: "Délka:"
    capacity: "Kapacita:"
    capacity_unlimited: "Neomezená"
    about_block: "O programovém bloku"
    about_lector: "O lektorovi"
    all_blocks: "Všechny programové bloky"

capacities_content:
    list_empty: "Žádné role nemají veřejnou obsazenost."
    occupied_limited: "Obsazeno %occupied% z %total%"
    occupied_unlimited: "Obsazeno %occupied%"

document_content:

faq_content:
    login_required_begin: "Pro položení otázky se musíte"
    login_required_link: "přihlásit přes skautIS"
    login_required_end: "."
    add_question_heading: "Nenašli jste odpověď na svoji otázku? Zeptejte se."

    question: "Otázka"
    question_empty: "Zadejte otázku."
    add_question: "Položit dotaz."
    add_question_successful: "Otázka byla úspěšně přidána. Dle uvážení organizátorů bude odpověď zveřejněna."

programs_content:
#    unapprovedLoginPrograms: "Vaše role nemá právo zapisovat si programy"

users_content:
    list_empty: "Žádný uživatel k zobrazení."