<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">

    <title>{_admin.common.title, [seminar_name => $seminarName]}</title>

    <link rel="shortcut icon" href="{$basePath}/favicon.ico">

    {control css}
    {control js}

    {block head}{/block}
</head>

<body>

{import 'components/main-menu.latte'}
{include main-menu}

<div class="container-fluid" id="wrapper">
    <div id="content" class="row-fluid">
        {if $sidebarVisibility}
            <div id="sidebar" class="col-sm-3">
                {include #sidebar}
            </div>
        {/if}

        <div id="main" class="{if $sidebarVisibility}col-sm-9{else}col-sm-12{/if}">
            <div id="messages" class="row" n:if="$flashes"> {* TODO: mizeni hlasek *}
                <div class="col-sm-12">
                    <div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type" role="alert">
                        {$flash->message|noescape}
                        <button type="button" class="close" data-dismiss="alert">×</button>
                    </div>
                </div>
            </div>

            {include #main}
        </div>
    </div>

    <hr>

    <footer>
        <p>{$footer|noescape}</p>
    </footer>
</div>
</body>
</html>




