<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">

    <title>{_admin.common.title, [seminar_name => $seminarName]}</title>

    <link rel="shortcut icon" href="{$basePath}/favicon.ico">

    {control css}
    {control js}

    {block head}{/block}
</head>

<body>
<div id="main-menu">
    {import 'components/main_menu.latte'}
    {include main-menu}
</div>

<div class="container-fluid">
    <div id="messages" class="row-fluid" n:if="$flashes"> {* TODO: mizeni hlasek *}
        <div class="container-fluid">
            <div class="col-sm-12">
                <div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type" role="alert">
                    {$flash->message|noescape}
                    <button type="button" class="close" data-dismiss="alert">×</button>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="row-fluid">
        <div class="container-fluid">
            {if $sidebarVisibility}
                <div id="sidebar" class="col-sm-3">
                    {include #sidebar}
                </div>
            {/if}

            <div id="main" class="{if $sidebarVisibility}col-sm-9{else}col-sm-12{/if}">
                {include #main}
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>{$footer|noescape}</p>
    </footer>
</div>
</body>
</html>




