{* This is the welcome page, you can delete it *}
{block progress}75%{/block}
{block header}Vytvoření admin účtu{/block}
{block content}
<p>
    Pro vytvoření administrátorského účtu se prosím přihlaste přes skautIS.
</p>

<a class="btn btn-large" href="{plink :Auth:login, 'backlink' => $backlink}">Přihlásit přes skautIS</a>