{* This is the welcome page, you can delete it *}
{block progress}100%{/block}
{block header}Dokončení{/block}
{block content}
{if $installedEarlier}
<p>Instalace systému byla již provedena.</p>
    {else}
<p>Byla vám nastavena Administrátorská role, pokračujte na <a href="{plink :Front:page:default}">Homepage</a> nebo do <a
        href="{plink :Back:Dashboard:default}">administrace systému</a> a začněte jej používat (bude vyžadováno nové
    přihlášení).</p>
{/if}