{* This is the welcome page, you can delete it *}
{block header}Inicializační data{/block}
{block content}


<a class="btn btn-large" href="{link importDB!}">Nahrát schéma databáze a naimportovat inicializační data</a>
