{* This is the welcome page, you can delete it *}
{block progress}25%{/block}
{block header}Inicializační data{/block}
{block content}
<p>
    Pokračujte nahráním inicializačních dat. Je žádoucí, aby databáze neobsahovala tabulky např. z předchozí instalace systému.
</p>

<a class="btn btn-large" href="{link importDB!}">Nahrát schéma databáze a naimportovat inicializační data</a>
