{block progress}50%{/block}
{block header}Konfigurace skautIS{/block}
{block content}
<p>
    Pro správnou funkčnost systému je třeba jej propojit se systémem skautIS. Pokud nedisponujete skautIS App ID nebo nevíte o co se jedná,
    kontaktujte <a href="http://is.skaut.cz/napoveda/Technicka-podpora-Junaka.ashx">technickou podporu Junáka</a>.
</p>
{form skautISForm}
<table>
    <tr>
        <td>{label skautis_app_id /}</td>
        <td>{input skautis_app_id}</td>
        {*<td>Toto pole je povinné, jinak nebude možné se do systému přihlásit!</td>*}
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>{input submit}</td>
        {*<td>&nbsp;</td>*}
    </tr>
</table>
{/form}
