{block main}
    <h2>{_admin.configuration.subevents_heading}</h2>
    {control subeventsGrid}

    <h2>{_admin.configuration.subevents_configuration_heading}</h2>
    <div class="card card-body bg-light">
        {control subeventsForm}
    </div>
{/block}