{block main}
    <h2>{_admin.configuration.subevents_edit_heading, ['name' => $editedSubevent->getName()]}</h2>
    <div class="card card-body bg-light pb-1">
        {control subeventForm}
    </div>
{/block}

