{* This is the welcome page, you can delete it *}
{extends '../CMSlayout.latte'}

{block title}
CMS » Stránky
{/block}

{block head}
<script type="text/javascript" src="{$basePath}/js/jquery.slug.js"></script>
{/block}

{block content}

<div class="row-fluid">
    <div class="span9">
        <div class="navbar">
            <a class="btn btn-success" href="#addPage" data-toggle="modal"><i class="icon-plus-sign"></i>Přidat stránku</a>
            <a class="btn hidden btn-primary" id="sortPages" href="#">Uložit pořadí stránek</a>
        </div>
        {snippet pagelist}

        <table class="table-bordered table-striped">
            <tbody class="sortable" id="pageList">
            <tr n:foreach="$pages as $page" id="page-{$page->id}">
                <td class="sort-arrow"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
                <td>{$page->name}</td>
                <td>
                    {if $page->public}
                     <span class="label label-success">Publikováno</span>
                    {else}
                     <span class="label label-warning">Koncept</span>
                    {/if}
                </td>
                <td>
                    <a class="btn" href="{plink page $page->id, 'main'}">
                        Upravit
                    </a>
                </td>
            </tr>
            </tbody>
        </table>


            <script>

                function savePagePositions(data) {

                    var url = {link sortPages!};
                    url = url.replace('\\', '');
                    $.get("?do=sortPages", data );
                }


                $(document).ready(function() {
                    var fixHelper = function(e, ui) {
                        ui.children().each(function() {
                            $(this).width($(this).width());
                        });
                        return ui;
                    };


                    $('#pageList').sortable({
                        helper: fixHelper,
                        update: function( event, ui ) {
                            $('#sortPages').removeClass('hidden');
                        }
                    })
                    $('#sortPages').click(function() {
                        var sorted = $( "#pageList" ).sortable( "serialize", { key:'pages[]' } );
                        savePagePositions(sorted);
                    });
                    $('#sortPages').addClass('hidden');

                });
            </script>


        {/snippet}



    </div>
</div>



{include 'includes/addPage.latte'}
{/block}
