{**
 *
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<title>{block title|striptags}{/block} | SRS</title>

    {widget cssLoader 'front/reset.css', 'front/layout.css', 'front/design.css', 'jquery-ui/jquery-ui.css'}
    {widget jsLoader 'jquery-1.8.2.min.js', 'netteForms.js', 'jquery-ui.js'}
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}

    <script>
        $(document).ready(function() {
            $('.message').delay(5000).fadeOut();
        });
    </script>

</head>

<body>
	<script> document.body.className+=' js' </script>
    <div n:foreach="$flashes as $flash" class="message {$flash->type}">
        <div class="flash">{$flash->message}</div>
    </div>

    <div id="container">
        <div id="header">
            <div id="logo" class="shadow">
                <a href="{plink :Front:page:default}"><img src="{$basePath}/img/logo.png" alt="logo"></a>
            </div>

            {block top_menu}
            <div id="top-menu">

                <ul>
                    {if !$user->isLoggedIn()}
                    <li><span class="ui-icon ui-icon-locked" style="display:block; float: left;"></span><a href="{plink :Auth:login, 'backlink' => $backlink}">Přihlásit</a></li>
                    {else}
                    <li>Přihlášen jako: <strong>{$user->identity->object->username}</strong> (v roli {$user->roles[0]})</li>
                    <li><span class="ui-icon ui-icon-unlocked" style="display:block; float: left;"></span><a href="{plink :Auth:logout, 'backlink' => $backlink}">Odhlásit</a></li>
                    {/if}
                    <li><a href="{$basePath}/admin">Administrace</a></li>
                </ul>
            </div>
            {/block}


            <div id="main-menu">
            {block main_menu}
              {widget menu}
            {/block}
            </div>
        </div>



        <div id="main">
        {block main}

            <div id="content">

                {include #content}

            </div>
            <div id="sidebar">
            {block sidebar}

            {/block}
            </div>
        {/block}
        </div>


    </div>

    <div id="footer">
    {block footer}
        <ul class="bulleted">
            <li><a href="#">lorem ipsum</a></li>
            <li><a href="#">lorem ipsum</a></li>
        </ul>
    {/block}
    </div>





</body>
</html>
