body {
    font-family: sans-serif;
    font-size: 12px;
}

.table thead tr td,
.table thead tr th,
.table tbody tr td,
.table tbody tr th,
.table tfoot tr td,
.table tfoot tr th {
    text-align: left;
}

.table thead tr td,
.table tbody tr td,
.table tbody tr th,
.table tfoot tr td,
.table tfoot tr th {
    border-color: #000;
    border-top: 1px solid #000;
    vertical-align: top;
}
.table thead tr th {
    border-color: #000;
    border-top: 1px solid #000;
    border-bottom: 2px solid #000;
    vertical-align: bottom;
}

.table-borderless thead tr td,
.table-borderless thead tr th,
.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless tfoot tr td,
.table-borderless tfoot tr th {
    border: none;
}

.text-right, .table .text-right {
    text-align: right;
}