.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {width: 100%;}
.col-xs-11 {width: 91.66666666666666%;}
.col-xs-10 {width: 83.33333333333334%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.66666666666666%;}
.col-xs-7 {width: 58.333333333333336%;}
.col-xs-6 {width: 45.33333333333333%;}
.col-xs-5 {width: 41.66666666666667%;}
.col-xs-4 {width: 33.33333333333333%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.666666666666664%;}
.col-xs-1 {width: 8.333333333333332%;}
