{var $robots = noindex}
{extends '../../FrontModule/templates/@layout.latte'}
{block #content}

<h1 n:block=title>Stránka nenalezena</h1>

<p>Omlouváme se, ale danou stránku nelze zobrazit. Je pravděpodobné, že adresa je špatně zadaná nebo daná stránka již
    neexistuje.</p>
<p>{$message}</p>

<p>
    <small>error 404</small>
</p>
