{block sidebar}
    <div class="well">
        <ul class="nav nav-pills nav-stacked">
            <li {ifCurrent Seminar:*}class="active"{/ifCurrent}>
                <a href="{plink Seminar:default}">{_admin.configuration.menu_seminar}</a>
            </li>

            <li {ifCurrent Program:*}class="active"{/ifCurrent}>
                <a href="{plink Program:default}">{_admin.configuration.menu_program}</a>
            </li>

            <li {ifCurrent Subevents:*}class="active"{/ifCurrent}>
                <a href="{plink Subevents:default}">{_admin.configuration.menu_subevents}</a>
            </li>

            <li {ifCurrent Discounts:*}class="active"{/ifCurrent}>
                <a href="{plink Discounts:default}">{_admin.configuration.menu_discounts}</a>
            </li>

            <li {ifCurrent Payment:*}class="active"{/ifCurrent}>
                <a href="{plink Payment:default}">{_admin.configuration.menu_payment}</a>
            </li>

            <li {ifCurrent Application:*}class="active"{/ifCurrent}>
                <a href="{plink Application:default}">{_admin.configuration.menu_application}</a>
            </li>

            <li {ifCurrent Place:*}class="active"{/ifCurrent}>
                <a href="{plink Place:default}">{_admin.configuration.menu_place}</a>
            </li>

            <li {ifCurrent Mailing:*}class="active"{/ifCurrent}>
                <a href="{plink Mailing:default}">{_admin.configuration.menu_mailing}</a>
            </li>

            <li {ifCurrent SkautIs:*}class="active"{/ifCurrent}>
                <a href="{plink SkautIs:default}">{_admin.configuration.menu_skautis}</a>
            </li>

            <li {ifCurrent Web:*}class="active"{/ifCurrent}>
                <a href="{plink Web:default}">{_admin.configuration.menu_web}</a>
            </li>

            <li {ifCurrent System:*}class="active"{/ifCurrent}>
                <a href="{plink System:default}">{_admin.configuration.menu_system}</a>
            </li>
        </ul>
    </div>
{/block}