{block main}
    <h2>{_admin.cms.documents_heading}</h2>
    {snippet documentsGrid}
        {control documentsGrid}
    {/snippet}

    <h2>{_admin.cms.categories_heading}</h2>
    {snippet documentCategoriesGrid}
        {control documentCategoriesGrid}
    {/snippet}
{/block}