{block main}
<h2>{_admin.cms.documents_heading}</h2>
{snippet documentsGrid}
	{control documentsGrid}
{/snippet}

<h2>{_admin.cms.tags_heading}</h2>
{snippet documentTagsGrid}
	{control documentTagsGrid}
{/snippet}
{/block}