{block main}
<h2>{_admin.configuration.application_heading}</h2>
<div class="well">
	{control applicationForm}
</div>

<h2>{_admin.configuration.custom_inputs_heading}</h2>
{control customInputsGrid}
{/block}