a {
	color: #a2a614;
}

input {
	border: 1px solid #a2a614;
	box-shadow: 1px 2px 4px #a2a614;
	-webkit-box-shadow: 1px 2px 4px #a2a614;
	-moz-box-shadow: 1px 2px 4px #a2a614;
}

input:focus {
	border: 1px solid #27a6df;
	box-shadow: 1px 2px 4px #27a6df;
	-webkit-box-shadow: 1px 2px 4px #27a6df;
	-moz-box-shadow: 1px 2px 4px #27a6df;
}

input[type="submit"] {
	color: black;
	background: white;
}

input[type="submit"]:hover {
	border: 1px solid #27a6df;
	box-shadow: 1px 2px 4px #27a6df;
	-webkit-box-shadow: 1px 2px 4px #27a6df;
	-moz-box-shadow: 1px 2px 4px #27a6df;
}

textarea {
	border: 1px solid #a2a614;
	box-shadow: 1px 2px 4px #a2a614;
	-webkit-box-shadow: 1px 2px 4px #a2a614;
	-moz-box-shadow: 1px 2px 4px #a2a614;
}

textarea:focus {
	border: 1px solid #27a6df;
	box-shadow: 1px 2px 4px #27a6df;
	-webkit-box-shadow: 1px 2px 4px #27a6df;
	-moz-box-shadow: 1px 2px 4px #27a6df;
}

.shadow {
	box-shadow: #27a6df 0px 2px 12px;
	-webkit-box-shadow: #27a6df 0px 2px 12px;
	-moz-box-shadow: #27a6df 0px 2px 12px;
}

#container, #footer {
	box-shadow: black 0px 2px 12px;
	-webkit-box-shadow: black 0px 2px 12px;
	-moz-box-shadow: black 0px 2px 12px;
}

#container #header #main-menu li a {
	border: 1px solid #a2a614;
	box-shadow: 1px 2px 4px #a2a614;

}


#container #header #login a{
	box-shadow: 1px 2px 4px #a2a614;
	border: 1px solid #a2a614;
}
