body {
	font-family: Arial, Helvetica, sans-serif;
	width: 1200px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	opacity: 0.6;
}




ul, li {
    list-style-type: none;
}

ul.bulleted > li {
	list-style-type: disc !important;
	margin-left: 10px !important;
 }



#container {
	overflow: hidden;

}

#container #header {
	overflow: hidden;
}

#container #header #logo {
	width: 380px;
	height: 125px;
	text-align: center;
	margin-top: 10px;
	margin-left: 15px;
	margin-bottom: 20px;
	border-radius: 8px;
	float: left;
}

#container #header #logo img {
	max-width: 375px;
	max-height: 120px;
}

#container #header #logo img a {
	display: block;
}

#container #header #top-menu {
	width: 240px;
	height: 125px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	text-align: center;
}

#container #header #top-menu li {
    float: left;
    display: block;
    padding-left: 5px;
}



#container #header #main-menu {
	width: 70%;
	overflow: hidden;
}

#container #header #main-menu li {
	list-style-type: none;


	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 10pt;
	font-weight: bold;
	float: left;
	margin-left: 15px;
	margin-bottom: 10px;
	text-align: center;
	width: auto;
	height: 20px;
	display: block;
}

#container #main {
	padding-left: 25px;
	padding-top: 10pt;
	padding-bottom: 40px;
	overflow: hidden;
}

#container #main #content {
	float: left;
	width: 64%;
	padding-bottom: 15px;
}

#container #main .box {
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 25px;
	margin-top: 15px;
}

#container #main .box a {
	display: block;
	font-size: 10pt;
	color: black;
	margin-bottom: 2px;
	text-decoration: underline;

}

#container #main .box p {
	margin-bottom: 10px;
}

#container #main #sidebar {
	float: right;
	border-radius: 8px;
	width: 32%;
	min-height: 100%;
	margin-left: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}


#footer {
	height:90px;
	padding: 15px;
	border-radius: 0px 0px 8px 8px;
}