@import url("lib/bootstrap.min.css");

ul, li {
    list-style-type: disc !important;
}

ul.no-bullets > li {
	list-style-type: none !important;
	margin-left: 0px !important;
 }

#container {
	overflow: hidden;

}

#container #header {
	overflow: hidden;
}

#container #header #logo {
	float: left;
}

#container #header #top-menu {
	float: right;
}

#container #header #top-menu li {
    float: left;
    display: block;
}

#container #header #main-menu {
	overflow: hidden;

}

#container #header #main-menu li {
	list-style-type: none;
	float: left;

}

.pageContents {
    overflow: hidden;
}

.fc-event {
    cursor: pointer !important;
}

.contentImageWrapper .image {

}

.contentImageWrapper {
    margin: 5px;
}

.contentImageWrapper.left {
    float: left;
}

.contentImageWrapper.right {
    float: right;
}

.contentImageWrapper.center {
    margin: 0 auto;
}



