div {

}

#container {
    width: 1200px;
    margin: 0 auto;
}

#logo {
    min-width: 300px;
    min-height: 100px;
    border: 1px solid yellow;
}

#menu {
    overflow: hidden;

}

#menu li {
    float: left;
    list-style-type: none;
    margin-left: 10px;
}

#main {
    overflow: hidden;
}

#content {
    width: 900px;
    float: left;


}

#sidebar {
    width: 300px;
    float: right;

}

#footer {

    border:1px solid red;
}