/*twitter bootstrap grid*/
@import url("lib/bootstrap.min.css");

/*zakladni styly*/
ul, li {
    list-style-type: disc !important;
}

ul.no-bullets > li {
	list-style-type: none !important;
	margin-left: 0px !important;
}

ul.no-margin {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

#container {
	overflow: hidden;

}

#container #header {
	overflow: hidden;
}

#container #header #logo {
	float: left;
}

#container #header #top-menu {
	float: right;
}

#container #header #top-menu li {
    float: left;
    display: block;
}

#container #header #main-menu {
	overflow: hidden;

}

#container #header #main-menu li {
	list-style-type: none;
	float: left;

}

.pageContents {
    overflow: hidden;
}


/*image content*/
.contentImageWrapper {
    margin: 5px;
}

.contentImageWrapper.left {
    float: left;
}

.contentImageWrapper.right {
    float: right;
}

.contentImageWrapper.center {
    margin: 0 auto;
}


/*program content*/
.fc-event {
    cursor: pointer !important;
}

#app {
    overflow: hidden;
}

#jsMessages {
    position: fixed;
    top: 250px;
    z-index:999;
    width: 150px;
}

/* formulare */
label.required:after, tr.required label:after {
    content: " *";
    color: #ff0000;
    font-weight: bold;
}




