{* This is the welcome page, you can delete it *}
{extends 'layout.latte'}
{block title}
Práva & Role » Role
{/block}
{block content}

<div class="navbar">
    <a class="btn btn-success" href="#addRole" data-toggle="modal"><i class="icon-plus-sign"></i>Přidat roli</a>
</div>
<table class="table-bordered table-striped table-roles">
   <thead>
   <th>Název role</th>
   <th>Systémová</th>
   <th>Operace</th>
   </thead>
   <tbody>
   {foreach $roles as $role}
    <tr><td>{$role->name}</td>
        <td>{if $role->isSystem()}ANO{else}NE{/if}</td>
        <td>
            <a class="btn" href="{plink Acl:editRole $role->id}">Upravit</a> &nbsp;&nbsp;
            {if !$role->isSystem()}<a class="btn btn-danger confirm" href="{link deleteRole! $role->id}">Smazat</a>{/if}
            <a class="btn" href="{link loginas! $role->id}">Přihlásit se pod touto rolí</a> &nbsp;&nbsp;
        </td>
    </tr>
   {/foreach}
   </tbody>
</table>

{include '../includes/confirm_dialog.latte' 'confirmDialogText' => 'Při smazání role bude všem uživatelům s touto rolí nastavena role Registrovaný'}
{include 'includes/addRole.latte'}




{/block}
