services:
    - App\Model\Settings\Repositories\SettingsRepository

    - class: App\Model\Settings\Queries\Handlers\SettingBoolValueQueryHandler
      tags:
        messenger.messageHandler:
        bus: queryBus

includes:
- ../../config/common.neon