{* This is the welcome page, you can delete it *}
{extends '../CMSlayout.latte'}

{block title}
Tag
{/block}



{block content}
<h1> {ifset $tag}Úprava štítku {$tag->name} {else}Nový Štítek{/ifset}</h1>
    {widget tagForm}
{/block}
