{* This is the welcome page, you can delete it *}
{extends '../CMSlayout.latte'}

{block title}
CMS » Stránky
{/block}

{block head}
<script type="text/javascript" src="{$basePath}/js/jquery.slug.js"></script>
{/block}

{block content}


<div class="navbar">
    <a class="btn btn-success" href="#addTag" data-toggle="modal"><i class="icon-plus-sign"></i>Přidat Štítek</a>

</div>
<table class="table-bordered table-striped">
    <tbody>
    <tr n:foreach="$tags as $tag" id="tag-{$tag->id}">
        <td>{$tag->name}</td>
        <td>
            <a class="btn" href="{plink tag $tag->id}">
                Upravit
            </a>
            &nbsp;&nbsp;
            <a rel='tooltip'
               title='Smazáním se tento štítek odebere všem příslušným dokumentům. Dokument samotný zůstane zachován.'
               class="btn btn-danger confirm" href="{link deleteTag! $tag->id}">
                Smazat
            </a>
        </td>
    </tr>
    </tbody>
</table>

<script>
    $('a[rel=tooltip]').tooltip();
</script>

{include '../../../templates/includes/confirm_dialog.latte'}
{include 'includes/addTag.latte'}


{/block}
