{block head}
    {include '../../../../Presenters/templates/includes/tinymce_init.latte'}
{/block}

{block main}
    <h2>{_admin.cms.faq.form.add_heading}</h2>
    <div class="card card-body bg-light pb-1 mb-3">
        {control faqForm}
    </div>
{/block}