{block head}
    {include '../../../../Presenters/templates/includes/tinymce_init.latte'}
{/block}

{block main}
    <h2>{_admin.cms.faq_edit_heading}</h2>
    <div class="card card-body bg-light">
        {control faqForm}
    </div>
{/block}