{import 'sidebar.latte'}

{block main}
    <h2>{_admin.configuration.payment_heading}</h2>
    {control paymentConfigurationForm}

    <h2>{_admin.configuration.payment_proof_heading}</h2>
    {control paymentProofConfigurationForm}
{/block}