{block sidebar} {*TODO překlad*}
    <div class="well">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" {ifCurrent Configuration:seminar}class="active"{/ifCurrent}>
                <a href="{plink Configuration:seminar}">Seminář</a>
            </li>

            <li role="presentation" {ifCurrent Configuration:program}class="active"{/ifCurrent}>
                <a href="{plink Configuration:program}">Program</a>
            </li>

            <li role="presentation" {ifCurrent Configuration:payment}class="active"{/ifCurrent}>
                <a href="{plink Configuration:payment}">Platba a doklady</a>
            </li>

            <li role="presentation" {ifCurrent Configuration:application}class="active"{/ifCurrent}>
                <a href="{plink Configuration:application}">Přihláška</a>
            </li>

            <li role="presentation" {ifCurrent Configuration:skautIs}class="active"{/ifCurrent}>
                <a href="{plink Configuration:skautIs}">SkautIS</a>
            </li>

            <li role="presentation" {ifCurrent Configuration:system}class="active"{/ifCurrent}>
                <a href="{plink Configuration:system}">Systém</a>
            </li>
        </ul>
    </div>
{/block}