{extends '../@layout.latte'}
{block sidebar}
<li class="nav-header">CMS</li>
<li {ifCurrent :Back:CMS:pages}class="active"{/ifCurrent}><a href="{plink :Back:CMS:pages}">Stránky</a></li>
<li {ifCurrent :Back:CMS:documents}class="active"{/ifCurrent}><a href="{plink :Back:CMS:documents}">Dokumenty</a></li>
<li {ifCurrent :Back:CMS:tags}class="active"{/ifCurrent}><a href="{plink :Back:CMS:tags}">Štítky Dokumentů</a></li>
{/block}