{* This is the welcome page, you can delete it *}


{block sidebar_wrapper}

{/block}

{block content_width}12{/block}

{block title}
Nástěnka
{/block}

{block content}
<div class="well">
    <h1>Vítejte v systému SRS!</h1>

    <p>
    <ul>
        <li>
            Pokud jste v systému poprvé nebo s ním nejste zcela srozuměni, přečtěte si <a
                href="http://srs.skauting.cz/wiki" target="_blank">uživatelskou příručku</a>.
        </li>
    </ul>
    </p>
</div>
{/block}
