/** rozvrzeni stranek */

ul.no-bullets > li {
    list-style-type: none !important;
    margin-left: 0px !important;
}

ul.no-margin {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

#flashes .alert {
    margin-top: 10px;
}

#header {
    margin-top: 20px;
}

#logo {
    float: left;
}

#user-menu {
    float: right;
    margin-top: 5px;
    width: auto;
}

#user-menu ul {
    float: right;
    margin: 0;
    padding: 0;
}

#user-menu li {
    font-size: 12px;
    line-height: 2em;
    float: left;
    display: block;
    margin-left: 5px;
}

#main-menu {
    margin-top: 15px;
}

#main-menu nav {
    margin-bottom: 0;
}

/* image content */
.image-wrapper {
    margin: 10px 0;
}

.image-wrapper.left {
    float: left;
    margin-right: 10px;
}

.image-wrapper.right {
    float: right;
    margin-left: 10px;
}

.image-wrapper.center {
    margin: 10px auto;
}

/* programs content */
.programs-content .notifications .alert {
    padding: 6px 15px;
}

/* tabulka bez ramecku */
.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}

/* tabulka bez ramecku a okraju, pro kombinaci s formulari */
.table-form {
    margin-bottom: 0;
}

.table-form tbody tr td,
.table-form tbody tr th,
.table-form thead tr th,
.table-form thead tr td,
.table-form tfoot tr th,
.table-form tfoot tr td {
    border: none;
}

.table-form tbody tr th,
.table-form thead tr th,
.table-form tfoot tr th {
    padding-left: 0;
}

/* popisky ve formularich vlevo */
.control-label {
    text-align: left !important;
}

/* vypnuti responzivity*/
body {
    min-width: 768px;
}

#main-menu .navbar-nav {
    float: left;
    margin: 0;
}

#main-menu .navbar-nav > li {
    float: left;
}

#main-menu .navbar-nav > li > a {
    padding: 15px;
}

