/* rozvrzeni stranek */
ul.no-bullets > li {
    list-style-type: none !important;
    margin-left: 0px !important;
}

ul.no-margin {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

#wrapper {
    min-width: 768px;
}

#messages {
    margin-top: 10px;
}

#messages .alert {
    margin-bottom: 10px;
}

#header {
    margin-top: 20px;
}

#logo {
    float: left;
}

#user-menu {
    float: right;
    margin-top: 5px;
    width: auto;
}

#user-menu ul {
    float: right;
    margin: 0;
    padding: 0;
}

#user-menu li {
    font-size: 12px;
    line-height: 2em;
    float: left;
    display: block;
    margin-left: 5px;
}

#main-menu {
    margin-top: 15px;
}

#main-menu nav {
    margin-bottom: 0;
}

#main-menu .navbar-nav {
    float: left;
    margin: 0;
}

#main-menu .navbar-nav > li {
    float: left;
}

#main-menu .navbar-nav > li > a {
    padding: 15px;
}

.page-heading {
    margin-bottom: -10px; /* TODO bud jen tady, nebo u kazde radky */
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}



