{* This is the welcome page, you can delete it *}
{extends '../CMSlayout.latte'}

{block title}
Aktualita
{/block}

{block head}
    {widget jsLoader 'tiny_mce/jquery.tinymce.js'}
{include 'includes/tinymce_init.latte'}
{/block}

{block content}
<h1> {ifset $item}Úprava Aktuality{else}Nová Aktualita{/ifset}</h1>

    <div class="well newsForm">
    {widget newsForm}
    </div>


<script>
    $(function() {
        $(".datepicker").datepicker({

        });
    });
</script>
{/block}
