{extends '../@layout.latte'}
{block sidebar_wrapper}

{/block}

{block content_width}12{/block}

{block title}
Mailing
{/block}
{block head}
    {widget jsLoader 'tiny_mce/jquery.tinymce.js'}
{include 'includes/tinymce_init.latte'}
{/block}
{block content}
<h1>Mailing</h1>
Všechny maily jsou rozeslány jako skrytá kopie.
{widget mailingForm}
{/block}