{define main-menu $pages}
    <nav class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav">
                {foreach $pages as $item}
                    {if $item->getSlug() == '/'}
                        <li n:class="$presenter->isLinkCurrent(':Web:Page:default', ['slug' => null]) ? active">
                            <a href="{plink :Web:Page:default}">{$item->getName()}</a>
                        </li>
                    {else}
                        {if $item->isAllowedForRoles($user->roles)}
                            <li n:class="$presenter->isLinkCurrent(':Web:Page:default', ['slug' => $item->getSlug()]) ? active">
                                <a href="{plink :Web:Page:default, 'slug' => $item->getSlug()}">{$item->getName()}</a>
                            </li>
                        {/if}
                    {/if}
                {/foreach}
            </ul>
        </div>
    </nav>
{/define}