{define main-menu $pages}
    <nav class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav">
                {foreach $pages as $page}
                    {if $page->getSlug() == '/'}
                        <li class="{ifCurrent :Web:Page:default, 'pageId' => null}active{/ifCurrent}">
                            <a href="{plink :Web:Page:default}">{$page->getName()}</a>
                        </li>
                    {else}
                        {if $page->isAllowedToRoles($user->roles)}
                            <li class="{ifCurrent :Web:Page:default, 'pageId' => $page->id}active{/ifCurrent}">
                                <a href="{plink :Web:Page:default, 'pageId' => $page->getId()}">{$page->getName()}</a>
                            </li>
                        {/if}
                    {/if}
                {/foreach}
            </ul>
        </div>
    </nav>
{/define}