{include '../../../presenters/templates/includes/tinymce_init.latte'}

<script>
	$(function () {
		//nastaveni trid a identifikatoru pro spravnou funkcnost mazani a razeni contentu
		$('.contents-item').each(function () {
			var id = $(this).find('input.id').val();
			$(this).attr('id', 'content-' + id);
			$(this).find('.delete-content').attr('href', '#content-' + id);
		});

		//razeni contentu
		$('#contents').sortable({
			delay: 300,
			update: function (event, ui) {
			},
			start: function (event, ui) {
			},
			stop: function (event, ui) {
				$('.tinymce').each(function () {
					tinymce.EditorManager.execCommand('mceRemoveEditor', false, $(this).attr('id'));
					tinymce.EditorManager.execCommand('mceAddEditor', false, $(this).attr('id'));
				});

				var sorted = $("#contents").sortable("toArray");
				for (var i = 0; i < sorted.length; i++) {
					$('#' + sorted[i]).find('input.position').val(i + 1);
				}
			}
		});

		//mazani contentu
		$('.delete-content').click(function (event) {
			event.preventDefault();

			var contentToDelete = $(this).attr('href').replace('#', '');
			$('#' + contentToDelete + ' .delete').val(1);

			var contentToDeleteSelector = $('#' + contentToDelete);
			contentToDeleteSelector.find('input[type=text]').prop('disabled', true).val('');
			contentToDeleteSelector.find('input[type=file]').prop('disabled', true).val('');
			contentToDeleteSelector.find('textarea').prop('disabled', true).val('');
			contentToDeleteSelector.fadeOut();
		});
	});
</script>

{form form class => form-horizontal}
    <div class="well-tabs">
        <ul class="nav nav-tabs nav-justified">
            <li n:class="$area == 'main' ? active">{input submitMain}</li>
            <li n:class="$area == 'sidebar' ? active">{input submitSidebar}</li>
        </ul>

        <div class="well">
            <div class="form-group">
                {var $input = $form->getComponent('type')}
                <div class="col-sm-3 col-xs-3 control-label">
                    <label for="{$input->htmlId}">
                        {_$input->caption}
                    </label>
                </div>
                <div class="col-sm-9 col-xs-9">
                    {input $input}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3 col-xs-3 control-label"></div>
                <div class="col-sm-9 col-xs-9">
                    {input submitAdd class => 'btn btn-primary button'}
                </div>
            </div>
        </div>
    </div>

    <div id="contents">
        {foreach $contents as $content}
            {var $type = $content->getType()}
            {var $id = $content->getId()}

            <div class="panel panel-default contents-item">
                <div class="panel-heading clearfix">
                    <div class="panel-title pull-left">
                        {_common.content.name.$type}
                    </div>
                    <div class="pull-right">
                        <a href="#" class="btn btn-xs btn-danger delete-content">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a href="#" class="btn btn-xs btn-default" onclick="return false;">
                            <i class="fa fa-arrows-v"></i>
                        </a>
                    </div>
                </div>

                <div class="panel-body">
                    {var $container = $form->getComponent($content->getContentFormName())}
                    {foreach $container->getComponents() as $input}
                        {var $prototype = $input->getControlPrototype()}

                        {if $prototype->getAttribute('type') == 'hidden'}
                            {input $input}

                        {elseif $prototype->getAttribute('data-type') == 'image'}
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3 control-label">
                                    <label for="{$input->htmlId}">
                                        {_$input->caption}
                                    </label>
                                </div>
                                <div class="col-sm-9 col-xs-9" style="overflow: hidden">
                                    {var $image = $prototype->getAttribute('data-image')}
                                    {if $image}
                                        <img src="{$basePath}/files/{$image}"
                                             width="{$prototype->getAttribute('data-width')}"
                                             height="{$prototype->getAttribute('data-height')}"/>
                                    {else}
                                        <div style="padding-top: 7px">Žádný obrázek</div>
                                    {/if}
                                </div>
                            </div>

                        {else}
                            <div class="form-group {$input->required ? required}">
                                <div class="col-sm-3 col-xs-3 control-label">
                                    <label for="{$input->htmlId}">
                                        {_$input->caption}
                                    </label>
                                </div>
                                <div class="col-sm-9 col-xs-9">
                                    {input $input}
                                </div>
                            </div>
                        {/if}
                    {/foreach}
                </div>
            </div>
        {/foreach}
    </div>

    <div class="well">
        <div class="form-group">
            <div class="col-sm-3 col-xs-3"></div>
            <div class="col-sm-9 col-xs-9">
                {input submit class => 'btn btn-primary button'} {input submitAndContinue class => 'btn btn-default button'}
                <a href="{plink Pages:default}" class="btn btn-warning">{_admin.common.cancel}</a>
            </div>
        </div>
    </div>
{/form}