{include '../../../Presenters/templates/includes/tinymce_init.latte'}

<script>
    $(function () {
        // razeni contentu
        $('#contents').sortable({
            delay: 300,
            handle: '.card-header',
            update: function (event, ui) {
            },
            start: function (event, ui) {
            },
            stop: function (event, ui) {
                $('.tinymce').each(function () {
                    tinymce.EditorManager.execCommand('mceRemoveEditor', false, $(this).attr('id'));
                    tinymce.EditorManager.execCommand('mceAddEditor', false, $(this).attr('id'));
                });

                var sorted = $("#contents").sortable("toArray");
                for (var i = 0; i < sorted.length; i++) {
                    $('#' + sorted[i]).find('input.position').val(i + 1);
                }
            }
        });

        // mazani contentu
        $('.delete-content').click(function (event) {
            event.preventDefault();

            var contentToDelete = $(this).attr('href').replace('#', '');
            $('#' + contentToDelete + ' .delete').val(1);

            var contentToDeleteSelector = $('#' + contentToDelete);
            contentToDeleteSelector.find('input[type=text]').prop('disabled', true).val('');
            contentToDeleteSelector.find('input[type=file]').prop('disabled', true).val('');
            contentToDeleteSelector.find('textarea').prop('disabled', true).val('');
            contentToDeleteSelector.fadeOut();
        });
    });
</script>

{form form class => form-horizontal}
    <div class="card-tabs mb-3">
        <ul class="nav nav-tabs nav-justified">
            <li n:class="nav-item, $area == 'main' ? active">{input submitMain class => 'shadow-none'}</li>
            <li n:class="nav-item, $area == 'sidebar' ? active">{input submitSidebar class => 'shadow-none'}</li>
        </ul>
        <div class="card card-body bg-light pb-1">
            <div class="form-group row">
                {var $input = $form->getComponent('type')}
                <div class="col-3 col-form-label">
                    <label for="{$input->htmlId}">
                        {_$input->caption}
                    </label>
                </div>
                <div class="col-9">
                    {input $input}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-9 offset-3">
                    {input submitAdd class => 'btn btn-primary button'}
                </div>
            </div>
        </div>
    </div>

    <div id="contents">
        {foreach $contents as $content}
            {var $type = $content->getType()}
            {var $id = $content->getId()}

            <div id="content-{$id}" class="card contents-item mb-3">
                <div class="card-header">
                    <div class="pull-left">
                        {_common.content.name.$type}
                    </div>
                    <div class="pull-right">
                        <a href="#content-{$id}" class="btn btn-xs btn-danger delete-content">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a href="#" class="btn btn-xs btn-secondary" onclick="return false;">
                            <i class="fa fa-arrows-v"></i>
                        </a>
                    </div>
                </div>

                <div class="card-body pb-1">
                    {var $container = $form->getComponent($content->getContentFormName())}
                    {foreach $container->getComponents() as $input}
                        {var $prototype = $input->getControlPrototype()}

                        {if $prototype->getAttribute('type') == 'hidden'}
                            {input $input}
                        {else}
                            <div class="form-group row {$input->required ? required}">
                                <div class="col-3 col-form-label">
                                    <label for="{$input->htmlId}">
                                        {_$input->caption}
                                    </label>
                                </div>
                                <div class="col-9">
                                    {input $input}
                                </div>
                            </div>
                        {/if}
                    {/foreach}
                </div>
            </div>
        {/foreach}
    </div>

    <div class="card card-body bg-light pb-1">
        <div class="form-group row">
            <div class="col-9 offset-3">
                {input submit class => 'btn btn-primary button'} {input submitAndContinue class => 'btn btn-secondary button'}
                <a href="{plink Pages:default}" class="btn btn-warning">{_admin.common.cancel}</a>
            </div>
        </div>
    </div>
{/form}