{extends '../../templates/@layout.latte'}
{block sidebar_menu}
    <li class="nav-header">Správa obsahu webové prezentace</li>

    <li {ifCurrent :Back:CMS:Page:*}class="active"{/ifCurrent}>
        <a href="{plink :Back:CMS:Page:pages}">Stránky</a>
    </li>

    <li {ifCurrent :Back:CMS:Faq:*}class="active"{/ifCurrent}>
        <a href="{plink :Back:CMS:Faq:default}">FAQ</a>
    </li>

    <li {ifCurrent :Back:CMS:News:*}class="active"{/ifCurrent}>
        <a href="{plink :Back:CMS:News:default}">Aktuality</a>
    </li>

    <li {ifCurrent :Back:CMS:Document:documents}class="active"{/ifCurrent}{ifCurrent :Back:CMS:Document:document}class="active"{/ifCurrent}>
        <a href="{plink :Back:CMS:Document:documents}">Dokumenty</a>
    </li>

    <li>
        <ul class='nav-list'>
            <li {ifCurrent :Back:CMS:Document:tags}class="active"{/ifCurrent}>
                <a href="{plink :Back:CMS:Document:tags}">Štítky dokumentů</a>
            </li>
        </ul>
    </li>

    <li {ifCurrent :Back:CMS:Document:headerfooter}class="active"{/ifCurrent}>
        <a href="{plink :Back:CMS:Document:headerfooter}">Header, Footer</a>
    </li>
{/block}