<ul>
   <li class="login"><a href="{plink :Auth:login}">Login</a></li>
   <li class="logout"><a href="{plink :Auth:logout}">Logout</a></li>
   <li class="admin"><a href="{plink :Back:Dashboard:default}">Admin</a></li>
</ul>
