{extends '../@layout.latte'}

{block head}
    {widget jsLoader 'lib/angular.min.js', 'evidence/userController.js'}
{/block}

{block title}
    {$dbuser->displayName}
{/block}

{block sidebar_menu}
<div ng-app ng-controller="userCtrl">
    <table>
        <tr>
            <td>Vyhledat: </td>
            <td><input type="text" class="input-medium search-query" ng-model="query"></td>
        </tr>
    </table>
    <ul>
        <li ng-repeat="user in users | filter:query"><a ng-href="{{ user.url }}"> {{ user.display_name }}</a></li>
    </ul>
</div>
{/block}

{block content}
<ul class="breadcrumb">
<li><a href="{plink :Back:Evidence:list}">Evidence</a> <span class="divider">/</span></li>
<li class="active">Detail: {$dbuser->displayName}</li>
</ul>
<div class="well">
    {if $dbuser->paymentMethod == 'bank' && $dbuser->paymentDate != null}
        <a class="btn" href={link printPaymentProof! $dbuser->id}>Vytisknout potvrzení o zaplacení na účet</a>
    {elseif $dbuser->paymentMethod == 'cash' && $dbuser->paymentDate != null}
        <a class="btn" href={link printPaymentProof! $dbuser->id}>Vytisknout příjmový doklad</a>
    {/if}
<h1>{$dbuser->displayName}</h1>
<table class="table formTable">
<tr class="success">
<td colspan="2">Základní údaje o osobě</td>
</tr>
<tr>
<th>Uživatelské jméno (skautIS)</th>
<td>{$dbuser->username}</td>
</tr>
<tr>
<th>Jméno</th>
<td>{$dbuser->firstName}</td>
</tr>
<tr>
<th>Příjmení</th>
<td>{$dbuser->lastName}</td>
</tr>
<tr>
<th>Přezdívka</th>
<td>{$dbuser->nickName}</td>
</tr>

<tr>
<th>Email</th>
<td><a href="mailto:{$dbuser->email}">{$dbuser->email}</a></td>
</tr>

<tr>
<th>Datum narození</th>
<td>{$dbuser->birthdate|date:"d.m.Y"}</td>
</tr>
<tr>
<th>Věk</th>
<td>{$dbuser->countAge()}</td>
</tr>
<th>Bydliště</th>
<td>{$dbuser->street}, {$dbuser->city}, {$dbuser->postcode}</td>
</tr>

    <tr class="success">
        <td colspan="2">Údaje o osobě a akci</td>
    </tr>

    <tr>
        <td>Role</td>
        <td>
            {foreach $dbuser->roles as $role}
                {$role->name}{sep}, {/sep}
            {/foreach}
        </td>
    </tr>

    <tr>
        <td>Schválený</td>
        <td>{bool $dbuser->approved}</td>
    </tr>

    <tr>
        <td>První přihlášení</td>
        <td>
            {if $dbuser->firstLogin !== null}
                {$dbuser->firstLogin->format("d.m.Y H:i")}
            {/if}
        </td>
    </tr>

    <tr>
        <td>Poslední přihlášení</td>
        <td>
            {if $dbuser->lastLogin !== null}
                {$dbuser->lastLogin->format("d.m.Y H:i")}
            {/if}
        </td>
    </tr>

    {if $pays}
        <tr>
            <td>Cena</td>
            <td>
                {$dbuser->countFee()['fee']}
            </td>
        </tr>

        <tr>
            <td>Variabilní symbol</td>
            <td>
                {$dbuser->variableSymbol}
            </td>
        </tr>

        <tr>
            <td>Platební metoda</td>
            <td>
                {if $dbuser->paymentMethod !== null}
                    {$paymentMethods[$dbuser->paymentMethod]}
                {/if}
            </td>
        </tr>

        <tr>
            <td>Zaplaceno dne</td>
            <td>
                {if $dbuser->paymentDate !== null}
                {$dbuser->paymentDate->format("d.m.Y")}
                {/if}
            </td>
        </tr>

        <tr>
            <td>Příjmový doklad vytištěn dne</td>
            <td>
                {if $dbuser->incomeProofPrintedDate !== null}
                    {$dbuser->incomeProofPrintedDate->format("d.m.Y")}
                {/if}
            </td>
        </tr>
    {/if}

    <tr>
        <td>Přítomen</td>
        <td>{bool $dbuser->attended}</td>
    </tr>

    {if $dbuser->displayArrivalDeparture()}
        <tr>
            <td>Příjezd</td>
            <td>
                {if $dbuser->arrival !== null}
                    {$dbuser->arrival->format("d.m.Y H:i")}
                {/if}
            </td>
        </tr>

        <tr>
            <td>Odjezd</td>
            <td>
                {if $dbuser->departure !== null}
                    {$dbuser->departure->format("d.m.Y H:i")}
                {/if}
            </td>
        </tr>
    {/if}

    {foreach $customFields as $field}
        <tr>
            <td>{$field['name']}</td>
            <td>{if $field['type'] == 'boolean'}{bool $field['value']}{else}{$field['value']}{/if}</td>
        </tr>
    {/foreach}

    {if $user->isInRole("Administrátor") || $user->isInRole("Organizátor")}
        <tr>
            <td>Neveřejné poznámky</td>
            <td>
                {!$dbuser->note|escape|nl2br}
            </td>
        </tr>
    {/if}

</table>
</div>
{/block}
