{extends '../@layout.latte'}

{block head}
    {widget jsLoader 'lib/angular.min.js'}
{/block}

{block sidebar_wrapper}

{/block}

{block content_width}12{/block}

{block title}
    Výběr role
{/block}

{block content}
<ul class="breadcrumb">
<li><a href="{plink :Back:Evidence:list}">Evidence</a> <span class="divider">/</span></li>
<li class="active">Výběr role</li>
</ul>
<div class="well">
    <table class="table">
        {form evidenceEditRolesForm}
        <tr>
            <td>Role</td>
            <td>{input roles}</td>
        </tr>

        <tr class="warning">
            <td colspan="2">{input submit}</td>
        </tr>
        {/form}
    </table>
</div>
{/block}
