
{extends '../@layout.latte'}

{block sidebar_wrapper}

{/block}

{block content_width}12{/block}

{block title}
Evidence
{/block}

{block content}
<a class="btn" h><i class="icon-print"></i>Vytisknout příjmové doklady</a>
<a class="btn"><i class="icon-print"></i>Vytisknout potvrzení o zaplacení</a>
{widget evidenceGrid}




{/block}
