
<div id="app" ng-app="calendar" ng-controller="FrontCalendarCtrl">
<div class="span2">
    <div class="ajax-loader">
        <img src="{$basePath}/img/ajax-loader.gif">
    </div>
    <div id="jsMessages">

    </div>
</div>

<div class="span7">
    <div id="calendar"></div>
</div>

</div>