<div style="clear:both;">
{if !$user->isLoggedIn()}
<div class="notice">
    Pro výběr programů se musíte neprve <a href="{plink :Auth:login, 'backlink' => $backlink}">přihlásit přes skautIS</a>
</div>
{else}
{if !$isAllowedLogInPrograms}
<div class="notice">
Zapisování programů není v tuto chvíli povoleno.
</div>
{/if}

{if !$userHasPermission}
<div class="notice">
Vaše role nemá právo zapisovat si programy
</div>
{/if}
<div id="app" ng-app="calendar" ng-controller="FrontCalendarCtrl">
<div class="span2">
    <div class="ajax-loader">
        <img src="{$basePath}/img/ajax-loader.gif">
    </div>
    <div class="alert alert-info">
        <a style="float:right;" href="#" class="close" data-dismiss="alert">&times;</a>
        <h3>Instrukce:</h3>
        <ul>
            <li>Najetím myší na název programu zobrazíte více informací o něm</li>
            <li>Kliknutím na program se na něj přihlásítě, opětovným kliknutím přihlášení zrušíte</li>
            <li>Zelené jsou programy, které máte přihlášené</li>
            <li>Šedivé jsou programy, které nelze přihlásit (např. jsou již plné)</li>
            <li>Modré jsou programy, na které se lze přihlásit</li>
        </ul>
    </div>

    <div id="jsMessages">

    </div>
</div>

<div class="span10">
    <div id="calendar"></div>
</div>
    <div id="blockModal" ng-model="event"  class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{{ event.title }}</h3>
        </div>
        <div class="modal-body" >

            <ul ng-show="event.block">
                <li>{{ event.block.lector }}</li>
                <li>{{ event.block.location }}</li>
            </ul>
            <h3>O programu:</h3>
            <p>{{ event.block.perex }}</p>

            <div ng-bind-html-unsafe="event.block.description"></div>
        </div>
        <div class="modal-footer" ng-model="config">
            <span ng-show='config.is_allowed_log_in_programs'>
            <button ng-hide="event.attends" ng-click="attend(event)" class="btn btn-success pull-left">Přihlásit</button>
            <button ng-show="event.attends" ng-click="unattend(event)" class="btn btn-danger pull-left">Odhlásit</button>
            </span>
            <button class="btn pull-right" data-dismiss="modal">Zavřít</button>
        </div>
    </div>



</div>
{/if}
</div>