name: release

on:
  release:
    types: [created]

jobs:
  package:
    name: "Create release package"
    runs-on: ubuntu-20.04
    container:
      image: skaut/lebeda:8.1
    steps:
      - uses: actions/checkout@v2
      # Copy & paste from https://github.com/actions/cache/blob/master/examples.md#php---composer
      - name: Get composer cache
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-
      - name: Install yarn
        run: |
          apt-get update
          apt-get install -y npm
          npm install --global yarn
      #Copy & paste from https://github.com/actions/cache/blob/master/examples.md#node---yarn
      - name: Get yarn cache
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install dependencies
        run: |
          composer self-update
          composer install --no-dev --prefer-dist --optimize-autoloader
          yarn install
          yarn build
          mv app/config/sample.local.neon app/config/local.neon
          rm -f app/config/ci.local.neon app/config/production.local.neon
          find . -name .gitignore -type f -delete
      - name: Zip package
        uses: montudor/action-zip@v0.1.1
        with:
          args: zip -qq -r srs.zip app backup log migrations temp vendor www .htaccess LICENSE README.md
      - name: Upload artifact
        uses: skx/github-action-publish-binaries@release-1.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: 'srs.zip'
