name: test

on: [push, pull_request]

jobs:
  workdir:
    name: "Build"
    runs-on: ubuntu-18.04
    container:
      image: fmasa/lebeda:7.4
    steps:
      - uses: actions/checkout@v2
      # Copy & paste from https://github.com/actions/cache/blob/master/examples.md#php---composer
      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-
      - run: composer install
      - name: Remove development docker-compose override
        run: rm docker-compose.override.yml
      - name: Fix permissions
        run: chown 1000:1000 . -R && chmod 777 . -R
      - name: Create tarball
        run: tar -czpf /tmp/workdir.tar.gz . && mv /tmp/workdir.tar.gz .
      - name: Upload workdir
        uses: actions/upload-artifact@v1
        with:
          name: workdir
          path: workdir.tar.gz

  tests-unit:
    name: "Unit tests"
    runs-on: ubuntu-18.04
    container:
      image: fmasa/lebeda:7.4
    needs: workdir
    steps:
      - name: Download workdir
        uses: actions/download-artifact@v1
        with:
          name: workdir
          path: .
      - name: Extract workdir
        run: tar -xzf workdir.tar.gz
      - run: phing tests-unit

  tests-integration:
    name: "Integration tests"
    runs-on: ubuntu-18.04
    needs: workdir
    steps:
      - name: Download workdir
        uses: actions/download-artifact@v1
        with:
          name: workdir
          path: .
      - name: Extract workdir
        run: tar -xzpf workdir.tar.gz
      - name: Start application containers
        run: docker-compose up -d mysql-test
      - run: docker-compose run -T -u www-data app phing tests-integration

  code-coverage:
    name: "Code coverage"
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-18.04
    needs: workdir
    steps:
      - name: Download workdir
        uses: actions/download-artifact@v1
        with:
          name: workdir
          path: .
      - name: Extract workdir
        run: tar -xzpf workdir.tar.gz
      - name: Start application containers
        run: docker-compose up -d app mysql-test
      - name: Run tests with coverage
        run: docker-compose exec -T -u www-data app phing tests-with-coverage
      - name: Upload code coverage
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: tests/_output/coverage.xml
          fail_ci_if_error: true

  static-analysis:
    name: "PHPStan analysis"
    runs-on: ubuntu-18.04
    container:
      image: fmasa/lebeda:7.4
    needs: workdir
    steps:
      - name: Download workdir
        uses: actions/download-artifact@v1
        with:
          name: workdir
          path: .
      - name: Extract workdir
        run: tar -xzf workdir.tar.gz
      - run: phing static-analysis

  coding-standard:
    name: "Coding standard"
    runs-on: ubuntu-18.04
    container:
      image: fmasa/lebeda:7.4
    needs: workdir
    steps:
      - name: Download workdir
        uses: actions/download-artifact@v1
        with:
          name: workdir
          path: .
      - name: Extract workdir
        run: tar -xzf workdir.tar.gz
      - run: phing coding-standard

  doctrine-migrations:
    name: "Doctrine migrations"
    runs-on: ubuntu-18.04
    container:
      image: fmasa/lebeda:7.4
    services:
      mysql-test:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: 'root'
          MYSQL_DATABASE: srs
          TZ: Europe/Paris
        options: --health-cmd="mysqladmin ping" --health-interval=5s --health-timeout=2s --health-retries=3
    needs: workdir
    steps:
      - name: Download workdir
        uses: actions/download-artifact@v1
        with:
          name: workdir
          path: .
      - name: Extract workdir
        run: tar -xzf workdir.tar.gz
      - name: Create local.neon config
        run: mv app/config/ci.local.neon app/config/local.neon
      - name: Run migrations:migrate
        run: php www/console.php migrations:migrate --no-interaction
