{block head}
    <script>
        var basePath = {$basePath};
    </script>

{*    {control css 'libs/fullcalendar/fullcalendar.min.css'}*}
{*    {control js 'libs/angular/angular.min.js', 'libs/angular-ui-calendar/calendar.js',*}
{*    'libs/angular-ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js', 'libs/fullcalendar/fullcalendar.min.js',*}
{*    'libs/fullcalendar/lang-all.js', 'admin/schedule/app.js'}*}
{/block}

{block main}
    <h2>{_admin.program.schedule.heading}</h2>
    <div class="alert alert-warning alert-forever" n:if="!$isAllowedModifySchedule">
        {_admin.program.schedule.modify_schedule_is_not_allowed_begin}
        <a href="{plink :Admin:Configuration:Program:default}"
           class="alert-link">{_admin.program.schedule.modify_schedule_is_not_allowed_link}</a>{_admin.program.schedule.modify_schedule_is_not_allowed_end}
    </div>

    <div id='calendar'></div>
    <script src="{$basePath}/dist/js/main.min.js"></script>
{/block}

{block sidebar}
    {include #parent}

    <h3>{_admin.program.schedule.blocks_heading}</h3>
    <div id="blocks-list"></div>
{/block}

